{%load static%}
{%include 'tabela.html'%}

    <thead>
        <th data-searchable="false" data-formatter="editarFormatter" data-events="editarEvents"></th>
        <th data-field="id" data-sortable="true">ID</th>
        <th data-field="nome" data-sortable="true">Nome</th>
        <th data-field="cpf" data-sortable="true">CPF</th>
        <th data-field="rg" data-sortable="true">RG</th>
        <th data-field="cnh_id" data-searchable="false" data-sortable="true">CNH</th>
        <th data-field="telefone" data-searchable="false" data-sortable="true">Telefone 1º</th>
        <th data-field="telefone2" data-searchable="false" data-sortable="true">Telefone 2º</th>
        <th data-field="nascimento"data-searchable="false" data-sortable="true" data-formatter="dataFormatter">Nascimento</th>
        <th data-field="estado_civil_id" data-searchable="false" data-sortable="true">Estado civil</th>
        <th data-field="filho" data-searchable="false" data-formatter="checkFormatter">Filho?</th>
        <th data-field="endereco" data-searchable="false" data-sortable="true">Endereço</th>
        <th data-field="bairro" data-searchable="false" data-sortable="true">Bairro</th>
        <th data-field="cidade" data-searchable="false" data-sortable="true">Cidade</th>
    </thead>
</table>
<script>
    function editarFormatter(value) {
        return '<div id="viewBtn" class="btn-icon bg-info"><img src="{% static "icons/file-earmark-text.svg"%}" alt="edit" title="Abrir detalhe"></div></div>'
    }
    window.editarEvents = {
        'click #viewBtn': function (e, value, row, index) {
            page.redirect('consultas/candidato',{id:row['id']})
        },
    }
</script>