{%include 'consulta.html'%}

    <thead>
        <th data-field="id" data-sortable="true">ID</th>
        <th data-field="nome" data-sortable="true">Nome</th>
        <th data-field="funcao_pretendida" data-sortable="true">Função</th>
        <th data-field="pretensao" data-sortable="true">Salário</th>
        <th data-field="banco_talentos" data-sortable="true">Situação</th>
        <th data-field="experiencia">Experiência</th>
        <th data-field="anos_exp" data-sortable="true">Tempo</th>
        <th data-field="avaliacao_final">Avaliação</th>
        <th data-field="ficha" data-sortable="true" data-formatter="checkFormatter">Ficha</th>
        <th data-field="disponibilidade" data-sortable="true" data-formatter="checkFormatter">Viagem</th>
        <th data-field="revisar_dp" data-sortable="true"data-formatter="checkFormatter">revisar_dp</th>
    </thead>
</table>
<script>
    function editarFormatter() {
        return (
            '<div class="btn-icon bg-info bi-pencil fs-6 me-1" id="editarBtn" title="Editar"></div>'
        )
    }
    window.editarEvents = {
        'click #editarBtn': function (e, value, row, index) {
            let obj = new Modal('avaliacao', 'update')
            obj.open(row['id'])
        },
    }
</script>