{%load static%}
{%include 'lancamento_obra/tabela.html'%}
<thead>
    <tr>
        <th data-field="id" data-sortable="true" rowspan="2">Id</th>
        <th data-field="obra_id" data-sortable="true" rowspan="2">CR</th>
        <th data-field="atividade_id" data-sortable="true" rowspan="2">Atividade</th>
        <th data-field="colaborador" data-sortable="true" rowspan="2">Colaborador</th>
        <th data-field="dia" data-sortable="true" rowspan="2" data-formatter="dataFormatter">Data</th>
        <th data-field="descricao" data-sortable="true" rowspan="2">Descrição</th>
        <th colspan="6">Horas</th>
        <th data-field="diaseguinte" data-formatter="checkFormatter"rowspan="2">Plantão</th>
        <th data-field="meiadiaria" data-formatter="checkFormatter" rowspan="2">Meia diaria</th>
        <th data-field="diario" data-formatter="Formatter" rowspan="2">Diario</th>
        <th data-field="editar" data-formatter="editarFormatter" data-events="editarEvents" rowspan="2"></th>
    </tr>
    <tr>

        <th data-field="horaini1">Inicio 1</th>
        <th data-field="horafim1">Fim 1</th>
        <th data-field="horaini2" data-formatter="Formatter">Inicio 2</th>
        <th data-field="horafim2" data-formatter="Formatter">Fim 2</th>
        <th data-field="horaini3" data-formatter="Formatter">Inicio 3</th>
        <th data-field="horafim3" data-formatter="Formatter">Fim 3</th>

    </tr>
</thead>
</table>
<!-- teste -->
<script>
    function editarFormatter(value) {

        return (
            '<div style="margin-left: 0px; display: inline-flex;">'
            + '<div class="btn-icon" id="editarBtn" href="javascript:void(0)" title="Editar" data-bs-toggle="modal" data-bs-target="#update_atividade" style="background-color: skyblue;">'
            + '<img src="{% static "icons/pencil.svg"%}" alt="edit">'
            + '</div>'
            + '<div class="btn-icon" id="viewBtn" href="javascript:void(0)" title="Diário" data-bs-toggle="modal" data-bs-target="#view_diario" style="background-color: lightgreen;">'
            + '<img src="{% static "icons/file-earmark-text.svg"%}" alt="edit">'
            + '</div>'
            + '</div>'
        )
    }
    window.editarEvents = {
        'click #editarBtn': function (e, value, row, index) {
            loadModal('update_atividade', row['id'])

        },
        'click #viewBtn': function (e, value, row, index) {
            loadModal('view_diario', row['diario'])
        },
    }
</script>