{%load static%}
{%include 'lancamento_obra/tabela.html'%}
    data-url="{{api}}/tabela/colaborador"
data-cookie-id-table="colaborador"
>

    <thead>
        <tr>
            <th data-field="nome" data-sortable="true" data-searchable="1">Nome</th>
            <th data-field="funcao" data-sortable="true">Função</th>
            <th data-field="admissao"data-sortable="true" data-formatter="Formatter">Admissão</th>
            <th data-field="demissao" data-sortable="true" data-formatter="Formatter">Demissão</th>
            <th data-field="contrato" data-sortable="true" data-formatter="Formatter">Contrato</th>
            <th data-field="diaria" data-sortable="true" data-formatter="Formatter">Diaria</th>
            <th data-field="observacao" data-sortable="true" data-formatter="Formatter">Oberservação</th>
            <th data-field="editar" data-formatter="editarFormatter" data-events="editarEvents">Editar</th>

        </tr>
    </thead>
</table>
<script>
    function editarFormatter(value) {
        return '<a class="editarBtn" href="javascript:void(0)" title="Like"> <div class="btn-icon" data-bs-toggle="modal" data-bs-target="#update_colaborador" style="background-color: skyblue;"><img src="{% static "icons/pencil.svg"%}" alt="edit"></div></div>'
    }
    window.editarEvents = {
        'click .editarBtn': function (e, value, row, index) {
            loadModal('update_colaborador', row['id'])
        },
    }
</script>