{%load static%}
{%include 'lancamento_obra/tabela.html'%}
    data-url="{{api}}/tabela/colaborador">
    <thead>
        <tr>
            <th data-field="nome" data-sortable="true">Nome</th>
            <th data-field="funcao" data-sortable="true">Detalhes</th>
            <th data-field="admissao">Admissão</th>
            <th data-field="demissao">Demissão</th>
            <th data-field="tipo">Tipo</th>
            <th data-field="diaria">Diaria</th>
            <th data-field="observacao">Oberservação</th>
            <th scope="col">Editar</th>
        </tr>
    </thead>
</table>