{%load static%}
{%include 'lancamento_obra/tabela.html'%}
    data-url="{{api}}/tabela/obra">
  <thead>
    <tr>
      <th data-field="cr">Cr</th>
      <th data-field="orcamento">Orçamento</th>
      <th data-field="retrabalho">Retrabalho</th>
      <th data-field="empresa">Empresa</th>
      <th data-field="cidade">Cidade</th>
      <th data-field="descricao">Descrição</th>
      <th data-field="supervisor.supervisor">Supervisor</th>
      <th data-checkbox="finalizada">Finalizada</th>
      <th data-field="indice">Indice</th>
      <th data-field="etapas">Etapas</th>
      <th scope="col">Editar</th>

    </tr>
  </thead>
</table> 