{% extends app|add:'/base.html' %}

{%load static%}

{%block 'header'%}
<h2>Consulta de Programação</h2>

{%include 'tabela.html'%}

  <thead>
    <tr>
        <th data-field="id" data-sortable="true">ID</th>
        <th data-field="colaborador" data-sortable="true">Colaborador</th>
        <th data-field="encarregado" data-sortable="true">Encarregado</th>
        <th data-field="obra_id" data-sortable="true">Obra</th>
        <th data-field="iniciosemana" data-sortable="true" data-formatter="dataFormatter">Segunda-feira</th>
        <th data-field="observacao">Observação</th>
        <th data-formatter="editarFormatter" data-events="editarEvents"></th>
    </tr>

  </thead>
</table> 
{%endblock%}


{% block "script" %}
<script>
    function editarFormatter(value) {
        return (
            '<div style="margin-left: 0px; display: inline-flex;">'
            + '<div class="btn-icon" id="editarBtn" href="javascript:void(0)" title="Editar" style="background-color: skyblue;">'
            + '<img src="{% static "icons/pencil.svg"%}" alt="edit">'
            + '</div>'
            + '<div class="btn-icon" id="viewBtn" href="javascript:void(0)" title="Digitalização" style="background-color: lightgreen;">'
            + '<img src="{% static "icons/file-earmark-text.svg"%}" alt="view">'
            + '</div>'
            + '</div>'
        )
    }
    window.editarEvents = {
        'click #editarBtn': function (e, value, row, index) {
            loadModal('update_programacao', row['id'])
        },
        'click #viewBtn': function (e, value, row, index) {
            loadModal('view_programacao', row['iniciosemana'])
        },
    }   
</script>
{% endblock %}
