{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="static/css/index.css">
    <title>Ferramentas Tecnika</title>
    
</head>
<body>
    <div class="banner">
        <img src="static/icon/file.png" class="icon" alt="App_icon">
        <a href="/lançamento_obra"><p class="app">Aplicativo 1</p></a>
    </div>
</body>
</html>