{% extends 'salas.html' %}
{% load static %}

{%block 'header'%}
<h2>Salas disponíveis</h2>
{%endblock%}

{%block 'submain'%}
<style>
  .card-img-top{
    height: 300px;
    object-fit: cover;
  }
</style>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="{% static 'image/atendimento.jpg' %}" class="card-img-top"
        alt="...">
      <div class="card-body">
        <h5 class="card-title">Atendimento</h5>
        <a href="{%url 'atendimento'%}" class="btn btn-primary">Agendar</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="{% static 'image/apoio.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Apoio</h5>
        <a href="{%url 'apoio'%}" class="btn btn-primary">Agendar</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="{% static 'image/reuniao.jpg' %}" class="card-img-top"
        alt="...">
      <div class="card-body">
        <h5 class="card-title">Reunião</h5>
        <a href="{%url 'reuniao'%}" class="btn btn-primary">Agendar</a>
      </div>
    </div>
  </div>
</div>

{%endblock%}
