{%extends 'base.html'%}
{% load static %}
{% load permission_tags %}
{%block 'style'%}
<style>
  body{
    display: flex;
    align-items: center;
  }
  .card{
    width: 300px;
  }
</style>
{%endblock%}
{%block 'body'%}
<div class="container text-center"id='index_body'>
    <div class="row justify-content-center">
      {% if user|can:'Lancamento_obra' %}
      <div class="col-auto">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Lançamento obra</h5>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-body-secondary">Versão 1.0</h6>
            <p class="card-text">Ferramenta de controle de delegação de ações em obra</p>
          </div>
          <div class="card-footer">
            <a href="{%url 'Lancamento_obra'%}" class="card-link">Abrir Aplicação</a>
          </div>
        </div>
      </div>
      {%endif%}

      <div class="col-auto">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Reservas</h5>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-body-secondary">Versão 2.1</h6>
            <p class="card-text">Controle de reserva para as salas de reuniões</p>
          </div>
          <div class="card-footer">
            <a href="{%url 'Reservas'%}" class="card-link">Abrir Aplicação</a>
          </div>
        </div>
      </div>


      
      {% if user|can:'ti' %}
      <div class="col-auto">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">TI</h5>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-body-secondary">Versão 0.1</h6>
            <p class="card-text">App de uso exclusivo da equipe de TI</p>
          </div>
          <div class="card-footer">
            <a href="{%url 'Ti'%}" class="card-link">Abrir Aplicação</a>
          </div>
        </div>
      </div>
      {%endif%}
      {% if user|can:'Depto_pessoal' %}
      <div class="col-auto">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Departamento pessoal</h5>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-body-secondary">Versão 0.1</h6>
            <p class="card-text">Administração de recursos do departamento</p>
          </div>
          <div class="card-footer">
            <a href="{%url 'Depto_pessoal'%}" class="card-link">Abrir Aplicação</a>
          </div>
        </div>
      </div>
      {%endif%}
      {% if user|can:'master' %}
      <div class="col-auto">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Painel admin</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Painel com informações de admin</p>
          </div>
          <div class="card-footer">
            <a href="/admin" class="card-link">Abrir Aplicação</a>
          </div>
        </div>
      </div>
      {%endif%}
      {% if user|can:'master' %}
      <div class="col-auto">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Painel WebMain</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Painel com informações do servidor</p>
          </div>
          <div class="card-footer">
            <a href="http://10.0.0.139:10000" class="card-link">Abrir Aplicação</a>
          </div>
        </div>
      </div>
      {%endif%}
    </div>
  </div>
{%endblock%}