{% load static %}
{% load permission_tags %}
<!DOCTYPE html>
<html lang="pt-br">
<head>

<meta name="viewport" content="width=device-width, initial-scale=0.8">

<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <title>Ferramentas Tecnika</title>

  
  {%include 'static/imports/bootstrap.html'%} <!-- Bootstrap -->
  {%include 'static/imports/base.html'%}
  <link rel="stylesheet" href="{% static 'css/color.css' %}">

</head>
<style>
  header {
    padding-top: 100px;
    margin-left: 0;
    text-align: center;
    padding-right: 0;
  }

  main {
    padding: 0;
    margin: 0;
  }

  .card-footer {
    display: flex;
    justify-content: end;
    padding: 2px, 5px;
  }

  h5 {
    margin-top: 2px;
    font-weight: bold;
  }

  h1 {
    padding-bottom: 5%;
  }
  .col {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
</style>

<body>
  {%include 'navbar.html'%}
  <header>
    <h1>Lista de ferramentas disponiveis</h1>
  </header>
  <main>
    <div class="container text-center"style="max-width: 1200px;">
      <div class="row" >
        {% if user|can:'lancamento_obra' %}
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Lançamento obra</h5>
            </div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-body-secondary">Versão 0.9b</h6>
              <p class="card-text">Ferramenta de controle de delegação de ações em obra</p>
            </div>
            <div class="card-footer">
              <a href="{%url 'lancamento_obra'%}" class="card-link">Abrir Aplicação</a>
            </div>
          </div>
        </div>
        {%endif%}

        <div class="col">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Reservas</h5>
            </div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-body-secondary">Versão 2.0</h6>
              <p class="card-text">Controle de reserva para as salas de reuniões</p>
            </div>
            <div class="card-footer">
              <a href="{%url 'reservas'%}" class="card-link">Abrir Aplicação</a>
            </div>
          </div>
        </div>


        
        {% if user|can:'ti' %}
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">TI</h5>
            </div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-body-secondary">Versão 0.1</h6>
              <p class="card-text">App de uso exclusivo da equipe de TI</p>
            </div>
            <div class="card-footer">
              <a href="{%url 'ti'%}" class="card-link">Abrir Aplicação</a>
            </div>
          </div>
        </div>
        {%endif%}
        {% if user|can:'depto_pessoal' %}
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Departamento pessoal</h5>
            </div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-body-secondary">v0.1</h6>
              <p class="card-text">Administração de recursos do departamento</p>
            </div>
            <div class="card-footer">
              <a href="{%url 'depto_pessoal'%}" class="card-link">Abrir Aplicação</a>
            </div>
          </div>
        </div>
        {%endif%}
        {% if user|can:'master' %}
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Painel admin</h5>
            </div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-body-secondary">Django</h6>
              <p class="card-text">Painel com informações de admin</p>
            </div>
            <div class="card-footer">
              <a href="/admin" class="card-link">Abrir Aplicação</a>
            </div>
          </div>
        </div>
        {%endif%}
      </div>
    </div>
  </main>

</body>

</html>