{%extends 'base.html'%}
{% load static %}
{% load permission_tags %}
{%block 'style'%}
<style>
  @media (max-width: 800px) {
    body{
      justify-content: flex-start;
      padding-top: 0px;
    }
    main {
      margin-right: 20px;
      margin-left: 20px;
    }
  }
  .card{
    width: 270px;
    margin-bottom: 24px;
  }
</style>
{%endblock%}



{%block 'main'%}

    <div class="row text-center justify-content-center">
      {% if user|can:'Lancamento_obra' %}
      <div class="col-auto">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Lançamento obra</h5>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-body-secondary">Versão 1.2</h6>
            <p class="card-text">Ferramenta de controle de delegação de ações em obra</p>
          </div>
          <div class="card-footer">
            <a href="{%url 'Lancamento_obra'%}" class="stretched-link">Abrir Aplicação</a>
          </div>
        </div>
      </div>
      {%endif%}

      <div class="col-auto">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Reservas</h5>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-body-secondary">Versão 2.2</h6>
            <p class="card-text">Controle de reserva para as salas de reuniões</p>
          </div>
          <div class="card-footer">
            <a href="{%url 'Reservas'%}" class="stretched-link">Abrir Aplicação</a>
          </div>
        </div>
      </div>


      
      {% if user|can:'ti' %}
      <div class="col-auto">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">TI</h5>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-body-secondary">Versão 0.1</h6>
            <p class="card-text">App de uso exclusivo da equipe de TI</p>
          </div>
          <div class="card-footer">
            <a href="{%url 'Ti'%}" class="stretched-link">Abrir Aplicação</a>
          </div>
        </div>
      </div>
      {%endif%}
      {% if user|can:'Depto_pessoal' %}
      <div class="col-auto">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Departamento pessoal</h5>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-body-secondary">Versão 0.3b</h6>
            <p class="card-text">Administração de recursos do departamento</p>
          </div>
          <div class="card-footer">
            <a href="{%url 'Depto_pessoal'%}" class="stretched-link">Abrir Aplicação</a>
          </div>
        </div>
      </div>
      {%endif%}
      {% if user|can:'Obra' %}
      <div class="col-auto">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Obra</h5>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-body-secondary">Versão 0.0</h6>
            <p class="card-text">Administração de recursos relacionado a obra</p>
          </div>
          <div class="card-footer">
            <a href="{%url 'Obra'%}" class="stretched-link">Abrir Aplicação</a>
          </div>
        </div>
      </div>
      {%endif%}
      {% if user|can:'Curriculos' %}
      <div class="col-auto">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Currículos</h5>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-body-secondary">Versão 0.2</h6>
            <p class="card-text">App para gerencia banco de talento</p>
          </div>
          <div class="card-footer">
            <a href="{%url 'Curriculos'%}" class="stretched-link">Abrir Aplicação</a>
          </div>
        </div>
      </div>
      {%endif%}
      {% if user|can:'Almoxarifado' %}
      <div class="col-auto">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Almoxarifado</h5>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-body-secondary">Versão 0.1</h6>
            <p class="card-text">App para gerir ficha de EPI</p>
          </div>
          <div class="card-footer">
            <a href="{%url 'Almoxarifado'%}" class="stretched-link">Abrir Aplicação</a>
          </div>
        </div>
      </div>
      {%endif%}







      {% if user|can:'master' %}
      <div class="col-auto">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Painel admin</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Painel com informações de admin</p>
          </div>
          <div class="card-footer">
            <a href="/admin/" class="stretched-link">Abrir Aplicação</a>
          </div>
        </div>
      </div>
      {%endif%}
      {% if user|can:'master' %}
      <div class="col-auto">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Painel WebMain</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Painel com informações do servidor</p>
          </div>
          <div class="card-footer">
            <a href="http://10.0.0.139:10000" class="stretched-link">Abrir Aplicação</a>
          </div>
        </div>
      </div>
      {%endif%}
    </div>
{%endblock%}
