{%extends 'base.html'%}
{% load static %}
{% load permission_tags %}
{%block 'style'%}
<style>
  @media (max-width: 800px) {
    body {
      justify-content: flex-start;
      padding-top: 0px;
    }

    main {
      margin-right: 20px;
      margin-left: 20px;
    }
  }

  .card {
    width: 270px;
    margin-bottom: 24px;
    border: none';

  }
</style>
{%endblock%}



{%block 'main'%}

<div class="row text-center justify-content-center">

  {% for row in apps %}
  
  {% if row.id != 'Home' %}
    {% if user|can:row.id or row.livre%}
    <div class="col-auto">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">{{row.nome}}</h5>
        </div>
        <div class="card-body">
          <p class="card-text">{{row.descricao}}</p>
        </div>
        <div class="card-footer">
          <a href="{%url row.id %}" class="stretched-link">Abrir Aplicação</a>
        </div>
      </div>
    </div>
    {%endif%}
  {% endif %}
  
  {% endfor %}


  {% if user|can:'master' %}
  <div class="col-auto">
    <div class="card">
      <div class="card-header bg-danger">
        <h5 class="card-title">Painel admin</h5>
      </div>
      <div class="card-body">
        <p class="card-text">Painel com informações de admin</p>
      </div>
      <div class="card-footer">
        <a href="/admin/" class="stretched-link">Abrir Aplicação</a>
      </div>
    </div>
  </div>
  {%endif%}
  {% if user|can:'master' %}
  <div class="col-auto">
    <div class="card ">
      <div class="card-header bg-danger">
        <h5 class="card-title">Painel WebMain</h5>
      </div>
      <div class="card-body">
        <p class="card-text">Painel com informações do servidor</p>
      </div>
      <div class="card-footer">
        <a href="http://10.0.0.139:10000" class="stretched-link">Abrir Aplicação</a>
      </div>
    </div>
  </div>
  {%endif%}
  {%endblock%}