{%extends 'ti.html'%}
{%load static%}
{% block 'caminho' %}
<li class="breadcrumb-item" aria-current="page">Equipamentos</li>
<li class="breadcrumb-item active" aria-current="page">Cadastrar novo</li>
{%endblock%}

{%block 'main'%}
<h3>Informações principais</h3>
<div class="row">
    <div class="col-5">
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Equipamento:</label>
            <select class="form-select" id="maquina_tipo"></select>
        </div>
    </div>
    <div class="col-3">
        <div class="input-group mb-3">
            <span class="input-group-text">Tag</span>
            <input type="text" class="form-control" id="maquina_id">
        </div>
    </div>
    <div class="col">
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Data de aquisição:</label>
            <input type="date" id="maquina_aquisicao" class="form-control">
          </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Marca:</label>
            <select class="form-select" id="maquina_marca"></select>
        </div>
    </div>
    <div class="col">
        <div class="input-group mb-3">
            <span class="input-group-text">Modelo:</span>
            <input type="text" class="form-control" id="maquina_modelo">
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Número de série:</label>
            <input type="text" class="form-control" id="maquina_serial_number">
        </div>
    </div>
    <div class="col">
        <div class="input-group mb-3">
                <span class="input-group-text">Descrição</span>
                <textarea class="form-control" id="maquina_descricao"></textarea>
        </div>
    </div>
</div>
{%endblock%}


{%block 'submain'%}
<div class="submain">
    <h4>Vínculos</h4>
    <div class="container text-start" id="linhas">
        <div class="row">
            <a onclick="addLinha()" class="icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);" href="#">
                + Adicionar vinculo
            </a>
        </div>
    </div>
</div>

    <script>
        $(document).ready(function(){
            load.Start('register','maquina')
        })

        var linha = 0
        function addLinha(){
            $('#linhas').prepend(
                `<div class="row" id="linha${linha}">`+
                    '<div class="col">' +
                        '<div class="input-group mb-3">' +
                            '<select class="form-select" id="inputGroupSelect01">'+
                                '<option selected>Consumo</option>' +
                                '<option selected>Tinta</option>' +

                            '</select>' +
                        '</div>' +
                    '</div>' +
                    '<div class="col">' +
                        '<div class="input-group mb-3">' +
                            '<select class="form-select" id="inputGroupSelect01">' +
                                '<option selected>Tinta</option>' +
                                '<option selected>Nada</option>' +

                            '</select>' +
                        '</div>' +
                    '</div>' +
                    '<div class="col-auto">'+
                        `<button type="button" class="btn btn-danger" onclick="removeLinha(${linha})">Remover</button>`+
                    '</div>'
            )
            linha ++
        }
        
    </script>

    {% endblock %}