{%load static%}
{%include 'tabela.html'%}
<thead>
    <tr>
        <th data-field="id" data-sortable="true" rowspan="2" class="tiny">Id</th>
        <th data-field="obra_id" data-sortable="true" rowspan="2" class="tiny">CR</th>
        <th data-field="atividade_id" data-sortable="true" rowspan="2" class="tiny">Atividade</th>
        <th data-field="colaborador" data-sortable="true" rowspan="2" class="tiny">Colaborador</th>
        <th data-field="dia" data-sortable="true" rowspan="2" data-formatter="dataFormatter" class="tiny">Data</th>
        <th data-field="descricao" data-sortable="true" rowspan="2" data-width="200"> Descrição </th>
        <th colspan="6">Horas</th> 
        <th data-field="diaseguinte" data-formatter="checkFormatter"rowspan="2" class="tiny">Plantão</th>
        <th data-field="meiadiaria" data-formatter="checkFormatter" rowspan="2" class="tiny">Meia<br>diária</th>
        <th data-field="diario" data-formatter="Formatter" rowspan="2" data-width="100" >Diário</th>
        <th data-field="editar" data-formatter="editarFormatter" data-events="editarEvents" rowspan="2" class="tiny">Editar</th>
    </tr>
    <tr>

        <th data-field="horaini1" class="tiny">Inicio 1</th>
        <th data-field="horafim1" class="tiny">Fim 1</th>
        <th data-field="horaini2" data-formatter="Formatter" class="tiny">Inicio 2</th>
        <th data-field="horafim2" data-formatter="Formatter" class="tiny">Fim 2</th>
        <th data-field="horaini3" data-formatter="Formatter" class="tiny">Inicio 3</th>
        <th data-field="horafim3" data-formatter="Formatter" class="tiny">Fim 3</th>

    </tr>
</thead>
</table>
<!-- teste -->
<script>
    function editarFormatter(value) {

        return (
            '<div style="margin-left: 0px; display: inline-flex;">'
            + '<div class="btn-icon bg-info bi-pencil me-1" id="editarBtn" href="javascript:void(0)" title="Editar">'
            + '</div>'
            + '<div class="btn-icon bg-success bi-file-earmark-text" id="viewBtn" href="javascript:void(0)" title="Diário">'
            + '</div>'
            + '</div>'
        )
    }
    window.editarEvents = {
        'click #editarBtn': function (e, value, row, index) {
            modal.open('update','{{resource}}', row['id'])
        },
        'click #viewBtn': function (e, value, row, index) {
            modal.open('image','diario', row['diario'])
        },
    }
</script>