{%load static%}
{%include 'tabela.html'%}
  <thead>
    <tr>
        <th data-field="id" data-sortable="true" rowspan="2">Id</th>
        <th data-field="obra_id" data-sortable="true" rowspan="2">Obra</th>
        <th data-field="data" data-sortable="true" data-formatter="dataFormatter" rowspan="2">Data</th>
        <th data-field="indice" rowspan="2">Indice</th>
        <th data-field="diario" data-sortable="true" rowspan="2">Diario</th>
        <th colspan="2">Climas</th>
        <th data-field="encarregado" data-sortable="true" rowspan="2">Encarregado</th>
        <th data-field="descricao" data-formatter="Formatter" rowspan="2">Descrição</th>
        <th data-formatter="editarFormatter" data-events="editarEvents" rowspan="2">Editar</th>
    </tr>
    <tr>

      <th data-field="climamanha" data-sortable="true">Manha</th>
      <th data-field="climatarde" data-sortable="true">Tarde</th>

    </tr>
  </thead>
</table> 

{% block "script" %}
<script>
    function editarFormatter(value) {

        return (
            '<div style="margin-left: 0px; display: inline-flex;">'
            + '<div class="btn-icon bg-info bi-pencil me-1" id="editarBtn" href="javascript:void(0)" title="Editar">'
            + '</div>'
            + '<div class="btn-icon bg-success bi-file-earmark-text" id="viewBtn" href="javascript:void(0)" title="Diário">'
            + '</div>'
            + '</div>'
        )
    }
    window.editarEvents = {
        'click #editarBtn': function (e, value, row, index) {
            modal.open('update','{{resource}}', row['id'])
        },
        'click #viewBtn': function (e, value, row, index) {
        modal.open('image','{{resource}}', row['diario'])
        },
    }   
</script>
{% endblock %}
