{% extends 'reservas.html' %}
{%load static%}
{% load permission_tags %}

{%block 'header'%}
<div aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">Reserva de Salas</li>
		<li class="breadcrumb-item active" aria-current="page">{{sala}}</li>
	</ol>
</div>
{%endblock%}

{%block 'submain'%}
<style>
	.acao {
		border-radius: 10px;
		padding: 3px;
		background-color: gray;
		width: 25px;
		display: flex;
		height: 25px;
		margin: 2px;
		margin-top: 5px;
	}

	.acao:hover {
		cursor: pointer;
	}
</style>

<div class="accordion" id="accordionExample">
	<div class="accordion-item">
		<h2 class="accordion-header">
		   <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
			  data-bs-target="#panelsStayOpen-collapse1" aria-expanded="false"
			  aria-controls="panelsStayOpen-collapse1">
			  Atendimento
		   </button>
		</h2>
		<div id="panelsStayOpen-collapse1" class="accordion-collapse collapse">
		   <div class="accordion-body">
				<table class="table">
					<thead>
						<thead>
							<tr>
								<th scope="col">Horário</th>
								<th scope="col">Data</th>
								<th scope="col">Responsável</th>
								<th scope="col">Descrição</th>
								<th scope="col">Ações</th>
							</tr>
						</thead>
					<tbody>

						{% for h in atendimento %}
						<tr id="{{h.id}}">
							<th scope="row">
								<p>{{h.hora}}</p>
							</th>
							<th scope="row">
								<p>{{h.data | date:"SHORT_DATE_FORMAT"}}</p>
							</th>
							<th scope="row">
								<input type="text" class="form-control" id="responsavel{{h.id}}" value="{{h.responsavel}}" disabled
									placeholder="Responsável">
							</th>
							<th scope="row">
								<input type="text" class="form-control" id="descricao{{h.id}}" value="{{h.descricao}}" disabled
									placeholder="Descrição">
							</th>
							<th scope="row">
								{% if user|can:'lançamento' %}
								<div class="row" style="margin-left: 0px;">
									<div class="acao" style="background-color: lightgreen;" onclick="editar('{{h.id}}')"><img
											src="{%static 'icons/check.svg'%}" alt></div>
									<div class="acao" style="background-color: lightcoral;" onclick="deletar('{{h.id}}')"><img
											src="{%static 'icons/trash3.svg'%}" alt></div>
								</div>
								{%endif%}
							</th>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header">
		   <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
			  data-bs-target="#panelsStayOpen-collapse2" aria-expanded="false"
			  aria-controls="panelsStayOpen-collapse2">
			  Apoio
		   </button>
		</h2>
		<div id="panelsStayOpen-collapse2" class="accordion-collapse collapse">
		   <div class="accordion-body">
				<table class="table">
					<thead>
						<thead>
							<tr>
								<th scope="col">Horário</th>
								<th scope="col">Data</th>
								<th scope="col">Responsável</th>
								<th scope="col">Descrição</th>
								<th scope="col">Ações</th>
							</tr>
						</thead>
					<tbody>

						{% for h in apoio %}
						<tr id="{{h.id}}">
							<th scope="row">
								<p>{{h.hora}}</p>
							</th>
							<th scope="row">
								<p>{{h.data | date:"SHORT_DATE_FORMAT"}}</p>
							</th>
							<th scope="row">
								<input type="text" class="form-control" id="responsavel{{h.id}}" value="{{h.responsavel}}" disabled
									placeholder="Responsável">
							</th>
							<th scope="row">
								<input type="text" class="form-control" id="descricao{{h.id}}" value="{{h.descricao}}" disabled
									placeholder="Descrição">
							</th>
							<th scope="row">
								{% if user|can:'lançamento' %}
								<div class="row" style="margin-left: 0px;">
									<div class="acao" style="background-color: lightgreen;" onclick="editar('{{h.id}}')"><img
											src="{%static 'icons/check.svg'%}" alt></div>
									<div class="acao" style="background-color: lightcoral;" onclick="deletar('{{h.id}}')"><img
											src="{%static 'icons/trash3.svg'%}" alt></div>
								</div>
								{%endif%}
							</th>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header">
		   <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
			  data-bs-target="#panelsStayOpen-collapse3" aria-expanded="false"
			  aria-controls="panelsStayOpen-collapse3">
			  Reunião
		   </button>
		</h2>
		<div id="panelsStayOpen-collapse3" class="accordion-collapse collapse">
		   <div class="accordion-body">
				<table class="table">
					<thead>
						<thead>
							<tr>
								<th scope="col">Horário</th>
								<th scope="col">Data</th>
								<th scope="col">Responsável</th>
								<th scope="col">Descrição</th>
								<th scope="col">Ações</th>
							</tr>
						</thead>
					<tbody>

						{% for h in reuniao %}
						<tr id="{{h.id}}">
							<th scope="row">
								<p>{{h.hora}}</p>
							</th>
							<th scope="row">
								<p>{{h.data | date:"SHORT_DATE_FORMAT"}}</p>
							</th>
							<th scope="row">
								<input type="text" class="form-control" id="responsavel{{h.id}}" value="{{h.responsavel}}" disabled
									placeholder="Responsável">
							</th>
							<th scope="row">
								<input type="text" class="form-control" id="descricao{{h.id}}" value="{{h.descricao}}" disabled
									placeholder="Descrição">
							</th>
							<th scope="row">
								{% if user|can:'lançamento' %}
								<div class="row" style="margin-left: 0px;">
									<div class="acao" style="background-color: lightgreen;" onclick="editar('{{h.id}}')"><img
											src="{%static 'icons/check.svg'%}" alt></div>
									<div class="acao" style="background-color: lightcoral;" onclick="deletar('{{h.id}}')"><img
											src="{%static 'icons/trash3.svg'%}" alt></div>
								</div>
								{%endif%}
							</th>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script>
	function deletar(id) {
		if (confirm('Deseja deletar esse agendamento?')) {
			$.ajax({
				url: getAPI() + '/api/salas',  // URL da sua API no Django
				type: 'POST',
				data: {
					'csrfmiddlewaretoken': "{{ csrf_token }}",
					'metodo': 'deletar',
					'parametro': {'id':id},
				},
				success: function (Response) {
					$('#'.concat(id)).remove()
				},
				error: function (xhr) {
					alert(xhr.responseJSON.message);
				}
			});
		}
	}
	function editar(id) {
		if (confirm('Deseja editar esse agendamento?')) {
			$.ajax({
				url: getAPI() + '/api/salas',  // URL da sua API no Django
				type: 'POST',
				data: {
					'csrfmiddlewaretoken': "{{ csrf_token }}",
					'metodo': 'editar',
					'parametro': {
                        'id':id,
                        'responsavel': document.getElementById('responsavel'.concat(id))?.value,
                        'descricao': document.getElementById('descricao'.concat(id))?.value,
                    },
				},
				success: function (Response) {
					window.location.reload(true);
				},
				error: function (xhr) {
					alert(xhr.responseJSON.message);
				}
			});
		}
	}
</script>
{%endblock%}