{%load static%}
<link rel="stylesheet" href= "{% static 'css/color.css' %}">
<link rel="stylesheet" href= "{% static 'css/base.css' %}">
<link rel="stylesheet" href= "{% static 'css/sidebar.css' %}">


<script>
    function getCsrf(){
        return '{{csrf_token}}'
    }
    function getAPI(){
        return '{{api}}'
    }
    function getUser(){
        return '{{user}}'
    }
    function getMedia(arquivo){
        if (arquivo == 'diarios'){
            return '{{media_diarios}}'
        } else if (arquivo == 'carros') {
            return '{{media_carros}}'
        } else if (arquivo == 'programacao') {
            return '{{media_programacao}}'
        }
    }
</script> <!--Routers de Tag -->
<script src="{%static 'js/base.js'%}"></script>