{% extends 'lançamento_obra.html' %}
{%load static%}

{%block 'caminho'%}
  <li class="breadcrumb-item" aria-current="page">Outros</li>
  <li class="breadcrumb-item active" aria-current="page">Pesquisa Avançada</li>
{%endblock%}

{%block 'header'%}
<h2>Pesquisa por Diário</h2>
{%endblock%}
{% block 'style' %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}

{% block 'main' %}

<select class="form-select" aria-label="Default select example" onchange="reload('id')", id="colab">
    <option {{select}}>{{select}}</option>
    {% for x in info %}
        <option value="{{x.id}}">{{x.id}}</option>
    {%endfor%}
  </select>
  <script>
    function reload(param) {
        let url = new URL(window.location.href);
        let params = new URLSearchParams(url.search);
        let value = document.getElementById('colab').value;
        
        // Atualizar o valor do parâmetro
        params.set(param, value);
        
        // Atualizar a URL no navegador e recarregar a página
        window.location.href = `${url.pathname}?${params}`;
    }
    
  </script>
{% endblock %}

{%block 'submain'%}
{%include 'lancamento_obra/tabelas/atividade.html'%} 
{%endblock%}