{%load static%}
{%include 'tabela.html'%}

    <thead>
        <!-- <th data-searchable="false" data-formatter="editarFormatter" data-events="editarEvents"></th> -->
        <th data-field="id" data-sortable="true">ID</th>
        <th data-field="ficha.id"  data-sortable="false" data-searchable="false">ID Ficha</th>
        <th data-field="ficha.colaborador"  data-sortable="true" data-searchable="true">Colaborador</th>
        <th data-field="ficha.pagina"  data-sortable="true" data-searchable="true">Pag</th>
        <th data-field="data" data-sortable="true" data-searchable="true">Data</th>
        <th data-field="url" data-sortable="true" data-formatter="urlFormatter">Url</th>
    </thead>
</table>
<script>
    function urlFormatter(value) {
        return (
        `<a href="${value}" target='_blank'>Abrir</a>`
        )
    }

    function editarFormatter(value) {
        return '<div id="viewBtn" class="btn-icon bg-info"><img src="{% static "icons/file-earmark-text.svg"%}" alt="edit" title="Abrir detalhe"></div></div>'
    }
    window.editarEvents = {
        'click #viewBtn': function (e, value, row, index) {
            page.redirect('consultas/candidato',{id:row['id']})
        },
    }
</script>