{%load static%}
{%include 'tabela.html'%}

    <thead>
        <th data-field="id" data-sortable="true">ID</th>
        <th data-field="colaborador.nome" data-sortable="true" data-searchable="true">Colaborador</th>
        <th data-field="ficha" data-sortable="true" data-searchable="false">Ficha</th>
        <th data-field="obra" data-sortable="true" data-searchable="true">CR</th>
        <th data-field="data_entrega" data-sortable="true" data-formatter="dataFormatter">Data entrega</th>
        <th data-field="reposicao" data-sortable="true">Motivo</th>
        <th data-field="produto" data-searchable="false" data-sortable="false">PRODUTO</th>
        <th data-field="epi_cadastro.ca" data-searchable="false" data-sortable="false">CA</th>
        <th data-field="quantidade" data-sortable="true">Quantidade</th>
        <th data-field="tamanho" data-sortable="true">Tamanho</th>
        <th data-searchable="false" data-formatter="editarFormatter" data-events="editarEvents">Ação</th>
    </thead>
</table>
<script>
</script>