{%load static%}

{%include 'tabela.html' with resource='movimentacao'%}

    <thead>
        <th data-field="id" data-sortable="true">ID</th>
        <th data-field="colaborador" data-sortable="true" data-searchable="true">Colaborador</th>
        <th data-field="ficha" data-sortable="true" data-searchable="true">Ficha</th>
        <th data-field="obra" data-sortable="true" data-searchable="true">CR</th>
        <th data-field="data_entrega" data-sortable="true" data-formatter="dataFormatter">Data entrega</th>
        <th data-field="reposicao" data-sortable="true">Motivo</th>
        <th data-field="produto" data-searchable="true" data-sortable="true">PRODUTO</th>
        <th data-field="ca" data-searchable="false" data-sortable="false">CA</th>
        <th data-field="quantidade" data-sortable="true">Quantidade</th>
        <th data-field="tamanho" data-sortable="true">Tamanho</th>
        <th data-searchable="false" data-formatter="editarFormatter" data-events="editarEvents">Ação</th>
    </thead>
</table>
<script>
    window.editarEvents = {
        'click #editarBtn': function (e, value, row, index) {
            modal.open('update','epi_movimentacao', row['id'])
        },
    }
    function editarFormatter(value) {

        return (
            '<i class="btn-icon bg-info bi-pencil fs-6 me-1" id="editarBtn" href="javascript:void(0)" title="Editar">'
        )
    }
</script>