{%load static%}
{%include 'tabela.html'%}

    <thead>
        <th data-field="id" data-sortable="true">Nome</th>
        <th data-field="cpf" data-sortable="true">CPF</th>
        <th data-field="rg" data-sortable="true">RG</th>
        <th data-field="telefone" data-sortable="true">Telefone</th>
        <th data-field="nascimento"data-sortable="true" data-formatter="dataFormatter">Nascimento</th>
        <th data-field="ativo" data-formatter="checkFormatter">Ativo</th>
        <th data-field="equipe" data-sortable="true">Equipe</th>
        <th data-formatter="editarFormatter" data-events="editarEvents"></th>
    </thead>
</table>
<script>
    function editarFormatter(value) {
        return '<a class="editarBtn" href="javascript:void(0)" title="Like"> <div class="btn-icon" style="background-color: skyblue;"><img src="{% static "icons/pencil.svg"%}" alt="edit"></div></div>'
    }
    window.editarEvents = {
        'click .editarBtn': function (e, value, row, index) {
            loadModal('update_colaborador', row['id'])
        },
    }
</script>