{%load static%}
{%include 'tabela.html'%}

    <thead>
        <tr>
            <th rowspan="2" data-field="colaborador" data-sortable="true">Colaborador</th>
            <th rowspan="2" data-field="competencia" data-sortable="true">Competência</th>
            <th colspan="2">Horas</th>
            <th rowspan="2" data-field="horas_escritorio" data-sortable="true" data-formatter="realFormatter">horas escritorio</th>
            <th rowspan="2" data-field="salario_insalub" data-sortable="true" data-formatter="realFormatter">salario insalubre</th>
            <th rowspan="2" data-field="hora" data-sortable="true" data-formatter="realFormatter">hora</th>
            <th rowspan="2" data-field="dispensa" data-sortable="true" data-formatter="intervalFormatter">dispensa</th>
            <th rowspan="2" data-field="h50_pf" data-sortable="true" data-formatter="intervalFormatter">h50_pf</th>
            <th rowspan="2" data-field="horas_totais" data-sortable="true">horas_totais</th>
            <th rowspan="2" data-field="total_menos_quentes" data-sortable="true">totais_menos_quentes</th>
            <th rowspan="2" data-field="saldo_negativo_acumulado" data-sortable="true">saldo_negativo_acumulado</th>
            <th rowspan="2" data-field="valor_pagar" data-sortable="true">valor_pagar</th>
        </tr>
        <tr>
            <th data-field="h50" data-sortable="true" data-formatter="intervalFormatter">+50%</th>
            <th data-field="h100" data-sortable="true" data-formatter="intervalFormatter">+100%</th>
        </tr>
    </thead>
</table>
<script>
    function editarFormatter() {
        return (
            '<div class="btn-icon bg-info bi-pencil fs-6 me-1" id="editarBtn" title="Editar"></div>'
        )
    }
    window.editarEvents = {
        'click #editarBtn': function (e, value, row, index) {
            let obj = new Modal('avaliacao', 'update')
            obj.open(row['id'])
        },
    }
</script>