{%load static%}
{%include 'tabela.html'%}

    <thead>
        <th data-field="id" data-sortable="true">ID</th>
        <th data-field="colaborador" data-sortable="true">Colaborador</th>
        <th data-field="dias_processados" data-sortable="true">Dias processados</th>
        <th data-field="data_inicio" data-sortable="true" data-formatter="dataFormatter">Data inicio</th>
        <th data-field="periodo_aquisitivo_id"data-sortable="true">Período aquisitivo</th>
    </thead>
</table>
<script>
    function editarFormatter(value) {
        return '<a class="editarBtn" href="javascript:void(0)" title="Like"> <div class="btn-icon" style="background-color: skyblue;"><img src="{% static "icons/pencil.svg"%}" alt="edit"></div></div>'
    }
    window.editarEvents = {
        'click .editarBtn': function (e, value, row, index) {
            loadModal('update_colaborador', row['id'])
        },
    }
</script>