{%load static%}
{%include 'tabela.html'%}

    <thead>
        <th data-field="id" data-sortable="true">ID</th>
        <th data-field="colaborador" data-sortable="true">Colaborador</th>
        <th data-field="dias_utilizados" data-sortable="true">Dias utilizados</th>
        <th data-field="data_inicio" data-sortable="true" >Data inicio</th>
        <th data-field="antecipacao_periodo"data-sortable="true" data-formatter="checkFormatter">Antecipado</th>
        <th data-field="periodo_aquisitivo"data-sortable="true">Período aquisitivo</th>
        <th data-formatter="editarFormatter" data-events="editarEvents" data-searchable="false"></th>
    </thead>
</table>
<script>
    function editarFormatter(value) {
        return '<div class="btn-icon bg-info bi-pencil me-1" id="editarBtn" href="javascript:void(0)" title="Editar">'
    }
    window.editarEvents = {
        'click #editarBtn': function (e, value, row, index) {
            let modal = new Modal('{{resource}}', "update");
            modal.open(row['id']);
        },
    }
</script>