{%load static%}
{%include 'tabela.html'%}

    <thead>
        <th data-field="id" data-sortable="true">ID</th>
        <th data-field="colaborador" data-sortable="true">COLABORADOR</th>
        <th data-field="aso" data-sortable="true" data-formatter="checkFormatter">aso</th>
        <th data-field="aso_valid" data-sortable="true" data-formatter="dataFormatter">aso_valid</th>
        <th data-field="epi" data-sortable="true" data-formatter="checkFormatter">epi</th>
        <th data-field="epi_valid" data-sortable="true" data-formatter="dataFormatter">epi_valid</th>
        <th data-field="os" data-sortable="true" data-formatter="checkFormatter">os</th>
        <th data-field="os_valid" data-sortable="true" data-formatter="dataFormatter">os_valid</th>
        <th data-field="observacao" data-sortable="true" data-formatter="dataFormatter">OBSERVAÇÃO</th>
        <!-- <th data-formatter="editarFormatter" data-events="editarEvents"></th> -->
    </thead>
</table>
<!-- <script>
    function editarFormatter() {
        return (
            '<div class="btn-icon bg-info bi-pencil fs-6 me-1" id="editarBtn" title="Editar"></div>'
        )
    }
    window.editarEvents = {
        'click #editarBtn': function (e, value, row, index) {
            let obj = new Modal('avaliacao', 'update')
            obj.open(row['id'])
        },
    }
</script> -->