{% extends 'base.html' %}
{% load static %}

{%block 'header'%}
{% include 'static/imports/bootstrap_tables.html' %}

{%endblock%}
{% block 'main' %}

<h3 class="mb-2"><strong>Informações gerais</strong></h3>
<div class="row align-items-center">
    <div class="col-auto">
        <h5 class="mb-0"><small>Cadastro</small></h5>
    </div>
    <hr class="mt-2">
</div>

<div class="row">
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">ID:</label>
            <input type="text" id="f_colaborador_id" class="form-control">
        </div>
    </div>
    <div class="col-6">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">NOME:</label>
            <input type="text" id="f_colaborador_nome" class="form-control">
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">CPF:</label>
            <input type="number" id="f_colaborador_cpf" class="form-control form-control-sm">
        </div>
    </div>


    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">NASCIMENTO:</label>
            <input type="date" id="f_colaborador_nascimento" class="form-control form-control-sm">
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">TELEFONE:</label>
            <input type="text" id="f_colaborador_fone" class="form-control form-control-sm">
            <label class="input-group-text bg-success-subtle" onclick="abrirWhats('f_colaborador_fone')"
                style="user-select: none;" data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title="Clique para abrir no WhatsApp!">WhatsApp</label>
        </div>
    </div>

    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <span class="input-group-text">ATIVO:</span>
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" id="f_colaborador_ativo">
            </div>
        </div>
    </div>



</div>
<div class="row align-items-center mt-3">
    <div class="col-auto">
        <h5 class="mb-0"><small>Informações do colaborador</small></h5>
    </div>
    <hr class="mt-2">
</div>
<div class="row">
    <div class="col-auto">
        <div class="card" style="width: 19rem;">
            <div class="card-header">
                <strong>Numeração</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <ul class="list-group list-group-flush">
                            <input type="text" class="list-group-item" id="numeracao_bota" readonly value="Bota: null">
                            <input type="text" class="list-group-item" id="numeracao_botina" readonly value="Botina: null">
                            <input type="text" class="list-group-item" id="numeracao_luva" readonly value="Luva: null">
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-group list-group-flush">
                            <input type="text" class="list-group-item" id="numeracao_camisa" readonly value="Camisa: null">
                            <input type="text" class="list-group-item" id="numeracao_calca" readonly value="Calça: null">
                        </ul>

                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm">Editar</button>
            </div>
        </div>
    </div>
    <div class="col-auto">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                <strong>Última Ficha</strong>
            </div>
            <ul class="list-group list-group-flush">
                <input type="text" class="list-group-item" id="" readonly value="Folha: 3">
                <input type="text" class="list-group-item bg-danger-subtle" id="" readonly value="Completa">
            </ul>
            <div class="card-footer">
                <button type="button" class="btn btn-secondary btn-sm">Histórico</button>
                <button type="button" class="btn btn-primary btn-sm">Nova</button>
            </div>
        </div>
    </div>
</div>
<h3 class="mb-2 mt-5"><strong>Epi's</strong></h3>
<div class="row align-items-center">
    <div class="col-auto">
        <h5 class="mb-0"><small>Atualmente validos</small></h5>
    </div>
    <!-- <div class="col-auto"><button type="button" class="btn btn-primary btn-sm"
            onclick="abrirHistorico('periodoaquisitivo')">Movimentar</button></div> -->
    <hr class="mt-3">
</div>
<div class="row">
    <div class="col-12">
            <table id="tabela_epis_validos" data-toggle="table" data-locale="pt-BR"
        class="table table-hover table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th data-field="id_produto" rowspan="2">ID</th>
            <th data-field="produto" rowspan="2">Produto</th>
            <th data-field="ca" rowspan="2">CA</th>
            <th data-field="tamanho" rowspan="2">Tamanho</th>
                <th colspan="2" >Validades</th>
            </tr>
            <th data-field="validade_uso" data-formatter="dataFormatter">USO</th>
            <th data-field="validade_ca" data-formatter="dataFormatter">CA</th>
        </thead>
      </table>
    </div>

</div>
<!-- <div class="row align-items-center mt-4">
    <div class="col-auto">
        <h5 class="mb-0"><small>Férias processadas</small></h5>
    </div>
    <div class="col-auto"><button type="button" class="btn btn-primary btn-sm"
            onclick="abrirProcesso('feriasprocessadas')">Processar</button></div>
    <div class="col-auto"><button type="button" class="btn btn-secondary btn-sm"
            onclick="abrirHistorico('feriasprocessadas')">Histórico</button></div>
    <hr class="mt-3">
</div>
<div class="row">
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">PERÍODO AQUISITIVO:</label>
            <select class="form-control" id="f_feriasprocessadas_periodo_aquisitivo">
            </select>
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">DATA INICIO:</label>
            <input type="date" class="form-control form-control-sm" id="f_feriasprocessadas_data_inicio">
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">DIAS PROCESSADOS:</label>
            <input type="text" class="form-control form-control-sm" id="f_feriasprocessadas_dias_processados">
        </div>
    </div>
</div>
<div class="row align-items-center mt-4">
    <div class="col-auto">
        <h5 class="mb-0"><small>Férias utilizadas</small></h5>
    </div>
    <div class="col-auto"><button type="button" class="btn btn-success btn-sm"
            onclick="abrirProcesso('feriasutilizadas')">Consumir</button></div>
    <div class="col-auto"><button type="button" class="btn btn-secondary btn-sm"
            onclick="abrirHistorico('feriasutilizadas')">Histórico</button></div>

    <hr class="mt-2">
</div>
<div class="row">
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">PERÍODO AQUISITIVO:</label>
            <select class="form-control" id="f_feriasutilizadas_periodo_aquisitivo">
            </select>
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">DATA INICIO:</label>
            <input type="date" class="form-control form-control-sm" id="f_feriasutilizadas_data_inicio">
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">DIAS UTILIZADOS:</label>
            <input type="text" class="form-control form-control-sm" id="f_feriasutilizadas_dias_utilizados">
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">ANTECIPAÇÃO:</label>
            <div class="input-group-text">
                <input type="checkbox" class="form-check-input mt-0" id="f_feriasutilizadas_antecipacao_periodo">
            </div>
        </div>
    </div>
</div>
<h3 class="mb-2 mt-5"><strong>Integrações</strong></h3>

<div class="row align-items-center">
    <div class="col-auto">
        <h5 class="mb-0"><small>NR's</small></h5>
    </div>
    <div class="col-auto"><button type="button" class="btn btn-primary btn-sm"
            onclick="abrirLancamento_integracao('integracao_nr')">Lançar</button></div>
    <div class="col-auto"><button type="button" class="btn btn-secondary btn-sm"
            onclick="abrirHistorico('integracao_nr')">Histórico</button></div>
    <hr class="mt-3">
</div>
<div class="row">
    <input type="hidden" id="f_integracao_nr_id">
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">NR:</label>
            <input type="text" class="form-control form-control-sm" id="f_integracao_nr_nr">
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">VALIDADE:</label>
            <input type="date" class="form-control form-control-sm" id="f_integracao_nr_validade">
        </div>
    </div>
</div>
<div class="row align-items-center mt-4">
    <div class="col-auto">
        <h5 class="mb-0"><small>EPI</small></h5>
    </div>
    <div class="col-auto"><button type="button" class="btn btn-primary btn-sm"
            onclick="abrirUpdate('integracao_epi')">Editar</button></div>
    <hr class="mt-3">
</div>
<div class="row">
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">ASO:</label>
            <div class="input-group-text">
                <input type="checkbox" class="form-check-input mt-0" id="f_integracao_epi_aso">
            </div>
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">ASO VALIDADE:</label>
            <input type="date" class="form-control form-control-sm" id="f_integracao_epi_aso_valid">
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">EPI:</label>
            <div class="input-group-text">
                <input type="checkbox" class="form-check-input mt-0" id="f_integracao_epi_epi">
            </div>
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">EPI VALIDADE:</label>
            <input type="date" class="form-control form-control-sm" id="f_integracao_epi_epi_valid">
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">OS:</label>
            <div class="input-group-text">
                <input type="checkbox" class="form-check-input mt-0" id="f_integracao_epi_os">
            </div>
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">OS VALIDADE:</label>
            <input type="date" class="form-control form-control-sm" id="f_integracao_epi_os_valid">
        </div>
    </div>

</div>
<div class="row align-items-center mt-4">
    <div class="col-auto">
        <h5 class="mb-0"><small>Integração</small></h5>
    </div>
    <div class="col-auto"><button type="button" class="btn btn-primary btn-sm"
            onclick="abrirLancamento_integracao('integracao')">Lançar</button></div>
    <div class="col-auto"><button type="button" class="btn btn-secondary btn-sm"
            onclick="abrirHistorico('integracao')">Histórico</button></div>

    <hr class="mt-2">
</div>
<div class="row">
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">OBRA:</label>
            <select class="form-control" id="f_integracao_obra">
            </select>
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">VALIDADE:</label>
            <input type="date" class="form-control form-control-sm" id="f_integracao_validade">
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">DESCRIÇÃO:</label>
            <input type="text" class="form-control form-control-sm" id="f_integracao_descricao">
        </div>
    </div>
</div> -->


<!-- , 'ferias_utilizadas', 'ferias_processadas', 'periodoaquisitivo', 'ocupacao' -->
<script>
    const colab = page.getParam('id')
    // var objs = ['periodoaquisitivo', 'ocupacao', 'feriasutilizadas', 'feriasprocessadas','integracao_nr','integracao_epi','integracao']
    function carregarDados() {
        let c = new Form('colaborador', 'view', colab)
        c.open(colab)
        $("#tabela_epis_validos").bootstrapTable('refreshOptions', {
            url: `{{api}}Almoxarifado/epis_validos?id_colab=${colab}`,
        })
        //for (x in objs) {
        //    x = new Form(objs[x], 'filter')
        //    x.open({ 'colaborador': colab })
        //}
    }
    function load() {
        carregarDados()
    }
    function refresh() {
        load()
        loader.modal.hide()
    }

    $('#btn-demissao').click(function () {
        let obj = new Modal('colaborador', 'desligamento')
        obj.open([{
            'key': 'colaborador',
            'value': $("#f_colaborador_id").val()
        }, {
            'key': 'id',
            'value': $("#f_ocupacao_id").val()
        }])
    })
    function abrirUpdate(modal) {
        let obj = new Modal(modal, 'update')
        obj.refresh = refresh
        obj.open(colab)
    }
    function abrirLancamento(modal) {
        let data = {}
        modal_split = modal.split('_')
        let registro = new Modal(modal_split[0], modal_split[1])

        data = $("#f_ocupacao_id").val()
        registro.refresh = refresh
        registro.open(data)
    }
    function abrirLancamento_integracao(modal) {
        let registro = new Modal(modal, 'lancamento')

        registro.refresh = refresh
        registro.open()
        console.log("#" + registro.prefix + "colaborador")
        $("#" + registro.prefix + "colaborador").val(colab)
    }
    function abrirProcesso(modal) {

        let registro = new Modal(modal, 'processo')

        data = {
            'colaborador': $("#f_colaborador_id").val(),
            'periodo_aquisitivo': $("#f_periodoaquisitivo_id").val()
        }
        registro.refresh = refresh

        registro.open(data)

    }
    function confirmarAntecipacao() {
        let field = $("#m_processo-feriasutilizadas_antecipacao")
        let periodo = $("#m_processo-feriasutilizadas_aquisitivo_id")
        if (field.prop("checked")) {
            if (!confirm('Tens certeza que deseja selecionar antecipação?')) {
                field.prop('checked', false);
            }
        }
        if (field.prop("checked")) {
            periodo.val('').attr('disabled', true)

        } else {
            periodo.val($("#m_processo-feriasutilizadas_id").val()).attr('disabled', false)
        }
    }

    function abrirHistorico(resource) {
        let modal = new Modal(resource, 'historico')
        modal.refresh = refresh
        modal.open(colab)
    }
</script>
{% endblock %}