{% extends 'base.html' %}
{% load static %}

{%block 'header'%}
{% include 'static/imports/bootstrap_tables.html' %}

{%endblock%}
{% block 'main' %}

<h3 class="mb-2"><strong>Informações gerais</strong></h3>
<div class="row align-items-center">
    <div class="col-auto">
        <h5 class="mb-0"><small>Cadastro</small></h5>
    </div>
    <hr class="mt-2">
</div>

<div class="row">
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">ID:</label>
            <input type="text" id="f_colaborador_id" class="form-control">
        </div>
    </div>
    <div class="col-6">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">NOME:</label>
            <input type="text" id="f_colaborador_nome" class="form-control">
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">CPF:</label>
            <input type="number" id="f_colaborador_cpf" class="form-control form-control-sm">
        </div>
    </div>


    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">NASCIMENTO:</label>
            <input type="date" id="f_colaborador_nascimento" class="form-control form-control-sm">
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">TELEFONE:</label>
            <input type="text" id="f_colaborador_fone" class="form-control form-control-sm">
            <label class="input-group-text bg-success-subtle" onclick="abrirWhats('f_colaborador_fone')"
                style="user-select: none;" data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title="Clique para abrir no WhatsApp!">WhatsApp</label>
        </div>
    </div>

    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <span class="input-group-text">ATIVO:</span>
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" id="f_colaborador_ativo">
            </div>
        </div>
    </div>



</div>
<div class="row align-items-center mt-3">
    <div class="col-auto">
        <h5 class="mb-0"><small>Informações do colaborador</small></h5>
    </div>
    <hr class="mt-2">
</div>
<div class="row">
    <div class="col-auto mb-2">
        <div class="card" style="width: 19rem;">
            <div class="card-header">
                <strong>Numeração</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <ul class="list-group list-group-flush">
                            <input type="text" class="list-group-item" id="numeracao_bota" readonly value="Bota: null">
                            <input type="text" class="list-group-item" id="numeracao_botina" readonly
                                value="Botina: null">
                            <input type="text" class="list-group-item" id="numeracao_luva" readonly value="Luva: null">
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-group list-group-flush">
                            <input type="text" class="list-group-item" id="numeracao_camisa" readonly
                                value="Camisa: null">
                            <input type="text" class="list-group-item" id="numeracao_calca" readonly
                                value="Calça: null">
                        </ul>

                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" id='numeracao_edit' class="btn btn-primary btn-sm d-none">Editar</button>
                <button type="button" id='numeracao_register' class="btn btn-success btn-sm d-none">Registrar</button>
            </div>
        </div>
    </div>
    <div class="col-auto">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                <strong>Última Ficha</strong>
            </div>
            <ul class="list-group list-group-flush">
                <input type="hidden" id="ficha_id">
                <input type="text" class="list-group-item" id="ficha_pagina" readonly value="Folha: null">
                <input type="text" class="list-group-item" id="ficha_completa" readonly value="null">
            </ul>
            <div class="card-footer">
                <button type="button" class="btn btn-secondary btn-sm" id="ficha_historico">Histórico</button>
                <button type="button" class="btn btn-success btn-sm" id="ficha_nova">Nova</button>
                <button type="button" class="btn btn-primary btn-sm" id="ficha_ver">Ver</button>
            </div>
        </div>
    </div>
</div>
<div class="row align-items-center">
    <h3 class="mb-2 mt-3"><strong>Epi's</strong></h3>
    <hr class="mt-3">
    <table id="tabela_epis_validos" data-toggle="table" data-locale="pt-BR"
        class="table table-hover table-bordered table-striped table-sm" data-height="300">
        <thead>
            <tr>
                <th data-field="id_produto" rowspan="2">ID</th>
                <th data-field="produto" rowspan="2">Produto</th>
                <th data-field="ca" rowspan="2">CA</th>
                <th data-field="tamanho" rowspan="2">Tamanho</th>
                <th colspan="3">Validades</th>
                <th data-formatter="acaoFormatter" data-events="Events" rowspan="2">AÇÃO</th>
            </tr>
            <th data-field="validade_uso" data-formatter="dataFormatter">USO</th>
            <th data-field="validade_ca" data-formatter="dataFormatter">CA</th>
            <th data-field="situacao" data-formatter="situacaoFormatter">SITUAÇÃO</th>
        </thead>
    </table>
    <script>
        window.Events = {
            'click #lancarBtn': function (e, value, row, index) {
                page.to('Almoxarifado/cadastros/epi_movimentacao',{'colaborador':colab,'ficha':$('#ficha_id').val(),'produto':row['id_produto'],'tamanho':row['tamanho'],'reposicao':row['situacao'] == 'Não entregue' ? 'P' : 'T','voltar':'colaborador'})
            },
        }
        function acaoFormatter(value,row,index) {
            if (row['situacao'] != 'Ok' && row['situacao'] != 'Durabilidade não cadastrada'){
                return '<i class="btn-icon text-bg-info bi-box-arrow-right" id="lancarBtn" href="javascript:void(0)" title="Lançar">'
            } else { return ''}
        }
        function situacaoFormatter(value) {
            let cl = ''
            switch (value) {
                case 'Ok':
                    cl = 'bg-success'
                    break
                case 'Durabilidade não cadastrada':
                    cl = 'bg-warning'
                    break
                default:
                    cl = 'bg-danger'
                    break
            }
            return `<h6 class='m-0'><span class="badge ${cl} text-uppercase">${value}</span></h6>`
        }
    </script>
</div>

<script>
    const colab = page.getParam('id')

    function carregar_colaborador() {
        let c = new Form('colaborador', 'view', colab)
        c.open(colab)
        $("#tabela_epis_validos").bootstrapTable('refreshOptions', {
            url: `{{api}}Almoxarifado/epis_validos?id_colaborador=${colab}`,
        })
    }
    function carregar_numeracao() {
        apiRequest.get('numeracao/' + colab).then((result) => {
            var keys = Object.keys(result)
            removeFromArray(keys, ['id', 'colaborador']).forEach((item) => {
                var text = $(`#numeracao_${item}`).val()
                text = text.replace('null', result[item])
                $(`#numeracao_${item}`).val(text)
            })
            $('#numeracao_register').addClass('d-none')
            $('#numeracao_edit').removeClass('d-none').click(() => {
                let obj = new Modal('numeracao', 'update')
                obj.refresh = () => {
                    obj.modal.hide()
                    carregar_numeracao()
                }
                
                loader = undefined
                obj.open(colab).then(() => {
                    })  
            })
        }).catch((err) => {
            if (err.detail == 'No Numeracao matches the given query.') {
                toasts('warning', { 'method': 'Pesquisa', 'message': 'Não há numeração cadastrada para este colaborador' })
                $('#numeracao_edit').addClass('d-none')
                $('#numeracao_register').removeClass('d-none').click(() => {
                    let obj = new Modal('numeracao', 'register')
                    obj.refresh = () => {
                        obj.modal.hide()
                        carregar_numeracao()
                    }
                    loader = undefined
                    obj.open().then(() => {
                        obj.set('colaborador', colab, true)
                    })
                })
            }
            console.log(err)
        });
    }
    function carregar_ficha() {
        resource = 'ficha'
        apiRequest.get('ficha').then((result) => {
            var ultima = { 'pagina': 0, 'completa': false }
            result.forEach((item) => {
                if (item.id.split('_')[0] != colab) {
                    return
                }
                ultima = ultima.pagina > item.pagina ? ultima : item
            })
            $('#ficha_completa').addClass(ultima.completa ? 'bg-danger-subtle' : 'bg-primary-subtle')
            $('#ficha_completa').val(ultima.completa ? 'Completa' : 'Incompleta')
            $(`#ficha_pagina`).val(($('#ficha_pagina').val()).replace('null', ultima.pagina))
            $(`#ficha_id`).val(ultima.id)
        }).catch(err => {
            if (err.detail == 'No Numeracao matches the given query.') {
                toasts('warning', { 'method': 'Pesquisa', 'message': 'Não há ficha cadastrada para este colaborador' })
            }
            console.log(err)
        })
        $(`#${resource}_nova`).click(() => {
            let obj = new Modal(resource, 'register')
            obj.refresh = () => {
                obj.modal.hide()
                carregar_ficha()
            }
            obj.open().then(() => {
                obj.set('colaborador', colab, true)
                getFicha()
            })
        })
        $(`#${resource}_ver`).click(() => {
            let modal = new Modal("ficha", "ficha")
            modal.open($('#ficha_id').val())
        });
        $(`#${resource}_historico`).click(() => {
            let obj = new Modal(resource, 'historico')
            apiRequest.get(resource, {'colaborador':colab}).then((data) => {
                obj.open(data)
            }) 
        })
    }

    function load() {
        carregar_colaborador()
        carregar_numeracao()
        carregar_ficha()
    }
    function refresh() {
        loader.modal.hide()
        load()
    }
</script>
{% endblock %}