{% load static %}

<style>
    .microlist {
        height: 200px;
        overflow: auto;
        border-top: 1px solid #dee2e6;
    }

    th {
        font-size: small;
    }

    .modal-img {
        width: 300px;
        object-fit: scale-down;
    }

    #placa,
    #modelo,
    #marca {
        text-align: center;
    }
</style>

<div class="modals">

    <!-- Reservar rapido -->
    <div class="modal fade" id="reserva_rapido" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Reserva rápida</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <div class="row align-items-center mb-3">
                        <div class="col-4">
                            <img src="{%static 'image/Reservas/atendimento.jpg'%}" class="img-thumbnail" alt="..."
                                style="max-width: 150px;" id='reserva_rapida-img'>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">Sala:</label>
                                <select class="form-select" id="reserva_rapida-sala" name="grupo">
                                    <option value="atendimento">Atendimento</option>
                                    <option value="apoio">Apoio</option>
                                    <option value="reunião">Reunião</option>
                                    <option value="auxiliar">Auxiliar</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="input-group input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">Data:</label>
                                <input type="date" name="update_admissao" id="reserva_rapida-data" class="form-control">
                            </div>
                        </div>

                        <div class="col">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">Inicio:</label>
                                <select class="form-select" id="reserva_rapida-sel1" name="grupo"></select>
                            </div>

                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">Fim:</label>
                                <select class="form-select" id="reserva_rapida-sel2" name="grupo"></select>
                            </div>
                        </div>
                        <div class="input-group input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">Responsável:</label>
                            <input type="text" name="update_obra_descricao" id="reserva_rapida-responsavel"
                                class="form-control">
                        </div>
                        <div class="input-group input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">Descrição:</label>
                            <input type="text" name="update_obra_descricao" id="reserva_rapida-descricao"
                                class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="reserva_rapida-submit">Reservar</button>
                </div>
            </div>
        </div>
    </div>
</div>
