{%load permission_tags%}
<div class="sidenav">

    <h1 class="nome_app">{{app_name}}</h1>

    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <a href="{%url app%}" class="a-inicio">
                    Início
                </a>
            </h2>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse1" aria-expanded="true" aria-controls="collapseOne">
                    Salas
                </button>
            </h2>
            <div id="flush-collapse1" class="accordion-collapse collapse show" data-bs-parent="#accordionFlushExample">
                <a href="#" data-bs-toggle="modal" data-bs-target="#reserva_rapido" onclick="Reserva_rapida()"><i {{icon.modal}}></i> Reserva rápida</a>
                <a href="{%url 'sala' 'atendimento'%}"><i {{icon.form}}></i> Atendimento</a>
                <a href="{%url 'sala' 'apoio'%}"><i {{icon.form}}></i> Apoio</a>
                <a href="{%url 'sala' 'reunião'%}"><i {{icon.form}}></i> Reunião</a>
                <a href="{%url 'sala' 'auxiliar'%}"><i {{icon.form}}></i> Auxiliar (almoxarifado)</a>
                <a href="{%url 'sala' 'registros'%}"><i {{icon.table}}></i> Lista de registros</a>
            </div>
        </div>

    </div>
</div>