{% extends app|add:'/base.html' %}

{% load static %}


{% block 'main' %}
<h2>Lançamento de Atividade</h2>
<div class="row justify-content-end">
    <div class="col">
        <div class="row justify-content-end">
            <div class="input-group input-group-sm">
                <label class="input-group-text">Colaborador:</label>
                <select class="form-select" id="form_atividade_colaborador" tabindex="1"></select>
            </div>
            <a href="#" class="exibir-ocultar mb-2 me-2" id="mostrar_demitidos" onclick="filtrar('colaborador')"
                tabindex="-1">ocultar demitidos</a>
        </div>
    </div>
    <div class="col">
        <div class="row justify-content-end">
            <div class="input-group input-group-sm">
                <label class="input-group-text">Obra:</label>
                <select class="form-select" id="form_atividade_obra" onchange="changeObra()" tabindex="2"></select>
            </div>
            <a href="#" class="exibir-ocultar mb-2 me-2" id="mostrar_finalizadas" onclick="filtrar('obra')"
                tabindex="-1">ocultar finalizadas</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col border p-2">
        <p style="font-size: smaller ; text-align: center; margin-bottom: 5px;">Hora Inicial / Hora final / Etapa</p>
        <div class="input-group mb-2 input-group-sm">
            <label class="input-group-text">Manhã</label>
            <input type="time" id="form_atividade_horaini1" class="form-control" value="07:30" tabindex="3">
            <input type="time" id="form_atividade_horafim1" class="form-control" value="11:48" tabindex="4">
            <input type="number" id="form_atividade_etapa1"  class="input-group-text" style="width: 60px;" title="Etapa 1"  placeholder="ETP">
        </div>

        <div class="input-group mb-2 input-group-sm">
            <label class="input-group-text">Tarde</label>
            <input type="time" id="form_atividade_horaini2" class="form-control" value="13:30" tabindex="5">
            <input type="time" id="form_atividade_horafim2" class="form-control" value="18:00" tabindex="6">
            <input type="number" id="form_atividade_etapa2" class="input-group-text"  style="width: 60px;"  title="Etapa 2" placeholder="ETP">
            <a href="#" class="align-items-center text-bg-danger input-group-text" onclick="limparHora('2')"><i
                    class="bi bi-x-circle"></i></a>

        </div>
        <div class="input-group input-group-sm">
            <label class="input-group-text">Noite</label>
            <input type="time" id="form_atividade_horaini3" class="form-control" tabindex="7">
            <input type="time" id="form_atividade_horafim3" class="form-control" tabindex="8">
            <input type="number" id="form_atividade_etapa3" class="input-group-text"  style="width: 60px;" title="Etapa 3"  placeholder="ETP">
            <a href="#" class="align-items-center text-bg-danger input-group-text" onclick="limparHora('3')"><i
                    class="bi bi-x-circle"></i></a>

        </div>
    </div>
    <div class="col">
        <div class="input-group mb-2 input-group-sm">
            <label class="input-group-text">Data de realização:</label>
            <input type="date" id="form_atividade_dia" class="form-control" value="{{hojeJS}}" tabindex="8">
        </div>
        <div class="input-group mb-2 input-group-sm">
            <label class="input-group-text">Índice do diário:</label>
            <input type="number" class="form-control" id="form_atividade_indice" value="1" tabindex="9">
        </div>
        <div class="row">
            <div class="col">
                <div class="input-group mb-2 input-group-sm">
                    <span class="input-group-text">Plantão</span>
                    <div class="input-group-text">
                        <input class="form-check-input m-0" type="checkbox" id="form_atividade_diaseguinte" tabindex="10">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-2 input-group-sm">
                    <span class="input-group-text">Meia diária</span>
                    <div class="input-group-text">
                        <input class="form-check-input m-0" type="checkbox" id="form_atividade_meiadiaria" tabindex="11"
                            onclick="confirmMeiaDiaria()">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="input-group mb-2 input-group-sm">
            <label class="input-group-text">Atividade:</label>
            <select class="form-select" id="form_atividade_atividade" tabindex="12"></select>
        </div>
        <div class="input-group mb-2 input-group-sm">
            <label class="input-group-text">Responsável:</label>
            <select class="form-select" id="form_atividade_supervisor" disabled tabindex="13"></select>
        </div>
        <div class="input-group mb-2 input-group-sm">
            <label class="input-group-text">Motivo:</label>
            <input type="text" class="form-control" id="form_atividade_motivo" disabled tabindex="14">
        </div>
    </div>

    <div class="input-group">
        <span class="input-group-text">Descrição:</span>
        <textarea class="form-control" id="form_atividade_descricao" tabindex="15"></textarea>
    </div>
    <a href="#" class="exibir-ocultar mb-2" onclick="get_desc()">puxar do diario</a>

    <div class="mt-3" style="justify-content: flex-end; display: flex;">
        <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal"
            data-bs-target="#modalTable">Visualizar dia</button>
        <button type="button" class="btn btn-success" id="form_atividade_submit" tabindex="16"
            onclick="$('#form_atividade_colaborador').focus()">Lançar</button>
    </div>
    <div id="modalTable" class="modal fade" tabindex="2" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Lançamentos do mesmo dia</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table id="lanc_dia" data-toggle="table" data-height="345" data-locale="pt-BR">
                        <thead>
                            <tr>
                                <th rowspan="2" data-field="id">ID</th>
                                <th rowspan="2" data-field="obra">Obra</th>
                                <th rowspan="2" data-field="dia" data-formatter="dataFormatter">Dia</th>
                                <th colspan="6">Horas</th>
                            </tr>
                            <tr>
                                <th data-field="horaini1">Inicio 1</th>
                                <th data-field="horafim1">Fim 1</th>
                                <th data-field="horaini2">Inicio 2</th>
                                <th data-field="horafim2">Fim 2</th>
                                <th data-field="horaini3">Inicio 3</th>
                                <th data-field="horafim3">Fim 3</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}
{%block 'footer'%}
{%include app|add:'/table/atividade.html'%}
{% endblock %}
{% block 'script' %}
<script>
    const prefix = 'form_{{resource}}_'
    const meiadiaria = $("#form_atividade_meiadiaria")
    const colaborador = $("#form_atividade_colaborador")
    const dia = $("#form_atividade_dia")
    const obra = $("#form_atividade_obra")
    const indice = $("#form_atividade_indice")
    const descricao = $("#form_atividade_descricao")
    const atividade = $("#form_atividade_atividade")

    async function load() {
        var resource = await generics.load.resource('{{resource}}')
        const urlParams = new URLSearchParams(window.location.search);

        resource.select.forEach((select) => {
            if (select == 'colaborador' || select == 'obra') {
                filtrar(select)
            } else {
                apiRequest.get(`select/${select}`).then((data) => {
                    generics.populate.select(prefix + select, data)
                })
            }
        })
        if (urlParams.has('obra')) {
            dia.val(urlParams.get("data"))
            obra.val(urlParams.get("obra"))
            indice.val(urlParams.get("indice"))
            descricao.val(urlParams.get("desc"))
            changeObra()
        }

        $(`#${prefix}submit`).on('click', async () => {
            data = await generics.reader.fields(resource, prefix)
            apiRequest.post('{{resource}}', data).then(() => {
                $("#table").bootstrapTable("refresh");
            })
        })

        
        
    }
    $('#modalTable').on('shown.bs.modal', function () {
        $("#lanc_dia").bootstrapTable('refreshOptions', {
            url: `{{api}}Lancamento_obra/atividade?colaborador=${colaborador.val()}&dia=${dia.val()}`,
        })
    })
    
    async function filtrar(element) {
        let legend
        let filter
        if (element == "colaborador") {
            legend = $("#mostrar_demitidos");
            filter = { "demissao__isnull": true }
        } else if (element == "obra") {
            legend = $("#mostrar_finalizadas");
            filter = { "finalizada": 'false' }
        }

        const text = legend.text().split(" ");
        let data = []
        if (text[0] == "ocultar") {
            data = await apiRequest.get(element, filter)
            legend.text("exibir ".concat(text[1]));
        } else {
            data = await apiRequest.get(element)
            legend.text("ocultar ".concat(text[1]));
        }
        let pos_data = []
        await data.forEach((row)=>{
            pos_data.push({'value':row.nome || row.id, 'text':row.nome || row.id + ' || ' + row.empresa + ' - ' + row.cidade})
        })
        generics.populate.select(prefix + element, pos_data)
    }
    function confirmMeiaDiaria() {
        if (meiadiaria.prop("checked")) {
            if (!confirm('Tens certeza que deseja selecionar Meia Diária')) {
                meiadiaria.prop('checked', false);
            }
        }
    }
    function temData() {
        if (dia.val() == '') {
            toasts('warning', { 'message': 'Informe uma data antes!!', 'method': 'Pesquisa' })
            return false
        } else
            return true
    }
    function get_desc() {
        if (temData) {
            console.log(dia.val())
            data = dia.val().split('-')
            data = data[2].concat('-', data[1], '-', data[0])
            apiRequest.get('diarioobra', { 'diario': obra.val().concat('_', data, '_', indice.val()) }).then((data) => {
                descricao.val(data[0].descricao);
            })
        }
    };
    function limparHora(hora) {
        $('#form_atividade_horaini' + hora).val('')
        $('#form_atividade_horafim' + hora).val('')
    }
    function changeObra() {
        const att = ["ATESTADO","DISPENSA","FALTA","FOLGA","FÉRIAS","TREINAMENTO","ATIVIDADE OBRA"];
    
        if (obra.val() >= 7) {
            atividade.val(att[6]);
        } else {
            atividade.val(att[obra.val() - 1]);
        }
        changeAtividade();
    }
    function changeAtividade() {
        const campos1 = ["horaini3", "horafim3", "diaseguinte", "atividade"];
        const campos2 = ["supervisor", "motivo"];
        if (obra.val() > 1 && obra.val() < 5) {
            desativado = true;
        } else {
            desativado = false;
        }
        campos1.forEach((campo)=>{
            $(`#${prefix}${campo}`).attr("disabled", desativado);
        })
        campos2.forEach((campo)=>{
            $(`#${prefix}${campo}`).attr("disabled", !desativado);
        })
        
    }
</script>

{% endblock %}