{% extends app|add:'/base.html' %}


{%block 'header'%}
<h2>Cadastro de diário</h2>
{%endblock%}

{% block 'main' %}

<div class="row">
    <div class="col-7">
        <div class="input-group mb-2">
            <label class="input-group-text">Digitalizado</label>
            <input type="file" class="form-control" id="form_diario_arquivo" accept="image/*">
        </div>
        <div class="row">
            <div class="col">
                <div class="row justify-content-end">
                    <div class="input-group">
                        <label class="input-group-text">Obra:</label>
                        <select class="form-select" id="form_diario_obra_id"></select>
                    </div>
                    <a href="#" class="exibir-ocultar mb-2 me-2" id="mostrar_finalizadas"
                        onclick="toggleOculto('obra_id')">exibir finalizadas</a>
                </div>
            </div>
            <div class="col-4">
                <div class="input-group mb-2">
                    <label class="input-group-text" for="form_diario_indice">Indice:</label>
                    <input type="number" id="form_diario_indice" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="input-group mb-2">
                    <label class="input-group-text" for="form_diario_encarregado">Encarregado:</label>
                    <select class="form-select" id="form_diario_encarregado">
                    </select>
                </div>
            </div>
            <div class="col-5">
                <div class="input-group mb-1">
                    <label class="input-group-text" for="form_diario_data">Data:</label>
                    <input type="date" id="form_diario_data" class="form-control">
                </div>
            </div>
        </div>
        <div class="input-group mb-2">
            <span class="input-group-text">Descrição:</span>
            <textarea class="form-control" id="form_diario_descricao"></textarea>
        </div>
        <div class="col align-self-center">
            <h4>Climas</h4>
            <div class="row">
                <div class="col">
                    <div class="input-group mb-2">
                        <label class="input-group-text" for="form_diario_climamanha">Manhã</label>
                        <select class="form-select" id="form_diario_climamanha">
                            <option>Sol</option>
                            <option>Chuva</option>
                            <option>Nublado</option>
                            <option selected>Não informado</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-2">
                        <label class="input-group-text" for="form_diario_climatarde">Tarde</label>
                        <select class="form-select" id="form_diario_climatarde">
                            <option selected>Sol</option>
                            <option>Chuva</option>
                            <option>Nublado</option>
                            <option selected>Não informado</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-auto"><button type="button" class="btn btn-primary mt-2 mb-2" onclick="register_redirect()">Lançar e Abrir atividade</button></div>
            <div class="col-auto"><button type="button" class="btn btn-success mt-2 mb-2"
                    onclick="registrar()">Lançar</button></div>
        </div>
        <div div='row mb-2' style="border-top: 1px solid lightgray;">{%include app|add:'/table/diario.html'%}</div>
    </div>
    <div class="col">
        <div class="text-center">
            <img src="https://cdn-icons-png.flaticon.com/512/104/104090.png" class="img-thumbnail" alt="Digitalização"
                style="width: 600px;height: 750px; object-fit: contain; " id="form_diario_digitalização"
                data-bs-toggle="modal" data-bs-target="#view_diario">
        </div>
    </div>
</div>

<div id="liveAlertPlaceholder"></div>
<script>
    let photo = document.getElementById('form_diario_digitalização');
    let file = document.getElementById('form_diario_arquivo');
    var filename
    $(document).ready(function(){
        loadForm('diario')

  
        
        $('#form_diario_arquivo').change(function () {
            filename = $('#form_diario_arquivo').val().replace("C:\\fakepath\\", "").split(".")
            
            let reader = new FileReader();
            
            reader.onload = () => {
                photo.src = reader.result;
                previewModal_img(reader.result)
                info = filename[0].split("_")
                $('#form_diario_obra_id').val(info[0])
                d = info[1].split("-")
                d = d[2] + "-" + adicionaZero(parseInt(d[1])) + "-" + adicionaZero(parseInt(d[0]));
                $('#form_diario_data').val(d)
                $('#form_diario_indice').val(info[2])
            }
            reader.readAsDataURL(file.files[0]);
        });
        
    })
    function adicionaZero(numero) {
        if (numero <= 9)
            return "0" + numero;
            else
            return numero;
        }
    function registrar(redirect){
        let file = $('#form_diario_arquivo')[0].files[0];
        if (!file) {
            toasts('warning',{'method':'Registro','message':"Por favor, selecione um arquivo primeiro."})
            return;
        }
        let parametro = {
            'data': $('#form_diario_data').val(),
            'obra_id': $('#form_diario_obra_id').val(),
            'indice': $('#form_diario_indice').val(),
            'encarregado': $('#form_diario_encarregado').val(),
            'climamanha': $('#form_diario_climamanha').val(),
            'climatarde': $('#form_diario_climatarde').val(),
            'descricao': $('#form_diario_descricao').val(),
        }
        data = parametro['data'].split('-')
        parametro['imagem'] = parametro.obra_id.concat('_', data[2],'-',data[1],'-',data[0]) + '_' + parametro.indice + '.' + filename[(filename.length - 1)]
        let formData = new FormData();
        formData.append('file', file);
        formData.append('parametro', JSON.stringify(parametro));
        formData.append('metodo', 'diario');
        apiRequest.upload(
            'register',
            formData,
            function(){
                $("#table").bootstrapTable("refresh");
                if (redirect){
                    let obra = $('#form_diario_obra_id').val()
                    let data = $('#form_diario_data').val()
                    let indice = $('#form_diario_indice').val()
                    let desc = $('#form_diario_descricao').val()
                    window.location.href = `http://10.0.0.211:8001/Lancamento_obra/lancamentos/atividade?obra=${obra}&data=${data}&indice=${indice}&desc=${desc}`;
                }
            }
            )
            
        }
    function register_redirect(){
        registrar(true)
    }
</script>
{% endblock %}