{% extends 'lançamento_obra.html' %}

{% block 'head' %}
  <script src="colaborador.js"></script>
{% endblock %}

{% block 'style' %}
<style>
  .input-group{
    width: 40%;
 }
</style>
{% endblock %}

{% block 'main' %}
<div class="main">
  <h2>Cadastro de colaborador</h2>
  <form action="{% url 'cadastro_colab' %}" method="POST">{% csrf_token %}
    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Nome:</label>
      <input type="text" name="nome" id="">
    </div>

    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Função:</label>
      <input type="text" name="funcao" id="">
    </div>

    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Data de admissão:</label>
      <input type="date" name="admissao" id="">
    </div>

    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Data de demissão</label>
      <input type="date" name="demissao" id="">
    </div>

    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Tipo de contrato:</label>
      <select class="form-select" id="inputGroupSelect01" name="tipo">
        <option value="CLT">CLT</option>
        <option value="Terceiro">Terceiro</option>
      </select>
    </div>
    
    <div class="input-group mb-3">
      <span class="input-group-text">Valor da Diaria</span>
      <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" name="diaria">
      <span class="input-group-text">R$</span>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Observações</span>
      <textarea class="form-control" aria-label="With textarea" name="observacao"></textarea>
    </div>

    <input type="submit" class="btn btn-outline-success" value="Registrar" id="liveAlertBtn">
    <div id="liveAlertPlaceholder"></div>
  </form>

</div>

{% endblock %}