{% extends 'lançamento_obra.html' %}

{% block 'head' %}
  <style>
    .main{
      padding: 150px 150px;;
    }
  </style>
  
{% endblock %}

{%block 'caminho'%}
  <li class="breadcrumb-item" aria-current="page">Cadastro</li>
  <li class="breadcrumb-item active" aria-current="page">Função</li>
{%endblock%}

{%block 'header'%}
<h2>Cadastro de função</h2>
{%endblock%}

{% block 'main' %}
    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Nome da função:</label>
      <input type="text" name="nome" id="nome" class="form-control">
    </div>
  <button id="enviar" class="btn btn-outline-success">Cadastrar</button>

  <script>
    $(document).ready(function() {
      $('#enviar').click(function() {
        let parametro = {
          'funcao': document.getElementById('nome').value,
          'grupo' : 1,
        }
        console.log(parametro)
        salvarData('Funcao', parametro)
    })
  })
  </script>
  {% block 'edit' %}{% endblock %}
{% endblock %}