{%extends 'ti.html'%}
{%load static%}
{% block 'caminho' %}
<li class="breadcrumb-item" aria-current="page">Colaborador</li>
<li class="breadcrumb-item active" aria-current="page">Cadastrar</li>
{%endblock%}

{%block 'main'%}
<h3>Informações principais</h3>
<div class="row">
    <div class="col-5">
        <div class="input-group mb-3">
            <span class="input-group-text">Nome:</span>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
        </div>
    </div>
    <div class="col">
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Data de contratação:</label>
            <input type="date" name="admissao" id="admissao" class="form-control">
          </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="input-group mb-3">
            <span class="input-group-text">Setor:</span>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
        </div>
    </div>
    <div class="col">
        <div class="input-group mb-3">
            <span class="input-group-text">Função:</span>
            <select class="form-select" id="inputGroupSelect01">
                <option selected>Engenheiro</option>
                <option value="1">Auxiliar Administrativo</option>
            </select>
        </div>
    </div>
</div>
{%endblock%}


{%block 'submain'%}
<h4>Detalhes</h4>
<div class="container text-start">
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <select class="form-select" id="inputGroupSelect01" placeholder="teste">
                    <option selected>E-mail</option>
                    <option value="1">Notebook</option>
                    <option value="2">Usuário da plataforma</option>
                    <option value="2">Senha da plataforma</option>
                    <option value="2">Acesso</option>
                    <option value="2">Conta do Remapeiar</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4"
                    placeholder="Detalhe">
            </div>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-danger">Remover</button>
        </div>
    </div>
    <div class="row">
        <a class="icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);" href="#">
            + Adicionar detalhe
        </a>
    </div>
</div>
{%endblock%}