{% extends app|add:'/base.html' %}

{%load static%}

{%block 'header'%}
<h2>Consulta de Descontos</h2>
{%include 'consulta.html'%}
<thead>
    <tr>
        <th data-field="id" data-sortable="true">ID</th>
        <th data-field="responsavel" data-sortable="true">Responsável</th>
        <th data-field="dia" data-sortable="true" data-formatter="dataFormatter">Data</th>
        <th data-field="colaborador" data-sortable="true">Colaborador</th>
        <th data-field="folgas" data-sortable="true" data-formatter="intervalFormatter">Folgas</th>
        <th data-field="faltas" data-sortable="true" data-formatter="intervalFormatter">Faltas</th>
        <th data-field="dispensas" data-sortable="true" data-formatter="intervalFormatter">Dispensas</th>
        <th data-field="diario" data-sortable="true">Diário</th>
        <th data-field="editar" data-formatter="editarFormatter" data-events="editarEvents">Editar</th>
    </tr>
</thead>
</table>
<script>
    function editarFormatter(value) {

        return (
            '<div style="margin-left: 0px; display: inline-flex;">'
            + '<div class="btn-icon bg-info bi-pencil me-1" id="editarBtn" href="javascript:void(0)" title="Editar">'
            + '</div>'
            + '<div class="btn-icon bg-success bi-file-earmark-text" id="viewBtn" href="javascript:void(0)" title="Diário">'
            + '</div>'
            + '</div>'
        )
    }
    window.editarEvents = {
        'click #editarBtn': function (e, value, row, index) {
            modal.open('update','atividade', row['id'])
        },
        'click #viewBtn': function (e, value, row, index) {
            modal.open('image','diario', row['diario'])
        },
    }
</script>
{%endblock%}