<div class="modals">
    <div class="modal fade" id="m_register-funcao" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastro de função</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group input-group-sm mb-2">
                        <label class="input-group-text">Nome:</label>
                        <input type="text" id="m_register-funcao_funcao" class="form-control">
                    </div>
                    <div class="input-group input-group-sm mb-2">
                        <label class="input-group-text">Grupo:</label>
                        <select class="form-select" id="m_register-funcao_grupo">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-primary btn-sm" id="m_register-funcao_submit">Cadastrar</button>
                    <hr>
                    <div class="modal-table">
                        <table class="table table-hover table-bordered table-striped table-sm"
                            id="m_register-funcao_table">
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal supervisor-->
    <div class="modal fade" id="m_register-supervisor" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastro de supervisor</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group input-group-sm mb-2">
                        <label class="input-group-text">Nome:</label>
                        <input type="text" id='m_register-supervisor_id' class="form-control">
                    </div>
                    <div class="input-group input-group-sm mb-2">
                        <span class="input-group-text">Ativo</span>
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" id="m_register-supervisor_ativo"
                                checked>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary btn-sm mb-2"
                        id="m_register-supervisor_submit">Registrar</button>
                    <div class="modal-table">
                        <table class="table table-hover table-bordered table-striped table-sm"
                            id="m_register-supervisor_table">
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="m_register-valor_hora" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastro de valor da hora dos colabs</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group input-group-sm mb-2">
                        <label class="input-group-text">Colaborador:</label>
                        <select class="form-select" id="m_register-valor_hora_colaborador"></select>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <label class="input-group-text">Normal:</label>
                                <input type="number" id='m_register-valor_hora_horanormal' class="form-control">
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <label class="input-group-text">+50%:</label>
                                <input type="number" id='m_register-valor_hora_hora50' class="form-control">
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <label class="input-group-text">+100%:</label>
                                <input type="number" id='m_register-valor_hora_hora100' class="form-control">
                            </div>
                        </div>
                        <input type="hidden" id="m_register-valor_hora_autorizado" checked disabled>
                    </div>
                    <button type="button" class="btn btn-primary btn-sm mb-2"
                        id="m_register-valor_hora_submit">Registrar</button>
                    <div class="modal-table">
                        <table class="table table-hover table-bordered table-striped table-sm"
                            id="m_register-valor_hora_table">
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal upadate colaborador-->
    <div class="modal fade" id="m_update-colaborador" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edição de colaborador</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-3">
                            <div class="input-group input-group-sm mb-2">
                                <label class="input-group-text">ID:</label>
                                <input type="text" id="m_update-colaborador_id" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <label class="input-group-text">Nome:</label>
                                <input type="text" id="m_update-colaborador_nome" class="form-control">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <label class="input-group-text">Admissão:</label>
                                <input type="date" id="m_update-colaborador_admissao" class="form-control">
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <label class="input-group-text">Função:</label>
                                <select class="form-select" id="m_update-colaborador_funcao">
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <label class="input-group-text">Demissão:</label>
                                <input type="date" id="m_update-colaborador_demissao" class="form-control">
                            </div>
                        </div>

                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-text">
                                    <input class="form-check-input mt-0" type="checkbox"
                                        id="m_update-colaborador_encarregado">
                                </div>
                                <span class="input-group-text">Encarregado</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <label class="input-group-text">Tipo de contrato:</label>
                                <select class="form-select" id="m_update-colaborador_contrato"
                                    onchange="toggleDiaria()">
                                    <option value="CLT">CLT</option>
                                    <option value="Terceiro">Terceiro</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group input-group-sm mb-2" id="m_update-colaborador_div_diaria">
                                <span class="input-group-text">Valor da Diaria</span>
                                <input type="text" class="form-control" id="m_update-colaborador_diaria">
                                <span class="input-group-text">R$</span>
                            </div>
                        </div>

                    </div>

                    <div class="input-group input-group-sm mb-2">
                        <span class="input-group-text">Observações</span>
                        <textarea class="form-control" id="m_update-colaborador_observacao"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id='m_update-colaborador_del'
                        data-bs-dismiss="modal">Deletar</button>
                    <button type="button" class="btn btn-success" id='m_update-colaborador_save'>Salvar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal update obra-->
    <div class="modal fade" id="m_update-obra" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edição de obra</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <label class="input-group-text">CR:</label>
                                <input type="text" id="m_update-obra_id" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <label class="input-group-text">Orçamento:</label>
                                <input type="text" id="m_update-obra_orcamento" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <label class="input-group-text" for="m_update-obra_retrabalho">Retrabalho</label>
                                <input type="text" class="form-control" id="m_update-obra_retrabalho">
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <label class="input-group-text" for="form_obra_cidade">Tecnicon:</label>
                                <input type="text" id="m_update-obra_tecnicon" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <label class="input-group-text">Empresa:</label>
                                <input type="text" id="m_update-obra_empresa" class="form-control">
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <label class="input-group-text">Cidade:</label>
                                <input type="text" id="m_update-obra_cidade" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="input-group input-group-sm mb-2">
                        <label class="input-group-text" for="m_update-obra_indice">Índice:</label>
                        <select class="form-select" id="m_update-obra_indice">
                            <option>ATESTADO</option>
                            <option>DISPENSAS E FOLGAS</option>
                            <option>FALTAS</option>
                            <option>FÉRIAS</option>
                            <option>OBRAS ENGENHARIA</option>
                            <option>RETRABALHOS</option>
                            <option>SERVIÇOS INTERNOS</option>
                            <option>SERVIÇOS PARA O GRUPO</option>
                            <option>TREINAMENTO</option>
                        </select>
                    </div>

                    <div class="row">
                        <div class="col-auto">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-text">
                                    <input class="form-check-input mt-0" type="checkbox" value="True"
                                        id="m_update-obra_finalizada">
                                </div>
                                <span class="input-group-text">Finalizada</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <label class="input-group-text">Supervisor:</label>
                                <select class="form-select" id="m_update-obra_supervisor"></select>
                            </div>
                        </div>
                        <div class="input-group input-group-sm mb-2">
                            <label class="input-group-text" for="m_update-obra_descricao">Descrição:</label>
                            <textarea type="text" id="m_update-obra_descricao" class="form-control"></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                        id='m_update-obra_del'>Deletar</button>
                    <button type="button" class="btn btn-success" id='m_update-obra_save'>Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal update att-->
    <div class="modal fade" id="m_update-atividade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edição de atividade</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="input-group input-group-sm mb-2">
                                <label class="input-group-text">ID:</label>
                                <input type="text" id="m_update-atividade_id" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <label class="input-group-text">Data de realização:</label>
                                <input type="date" id="m_update-atividade_dia" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="input-group input-group-sm mb-2">
                        <label class="input-group-text">Colaborador:</label>
                        <select class="form-select" id="m_update-atividade_colaborador">
                        </select>
                    </div>


                    <div class="input-group input-group-sm mb-2">
                        <label class="input-group-text" for="m_update-atividade_obra">Obra:</label>
                        <select class="form-select" id="m_update-atividade_obra" onchange="changeObra()">

                        </select>
                    </div>



                    <div class="row align-items-start">
                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <label class="input-group-text">Atividade:</label>
                                <select class="form-select" id="m_update-atividade_atividade">

                                </select>
                            </div>
                        </div>


                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <label class="input-group-text">Indice do diario:</label>
                                <select class="form-select" id="m_update-atividade_indice">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>

                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="input-group input-group-sm mb-2">
                        <label class="input-group-text">Responsável:</label>
                        <select class="form-select" id="m_update-atividade_supervisor"></select>
                    </div>
                    <div class="input-group input-group-sm mb-2">
                        <label class="input-group-text">Motivo:</label>
                        <input type="text" class="form-control" id="m_update-atividade_motivo">
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-text">
                                    <input class="form-check-input" type="checkbox" id="m_update-atividade_diaseguinte">
                                </div>
                                <span class="input-group-text">Plantão</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-text">
                                    <input class="form-check-input" type="checkbox" id="m_update-atividade_meiadiaria">
                                </div>
                                <span class="input-group-text">Meia diaria</span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group input-group-sm mb-2">
                        <span class="input-group-text">Descrição:</span>
                        <textarea class="form-control" id="m_update-atividade_descricao"></textarea>
                    </div>
                    <div class="input-group input-group-sm mb-2">
                        <label class="input-group-text">Hora Manhã</label>
                        <input type="time" id="m_update-atividade_horaini1" class="form-control">
                        <input type="time" id="m_update-atividade_horafim1" class="form-control">
                    </div>

                    <div class="input-group input-group-sm mb-2">
                        <label class="input-group-text">Hora Tarde</label>
                        <input type="time" id="m_update-atividade_horaini2" class="form-control">
                        <input type="time" id="m_update-atividade_horafim2" class="form-control">
                    </div>
                    <div class="input-group input-group-sm mb-2">
                        <label class="input-group-text">Hora Noite</label>
                        <input type="time" id="m_update-atividade_horaini3" class="form-control">
                        <input type="time" id="m_update-atividade_horafim3" class="form-control">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id='m_update-atividade_del'
                        data-bs-dismiss="modal">Deletar</button>
                    <button type="button" class="btn btn-success" id='m_update-atividade_save'>Salvar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal diario-->
    <div class="modal" id="m_image-diarioobra" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Diário digital</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <img alt="imagem ausente" class="img-thumbnail" id="m_image-diarioobra_imagem">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Update diário -->
    <div class="modal fade" id="m_update-diarioobra" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edição de Diário</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="col-4">
                        <div class="input-group input-group-sm mb-2">
                            <label class="input-group-text">ID:</label>
                            <input type="number" class="form-control" id="m_update-diarioobra_id" disabled>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <label class="input-group-text" for="m_update-diarioobra_obra">Obra:</label>
                                <select class="form-select" id="m_update-diarioobra_obra" disabled>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input-group input-group-sm mb-2">
                                <label class="input-group-text" for="m_update-diarioobra_indice">Indice:</label>
                                <input type="number" id="m_update-diarioobra_indice" class="form-control" disabled>
                            </div>
                        </div>
                    </div>



                    <div class="input-group input-group-sm mb-2">
                        <label class="input-group-text" for="m_update-diarioobra_encarregado">Encarregado:</label>
                        <select class="form-select" id="m_update-diarioobra_encarregado">
                            <option value=""></option>
                        </select>
                    </div>

                    <div class="input-group input-group-sm mb-2">
                        <label class="input-group-text" for="m_update-diarioobra_data">Data:</label>
                        <input type="date" id="m_update-diarioobra_data" class="form-control" disabled>
                    </div>
                    <div class="input-group input-group-sm mb-2">
                        <span class="input-group-text">Descrição:</span>
                        <textarea class="form-control" id="m_update-diarioobra_descricao"></textarea>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <label class="input-group-text" for="m_update-diarioobra_climamanha">Manhã</label>
                                <select class="form-select" id="m_update-diarioobra_climamanha">
                                    <option>Sol</option>
                                    <option>Chuva</option>
                                    <option>Nublado</option>
                                    <option selected>Não informado</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group input-group-sm mb-2">
                                <label class="input-group-text" for="m_update-diarioobra_climatarde">Tarde</label>
                                <select class="form-select" id="m_update-diarioobra_climatarde">
                                    <option selected>Sol</option>
                                    <option>Chuva</option>
                                    <option>Nublado</option>
                                    <option selected>Não informado</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id='m_update-diarioobra_del'
                        data-bs-dismiss="modal">Deletar</button>
                    <button type="button" class="btn btn-success" id='m_update-diarioobra_save'>Salvar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal programação-->
    <div class="modal" id="m_image-localizacaoprogramada" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Programação digital</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <img alt="imagem ausente" class="img-thumbnail" id="m_image-localizacaoprogramada_imagem">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal update programação -->
    <div class="modal fade" id="m_update-localizacaoprogramada" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edição de Programação</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="input-group input-group-sm mb-2">
                                <label class="input-group-text" for="m_update-localizacaoprogramada_id">ID:</label>
                                <input type="text" class="form-control" id="m_update-localizacaoprogramada_id" disabled>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group input-group-sm mb-2">
                                <label class="input-group-text"
                                    for="m_update-localizacaoprogramada_iniciosemana">Segunda-feira:</label>
                                <input type="date" id="m_update-localizacaoprogramada_iniciosemana" class="form-control"
                                    disabled>
                            </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class="input-group input-group-sm mb-2">
                            <label class="input-group-text"
                                for="m_update-localizacaoprogramada_colaborador">Colaborador:</label>
                            <select class="form-select" id="m_update-localizacaoprogramada_colaborador" disabled>
                            </select>
                        </div>
                    </div>

                    <div class="input-group input-group-sm mb-2">
                        <label class="input-group-text"
                            for="m_update-localizacaoprogramada_encarregado">Encarregado:</label>
                        <select class="form-select" id="m_update-localizacaoprogramada_encarregado">
                            <option value=""></option>
                        </select>
                    </div>

                    <div class="input-group input-group-sm mb-2">
                        <label class="input-group-text" for="m_update-localizacaoprogramada_obra">Obra:</label>
                        <select class="form-select" id="m_update-localizacaoprogramada_obra">

                        </select>
                    </div>

                    <div class="input-group input-group-sm mb-2">
                        <span class="input-group-text">Observação:</span>
                        <textarea class="form-control" id="m_update-localizacaoprogramada_observacao"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id='m_update-localizacaoprogramada_del'
                        data-bs-dismiss="modal">Deletar</button>
                    <!-- <button type="button" class="btn btn-primary" id=''>Visualizar</button> -->
                    <button type="button" class="btn btn-success"
                        id='m_update-localizacaoprogramada_btn'>Salvar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="impressao_diarioobra" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Imprimir Diário</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="input-group input-group-sm mb-2">
                                <label class="input-group-text">CR:</label>
                                <input type="text" class="form-control" id="impressao_diarioobra_cr">
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group input-group-sm mb-2">
                                <label class="input-group-text"
                                    for="m_update-localizacaoprogramada_iniciosemana">Segunda-feira:</label>
                                <input type="date" id="impressao_diarioobra_iniciosemana" class="form-control"
                                    value="{{hojeJS}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="downloadXLSX()">Baixar</button>
                </div>
            </div>
        </div>
        <script>
            function downloadXLSX() {
                // Definir os parâmetros que serão enviados via GET
                const cr = $("#impressao_diarioobra_cr").val(); // Exemplo de valor para param1
                const data = $("#impressao_diarioobra_iniciosemana").val(); // Exemplo de valor para param2

                // Montar a URL com os parâmetros
                const url = `${api}Lancamento_obra/diarioobra_impressao?cr=${encodeURIComponent(cr)}&data=${encodeURIComponent(data)}`;
                const link = document.createElement('a');
                link.href = url;
                link.target = '_blank';
                document.body.appendChild(link);
                link.click();
                link.parentNode.removeChild(link); // Remover o link após o download
            }

        </script>

    </div>

    <div class="modal fade" id="m_table-dia" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Tabela de Dia</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">

                    <div class="modal-table">
                        <table class="table table-hover table-bordered table-striped table-sm" id="m_table-dia_table">
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>