{% load permission_tags %}
{%load static%}
<div class="sidenav">
    <a href="/{{app}}/" class="nome_app">{{app_name}}</a>
    <div class="accordion accordion-flush" id="accordion">
        {% if user|can:'Lancamento_obra-cadastros' %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#menu-cadastro" aria-expanded="false">
                    Cadastros   
                </button>
            </h2>
            <div id="menu-cadastro" class="accordion-collapse collapse" data-bs-parent="#accordion">
                <a href="{%url 'cadastros' 'colaborador'%}"><i {{icon_form}}></i> Colaborador</a>
                <a href="{%url 'cadastros' 'obra'%}"><i {{icon_form}}></i> Obra</a>
                <a href="#" onclick="modal.open('register', 'funcao')"><i {{icon_modal}}></i> Função</a>
                <a href="#" onclick="modal.open('register', 'supervisor')"><i {{icon_modal}}></i>
                    Supervisor</a>
            </div>
        </div>
        {%endif%}
        {% if user|can:'Lancamento_obra-lancamentos' %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#menu-lancamento" aria-expanded="false">
                    Lançamentos
                </button>
            </h2>
            <div id="menu-lancamento" class="accordion-collapse collapse" data-bs-parent="#accordion">
                <a href="{%url 'lancamentos' 'atividade'%}"><i {{icon_form}}></i> Atividade</a>
                <a href="{%url 'lancamentos' 'diario'%}"><i {{icon_form}}></i> Diário</a>
                <a href="{%url 'lancamentos' 'programacao'%}"><i {{icon_form}}></i> Programação</a>
            </div>
        </div>
        {%endif%}
        {% if user|can:'Lancamento_obra-tabelas' %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#menu-tabelas" aria-expanded="false">
                    Tabelas
                </button>
            </h2>
            <div id="menu-tabelas" class="accordion-collapse collapse" data-bs-parent="#accordion">
                <a href="{%url 'tabelas' 'colaborador'%}"><i {{icon_table}}></i> Colaboradores</a>
                <a href="{%url 'tabelas' 'obra'%}"><i {{icon_table}}></i> Obras</a>
                <a href="{%url 'tabelas' 'atividade'%}"><i {{icon_table}}></i> Atividade</a>
                <a href="{%url 'tabelas' 'diario'%}"><i {{icon_table}}></i> Diário</a>
                <a href="{%url 'tabelas' 'programacao'%}"><i {{icon_table}}></i> Programação</a>
            </div>
        </div>
        {%endif%}
        {% if user|can:'Lancamento_obra-consultas' %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#menu-consultas" aria-expanded="false">
                    Consultas
                </button>
            </h2>
            <div id="menu-consultas" class="accordion-collapse collapse" data-bs-parent="#accordion">
                <a href="{%url 'consultas' 'incompletos'%}"><i {{icon_table}}></i> Incompletos</a>
                <a href="{%url 'consultas' 'hora_mes'%}"><i {{icon_table}}></i> Horas por mês</a>
                <a href="{%url 'consultas' 'efetividade'%}"><i {{icon_table}}></i> Efetividade</a>
                <a href="{%url 'consultas' 'descontos_resumo'%}"><i {{icon_table}}></i> Descontos</a>
                <a href="{%url 'consultas' 'diarias'%}"><i {{icon_table}}></i> Diárias</a>
                <a href="{%url 'consultas' 'fechados'%}"><i {{icon_table}}></i> Fechados</a>
                <a href="{%url 'consultas' 'alocacoes'%}"><i {{icon_table}}></i> Alocações</a>
            </div>
        </div>
        {%endif%}
        {% if user|can:'Lancamento_obra-impressoes' %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#menu-impressao" aria-expanded="false">
                    Impressões
                </button>
            </h2>
            <div id="menu-impressao" class="accordion-collapse collapse" data-bs-parent="#accordion">
                <a href="#" data-bs-toggle="modal" data-bs-target="#impressao_diario"><i {{icon_modal}}></i>  Baixar Diário</a>
            </div>
        </div>
        {%endif%}

        {% if user|can:'Lancamento_obra-graficos' %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#menu-graficos" aria-expanded="false">
                    Graficos
                </button>
            </h2>
            <div id="menu-graficos" class="accordion-collapse collapse" data-bs-parent="#accordion">
                <a href="{%url 'graficos' 'horas_extras'%}"><i class="bi-file-earmark-bar-graph"></i> Horas
                    extras</a>
            </div>
        </div>
        {%endif%}

    </div>
</div>