{% extends 'base.html' %}
{% load static %}

{%block 'header'%}
<h2>Cadastro de colaborador</h2>
{%endblock%}
{% block 'main' %}

<div class="row">
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">NOME:</label>
            <input type="text" id="f_colaborador_nome" class="form-control">
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">CPF:</label>
            <input type="number" id="f_colaborador_cpf" class="form-control">
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">RG:</label>
            <input type="number" id="f_colaborador_rg" class="form-control">
        </div>
    </div>

    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <label class="input-group-text">NASCIMENTO:</label>
            <input type="date" id="f_colaborador_nascimento" class="form-control">
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm" >
            <label class="input-group-text">TELEFONE:</label>
            <input type="number" id="f_colaborador_fone" class="form-control">
        </div>
    </div>

    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap input-group-sm">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" id="f_colaborador_ativo" checked>
            </div>
            <span class="input-group-text">ATIVO:</span>
        </div>
    </div>
    
</div>




<div class="row justify-content-end"><div class="col-auto"><button id="f_colaborador_submit" class="btn btn-success">Cadastrar</button></div></div>
<script>
    $(document).ready(function(){
        loader = new Form('colaborador','register')
        loader.open()
    })
</script>
{% endblock %}

{%block 'footer'%}
<div class="submain">{%include app|add:'/table/colaborador.html'%}</div>
{%endblock%}