{% extends 'base.html' %}
{% load static %}

{%block 'header'%}
<h2>Registro de lembrete</h2>
{%endblock%}
{% block 'main' %}

<div class="row">
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap">
            <label class="input-group-text">NOME:</label>
            <input type="text" id="f_lembrete_colaborador" class="form-control">
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap" >
            <label class="input-group-text">TELEFONE:</label>
            <input type="tel" id="f_lembrete_telefone" class="form-control">
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group mb-2 flex-nowrap">
            <label class="input-group-text">PADRÃO:</label>
            <select class="form-select" id="f_lembrete_padrao"></select>
        </div>
    </div>
</div>

<div class="row justify-content-end"><div class="col-auto"><button id="f_lembrete_submit" class="btn btn-success">Cadastrar</button></div></div>
<script>
    $(document).ready(function(){
        loader = new Form('lembrete','register')
        loader.open()
    })
</script>
{% endblock %}

{%block 'submain'%}
<div class="submain">
    {%include 'tabela.html'%}
    
        <thead>
            <th data-field="id" data-sortable="true">ID</th>
            <th data-field="colaborador" data-sortable="true">Nome</th>
            <th data-field="telefone" data-sortable="true">Telefone</th>
            <th data-field="padrao" data-sortable="true">Padrão</th>
            <th data-formatter="editarFormatter" data-events="editarEvents"></th>
        </thead>
    </table>
    <script>
        function editarFormatter(value) {
            return '<a class="editarBtn" href="javascript:void(0)" title="Like"> <div class="btn-icon" style="background-color: skyblue;"><img src="{% static "icons/pencil.svg"%}" alt="edit"></div></div>'
        }
        window.editarEvents = {
            'click .editarBtn': function (e, value, row, index) {
                let modal = new Modal('lembrete', 'update')
                modal.open(row['id'])
            },
        }
    </script>
</div>
{%endblock%}