{%extends 'ti.html'%}
{%load static%}
{% block 'caminho' %}
<li class="breadcrumb-item" aria-current="page">Estoque</li>
<li class="breadcrumb-item active" aria-current="page">Adicionar estoque</li>
{%endblock%}

{%block 'main'%}
<h3>Informações principais</h3>
<div class="row">
    <div class="col-5">
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Produto:</label>
            <select class="form-select" id="inputGroupSelect01">
                <option value="1">Produto1</option>
                <option value="2">Produto2</option>
                <option value="2">Produto3</option>
            </select>
        </div>
    </div>
    <div class="col">
        <div class="input-group mb-3 flex-nowrap">
            <span class="input-group-text">Quantidade:</span>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
        </div>
    </div>
    <div class="col">
        <div class="input-group mb-3">
            <span class="input-group-text">Valor total:</span>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="input-group mb-3 flex-nowrap">
            <span class="input-group-text">Lote:</span>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
        </div>
    </div>
</div>
{%endblock%}


{%block 'submain'%}
<h4>Estoques recentes:</h4>
<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Produto</th>
            <th scope="col">descrição</th>
            <th scope="col">PQE</th>
            <th scope="col">Data</th>
            <th scope="col">Estoque minimo</th>
            <th>Edição</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">
                <p>001</p>
            </th>
            <td>
                <p>Tinta preta blala</p>
            </td>
            <td>
                <p>Tinta para Epson blala</p>
            </td>
            <td>
                <p>Impressora</p>
            </td>
            <td>
                <p>30/07/2024</p>
            </td>
            <td>
                <p>5 / un</p>
            </td>
            <td class="editar" data-bs-toggle="modal" data-bs-target="#edicao_produto" onclick="editLanc('{{i.id}}')">
                <div class="btn-icon" style="background-color: skyblue;"><img src="{% static 'icons/pencil.svg'%}"
                        alt="edit"></div>
            </td>
        </tr>

    </tbody>
</table>
{%endblock%}