/* Main content */
html{
  height: 100%;
}
body{ 
  font-family: "Lato", sans-serif;
  margin-top: var(--navbar_width);
  margin-left: var(--side_bar_width);
  padding: 20px 40px 0px 40px;
  /* user-select: none; */
  flex-direction: column;
  justify-content: center;
  background-color: var(--cor3);
  box-sizing: border-box;
}


.btn-icon {
  border-radius: 10px;
  /* padding: 4px; */
  width: 25px;
  height: 25px;
  display: flex;
  /* margin: 2px; */
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  font-size: medium;
}

.btn-icon:hover {
  cursor: pointer;
}



/* Some media queries for responsiveness */
.navbar {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--navbar_width);
}
.card{
  box-shadow: 3px 3px 3px lightgray;
}
h2{
    margin: 0px;
}
td{
  font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 1px
}
.exibir-ocultar{
    text-align: end;
    font-size: smaller;
}
:root{
  --navbar_width: 50px;
    --cor1: #73beab;
    --cor2: #91DBFA;
    --cor3: #f1f0ee;
    --cor4: #FFBA6B;
    --cor5: #bcc8ce;
    --cor6: #5E8077;
}

.sidenav .nome_app{
    background-color: var(--cor6);
}
.card-header{
    background-color: var(--cor6);
    color: white;
}
nav {
  background-color: var(--cor1);
}