/* Main content */
html{
  height: 100%;
}
body{  
  font-family: "Lato", sans-serif;
  padding-top: 60px;
  /* user-select: none; */
  height: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: var(--cor3);

}
header{
  margin-bottom: 20px;
}

.submain {
  margin-left: calc(var(--side-bar_width) + 50px);
  margin-top: 25px;
  padding: 20px 25px 0px 25px;
  border-top: 1px solid lightgray;
}

footer {
  background-color: azure;
  border-radius: 5px;
  padding: 5px;
  position: fixed;
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
  bottom: 20px;
  right: 20px;
}

.btn-icon {
  border-radius: 10px;
  padding: 4px;
  width: 25px;
  display: flex;
  height: 25px;
  margin: 2px;
}

.btn-icon:hover {
  cursor: pointer;
}



/* Some media queries for responsiveness */
.navbar {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
}
.card{
  box-shadow: 3px 3px 3px lightgray;
}
h2{
    margin: 0px;
}
td{
    font-size: 10px;
}
.exibir-ocultar{
    text-align: end;
    font-size: smaller;
}
:root{
    --cor1: #73beab;
    --cor2: #91DBFA;
    --cor3: #f1f0ee;
    --cor4: #FFBA6B;
    --cor5: #bcc8ce;
    --cor6: #5E8077;
}

.sidenav .nome_app{
    background-color: var(--cor6);
}
.card-header{
    background-color: var(--cor6);
    color: white;
}
nav {
  background-color: var(--cor1);
}