<script>
  function load_carro(carro){
    console.log(carro)
    $.ajax({
      url: "{% url 'get_data' %}",  // URL da sua API no Django
      type: 'GET',
      data: {
        'csrfmiddlewaretoken': "{{ csrf_token }}",
        'id': carro,
        'metodo': 'Carro',
      },
      success: function(response) {
        console.log(response)
        
      },  
      error: function(xhr) {
        alert(xhr.responseJSON.message);
      }
    });
  }

  function reload(param) {
    let url = new URL(window.location.href);
    let params = new URLSearchParams(url.search);
    let value = document.getElementById('date').value;

    // Atualizar o valor do parâmetro
    params.set(param, value);

    // Atualizar a URL no navegador e recarregar a página
    window.location.href = `${url.pathname}?${params}`;
  }
</script>
