{%load permission_tags%}
<div class="sidenav">

    <h1 class="nome_app">Reserva</h1>

    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <a href="{%url 'reservas'%}" class="a-inicio" style="padding: 16px 20px 16px 20px; font-size: 16px">
                    Inicio
                </a>
            </h2>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapse1" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Salas
                </button>
            </h2>
            <div id="flush-collapse1" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <a href="#" data-bs-toggle="modal" data-bs-target="#reserva_rapido" onclick="Reserva_rapida()"><i {{icon_modal}}></i> Reserva rápida</a>
                <a href="{%url 'sala' 'atendimento'%}"><i {{icon_form}}></i> Atendimento</a>
                <a href="{%url 'sala' 'apoio'%}"><i {{icon_form}}></i> Apoio</a>
                <a href="{%url 'sala' 'reunião'%}"><i {{icon_form}}></i> Reunião</a>
                <a href="{%url 'sala' 'registros'%}"><i {{icon_table}}></i> Lista de registros</a>
            </div>
        </div>
        {% if user|can:'frota' %}

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Frotas
                </button>
            </h2>
            <div id="flush-collapse2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <a href="{%url 'carros'%}"><i {{icon_form}}></i> Carros</a>
                <a href="{%url 'munck'%}"><i {{icon_form}}></i> Munck</a>
                <a href="{%url 'frota_registros'%}"><i {{icon_table}}></i> Registros</a>
                {% if user|can:'frota' %}
                <a href="#" data-bs-toggle="modal" data-bs-target="#cadastrar_carro"><i {{icon_modal}}></i> Cadastrar carro</a>
                {%endif%}
            </div>
        </div>
        {%endif%}

    </div>
</div>