{% extends 'lançamento_obra.html' %}
{% load static %}

{%block 'header'%}
<h2>Lançamento de Atividade</h2>
{%endblock%}

{% block 'main' %}
<div class="row justify-content-end">
    <div class="col">
        <div class="row justify-content-end">
            <div class="input-group">
                <label class="input-group-text">Colaborador:</label>
                <select class="form-select" id="form_atividade_colaborador"></select>
            </div>
            <a href="#" class="exibir-ocultar mb-2 me-2" id="mostrar_demitidos"
                onclick="toggleOculto('colaborador')">exibir demitidos</a>
        </div>
    </div>
    <div class="col">
        <div class="row justify-content-end">
            <div class="input-group">
                <label class="input-group-text">Obra:</label>
                <select class="form-select" id="form_atividade_obra_id" onchange="changeObra()"></select>
            </div>
            <a href="#" class="exibir-ocultar mb-2 me-2" id="mostrar_finalizadas"
                onclick="toggleOculto('obra_id')">exibir finalizadas</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="input-group mb-2">
            <label class="input-group-text">Hora Manhã</label>
            <input type="time" id="form_atividade_horaini1" class="form-control" value="07:30">
            <input type="time" id="form_atividade_horafim1" class="form-control" value="11:48">
        </div>

        <div class="input-group mb-2">
            <label class="input-group-text">Hora Tarde</label>
            <input type="time" id="form_atividade_horaini2" class="form-control" value="13:30">
            <input type="time" id="form_atividade_horafim2" class="form-control" value="18:00">
        </div>
        <div class="input-group mb-2">
            <label class="input-group-text">Hora Noite</label>
            <input type="time" id="form_atividade_horaini3" class="form-control">
            <input type="time" id="form_atividade_horafim3" class="form-control">
        </div>
    </div>
    <div class="col">
        <div class="input-group mb-2">
            <label class="input-group-text">Data de realização:</label>
            <input type="date" id="form_atividade_dia" class="form-control" value="{{hojeJS}}">
        </div>
        <div class="input-group mb-2">
            <label class="input-group-text">Indice do diario:</label>
            <input type="number" class="form-control" id="form_atividade_indice" value="1">
        </div>
        <div class="row">
            <div class="col">
                <div class="input-group mb-2">
                    <div class="input-group-text">
                        <input class="form-check-input" type="checkbox" id="form_atividade_diaseguinte">
                    </div>
                    <span class="input-group-text">Plantão</span>
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-2">
                    <div class="input-group-text">
                        <input class="form-check-input" type="checkbox" id="form_atividade_meiadiaria" onclick="confirmMeiaDiaria()">
                    </div>
                    <span class="input-group-text">Meia diaria</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="input-group mb-2">
            <label class="input-group-text">Atividade:</label>
            <select class="form-select" id="form_atividade_atividade_id"></select>
        </div>
        <div class="input-group mb-2">
            <label class="input-group-text">Responsável:</label>
            <select class="form-select" id="form_atividade_supervisor_id" disabled></select>
        </div>
        <div class="input-group mb-2">
            <label class="input-group-text">Motivo:</label>
            <input type="text" class="form-control" id="form_atividade_motivo" disabled>
        </div>
    </div>
    
        <div class="input-group">
            <span class="input-group-text">Descrição:</span>
            <textarea class="form-control" id="form_atividade_descricao"></textarea>
        </div>
        <a href="#" class="exibir-ocultar mb-2" onclick="get_desc()">puxar do diario</a>
    
    <div class="mt-3" style="justify-content: flex-end; display: flex;">
        <button type="button" class="btn btn-success" id="form_atividade_btn">Lançar</button>
    </div>
</div>
</div>
<script>
    function confirmMeiaDiaria(){
        if ($("#form_atividade_meiadiaria").prop("checked")){
            if (!confirm('Tens certeza que deseja selecionar Meia Diária')){
                $('#form_atividade_meiadiaria').prop('checked', false);
            }
        }
    }
    function get_desc() {
        if ($('#form_atividade_dia').val() == '') {
            alert('Informe uma data antes!!')
            return
        }
        data = $('#form_atividade_dia').val().split('-')
        data = data[2].concat('-', data[1], '-', data[0])
        $.ajax({
            url: API + "get_data", // URL da sua API no Django
            type: "GET",
            data: {
                csrfmiddlewaretoken: csrftoken,
                metodo: 'diario',
                parametro: $('#form_atividade_obra_id').val().concat('_', data, '_', $('#form_atividade_indice').val()),
            },
            success: function (data) {
                $('#form_atividade_descricao').val(data[0].descricao)
            },
            error: function (error) {
                toasts('danger', error.responseJSON)
            },
        });
    };
    loadForm('atividade')
    $(document).ready(function () {
        setTimeout( function(){
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('obra')){
                $("#form_atividade_dia").val(urlParams.get("data"))
                $("#form_atividade_obra_id").val(urlParams.get("obra"))
                $("#form_atividade_indice").val(urlParams.get("indice"))
                $("#form_atividade_descricao").val(urlParams.get("desc"))
                changeObra()
            }
        },200)
    })
</script>
{%endblock%}
{%block 'submain'%}
<div class="submain">{%include 'lancamento_obra/table/atividade.html'%}</div>
{% endblock %}