 <div class="sidenav">
    <h1 class="nome_app">Lançamento obra</h1>
    
     <div class="accordion accordion-flush" id="accordionFlushExample">
  
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Cadastros
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <a href="{%url 'cadastro_colab'%}"><i {{icon_form}}></i> Colaborador</a>
          <a href="{%url 'cadastro_obra'%}"><i {{icon_form}}></i> Obra</a>
        
          <a href="#" data-bs-toggle="modal" data-bs-target="#cadastro_func" onclick="loadTable('funcao', 'func_table')" ><i {{icon_modal}}></i> Função</a>
          <a href="#" data-bs-toggle="modal" data-bs-target="#cadastro_super" onclick="loadTable('supervisor', 'super_table')"><i {{icon_modal}}></i> Supervisor</a>    
        </div>
      </div>
  
  
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Visualização
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <a href="{%url 'visualizacao_tabela' ''%}"><i {{icon_table}}></i>  Colaboradores</a>
          <a href="{%url 'visualizacao_obra'%}"><i {{icon_table}}></i>  Obras</a>
          <a href="{%url 'visualizacao_atividade'%}"><i {{icon_table}}></i>  Atividade</a>
          <a href="{%url 'visualizacao_diario'%}"><i {{icon_table}}></i>  Diario</a>
          <a href="#"><i {{icon_table}}></i>  Revisões</a>
          <a href="{%url 'visualizacao_hora_horaextra'%}"><i {{icon_table}}></i>  Horas / Horas Extras</a>
        </div>
      </div>
      
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Lançamento
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <a href="{%url 'lancamento_atividade'%}"><i {{icon_form}}></i>  Atividade</a>
          <a href="{%url 'lancamento_diario'%}"><i {{icon_form}}></i>  Diário</a>
        </div>
      </div>
  
  
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            Outros
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <a href="#"><i {{icon_form}}></i>  Resumo mensal</a>
          
          <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-caret-down"></i> Pesquisa Avançada</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{%url 'pesquisa_historico_colab' %}"><i class="bi bi-calendar2-minus"></i>  Atividade por Colaborador</a></li>
            <li><a class="dropdown-item" href="{%url 'pesquisa_historico_obra' %}"><i class="bi bi-calendar2-minus"></i>  Atividade por Obra</a></li>
            <li><a class="dropdown-item" href="{%url 'pesquisa_atividade_diario' %}"><i class="bi bi-calendar2-minus"></i>  Atividade por Diario</a></li>
            <!-- <li><hr class="dropdown-divider"></li >
              <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
            
          </div>
        </div>

      
    </div>
  </div>
</div>