<div class="sidenav">
    <h1 class="nome_app">Lançamento obra</h1>

    <div class="accordion accordion-flush" id="accordion">

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#menu-cadastro" aria-expanded="false">
                    Cadastros
                </button>
            </h2>
            <div id="menu-cadastro" class="accordion-collapse collapse" data-bs-parent="#accordion">
                <a href="{%url 'cadastro' 'colaborador'%}"><i {{icon_form}}></i> Colaborador</a>
                <a href="{%url 'cadastro' 'obra'%}"><i {{icon_form}}></i> Obra</a>

                <a href="#" onclick="loadModal('register_funcao', 'funcao')"><i {{icon_modal}}></i> Função</a>
                <a href="#" onclick="loadModal('register_supervisor', 'supervisor')"><i {{icon_modal}}></i>
                    Supervisor</a>

            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#menu-lancamento" aria-expanded="false">
                    Lançamentos
                </button>
            </h2>
            <div id="menu-lancamento" class="accordion-collapse collapse" data-bs-parent="#accordion">
                <a href="{%url 'lancamento' 'atividade'%}"><i {{icon_form}}></i> Atividade</a>
                <a href="{%url 'lancamento' 'diario'%}"><i {{icon_form}}></i> Diário</a>
                <a href="{%url 'lancamento' 'programacao'%}"><i {{icon_form}}></i> Programação</a>
            </div>
        </div>


        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#menu-tabelas" aria-expanded="false">
                    Tabelas
                </button>
            </h2>
            <div id="menu-tabelas" class="accordion-collapse collapse" data-bs-parent="#accordion">
                <a href="{%url 'visualizacao' 'colaborador'%}"><i {{icon_table}}></i> Colaboradores</a>
                <a href="{%url 'visualizacao' 'obra'%}"><i {{icon_table}}></i> Obras</a>
                <a href="{%url 'visualizacao' 'atividade'%}"><i {{icon_table}}></i> Atividade</a>
                <a href="{%url 'visualizacao' 'diario'%}"><i {{icon_table}}></i> Diário</a>
                <a href="{%url 'visualizacao' 'programacao'%}"><i {{icon_table}}></i> Programação</a>
            </div>
        </div>


        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#menu-consultas" aria-expanded="false">
                    Consultas
                </button>
            </h2>
            <div id="menu-consultas" class="accordion-collapse collapse" data-bs-parent="#accordion">
                <a href="{%url 'visualizacao' 'incompletos'%}"><i {{icon_table}}></i> Incompletos</a>
                <a href="{%url 'visualizacao' 'hora_mes'%}"><i {{icon_table}}></i> Horas por mês</a>
                <a href="{%url 'visualizacao' 'efetividade'%}"><i {{icon_table}}></i> Efetividade</a>
                <a href="{%url 'visualizacao' 'descontos_resumo'%}"><i {{icon_table}}></i> Descontos</a>
                <a href="{%url 'visualizacao' 'diarias'%}"><i {{icon_table}}></i> Diárias</a>
            </div>
        </div>

        <!-- <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#menu-outros" aria-expanded="false">
                    Outros
                </button>
            </h2>
            <div id="menu-outros" class="accordion-collapse collapse" data-bs-parent="#accordion">
            </div>
        </div> -->
    </div>


</div>
