<div class="toasts">
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="toastSuccess" class="toast text-bg-success" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body">
                <strong class="me-auto" id='toastSuccess_method'>Sucesso em algo!</strong> <br>
                <small id='toastSuccess_message'>Algo deu certo</small>
            </div>
        </div>
        <div id="toastError" class="toast text-bg-danger" role="alert" aria-live="assertive" aria-atomic="true" >
            <div class="toast-body">
                <strong class="me-auto" id='toastError_method'>Error em algo!</strong> <br>
                <small id='toastError_message'>Operação falhou</small>
            </div>
        </div>
        <div id="toastAlert" class="toast text-bg-warning" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body">
                <strong class="me-auto" id='toastAlert_method'>Alerta em algo!</strong> <br>
                <small id='toastAlert_message'>Algo não esta correto</small>
            </div>
        </div>
    </div>
</div>
<!-- data-bs-autohide="false" -->