.submain .col {
    border-radius: 5px;
    background-color: white;
    margin-left: 10px;
    margin-bottom: 5px;
}

.table {
    margin: 0;
}

.form-check-input {
    height: 15px;
    width: 15px;
    box-shadow: 2px 2px 3px lightgray;
    margin-top: 0px;
}

.div_legenda {
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.legenda {
    font-size: medium;
    font-style: italic;
    color: gray;
    text-decoration: wavy;
    margin-bottom: 0px;
    padding-left: 3px;
}

th {
    align-content: center;
}

p {
    padding-right: 16px;
}

