<style>
    .modal_list {
        height: 200px;
        overflow: auto;
        border-top: 1px solid #dee2e6;
    }

    th {
        font-size: small;
    }
</style>


<div class="modals">
    <div class="modal fade" id="m_register-profissoes" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Cadastro de função</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group input-group-sm mb-2 nowrap ">
                        <label class="input-group-text">Nome:</label>
                        <input type="text" id="m_register-profissoes_funcao" class="form-control form-control-sm">
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <div class="input-group input-group-sm mb-2 nowrap">
                                <label class="input-group-text">Categoria:</label>
                                <select class="form-select form-control-sm" id="m_register-profissoes_setor">
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary mb-2" btn-sm
                        id="m_register-profissoes_submit">Cadastrar</button>
                    <div class="modal_list">
                        <table class="table table-hover table-bordered table-striped table-sm"
                            id="m_register-profissoes_table">
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="m_register-setor" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Cadastro de Setor</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group input-group-sm mb-2 nowrap ">
                        <label class="input-group-text">Nome:</label>
                        <input type="text" id="m_register-setor_setor" class="form-control form-control-sm">
                    </div>
                    <button type="button" class="btn btn-primary mb-2" btn-sm
                        id="m_register-setor_submit">Cadastrar</button>
                    <div class="modal_list">
                        <table class="table table-hover table-bordered table-striped table-sm"
                            id="m_register-setor_table">
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="m_register-area_atuacao" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Cadastro de área de atuação</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group input-group-sm mb-2 nowrap ">
                        <label class="input-group-text">Área:</label>
                        <input type="text" id="m_register-area_atuacao_area" class="form-control form-control-sm">
                    </div>
                    <button type="button" class="btn btn-primary mb-2 btn-sm"
                        id="m_register-area_atuacao_submit">Cadastrar</button>
                    <div class="modal_list">
                        <table class="table table-hover table-bordered table-striped table-sm"
                            id="m_register-area_atuacao_table">
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="m_lanc-escolaridade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Formações</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-1">
                    <div class="modal_list">

                        <table class="table table-hover table-bordered table-striped table-sm"
                            id="m_lanc-escolaridade_table">
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="m_lanc-escolaridade_candidato">
                    <div class="input-group input-group-sm mb-2 nowrap">
                        <label class="input-group-text">ESCOLARIDADE:</label>
                        <select id="m_lanc-escolaridade_escolaridade" class="form-select form-control-sm"></select>
                    </div>
                    <div class="input-group input-group-sm mb-2 nowrap">
                        <label class="input-group-text">DETALHE:</label>
                        <input type="text" id="m_lanc-escolaridade_detalhe" class="form-control form-control-sm">
                    </div>
                    <div class="input-group input-group-sm mb-2 nowrap">
                        <label class="input-group-text">CONCLUSÃO:</label>
                        <input type="date" id="m_lanc-escolaridade_conclusao" class="form-control form-control-sm">
                    </div>
                    <button type="button" class="btn btn-sm btn-primary mb-2"
                        id="m_lanc-escolaridade_submit">ADICIONAR</button>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="m_lanc-experiencia" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Experiências</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-1">
                    <div class="modal_list">

                        <table class="table table-hover table-bordered table-striped table-sm"
                            id="m_lanc-experiencia_table">
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="m_lanc-experiencia_candidato">
                    <div class="row m-0 justify-content-center">
                        <div class="col-12">
                            <div class="input-group input-group-sm mb-2 nowrap">
                                <label class="input-group-text">EMPRESA:</label>
                                <input type="text" id="m_lanc-experiencia_empresa" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group input-group-sm mb-2 nowrap">
                                <label class="input-group-text">PROFISSÃO:</label>
                                <select id="m_lanc-experiencia_profissao" class="form-select form-control-sm"></select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group input-group-sm mb-2 nowrap">
                                <label class="input-group-text">ÁREA DE ATUAÇÃO:</label>
                                <select id="m_lanc-experiencia_area_atuacao"
                                    class="form-select form-control-sm"></select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group input-group-sm nowrap">
                                <label class="input-group-text">DATA INICIO:</label>
                                <input type="date" id="m_lanc-experiencia_data_inicio"
                                    class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group input-group-sm nowrap">
                                <label class="input-group-text">DATA FIM:</label>
                                <input type="date" id="m_lanc-experiencia_data_fim"
                                    class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-auto align-content-center">
                            <small>ou</small>
                        </div>
                        <div class="col-4">
                            <div class="input-group input-group-sm nowrap">
                                <label class="input-group-text">TEMPO:</label>
                                <input type="number" class="form-control form-control-sm"
                                    id="m_lanc-experiencia_tempo_anos">
                                <label class="input-group-text">ANOS</label>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-sm btn-primary m-2"
                        id="m_lanc-experiencia_submit">ADICIONAR</button>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="m_update-experiencia" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Experiências</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <input type="hidden" id="m_update-experiencia_candidato">
                <div class="row m-1 justify-content-center">
                    <div class="col-12">
                        <div class="input-group input-group-sm mb-2 nowrap">
                            <label class="input-group-text">EMPRESA:</label>
                            <input type="text" id="m_update-experiencia_empresa" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group input-group-sm mb-2 nowrap">
                            <label class="input-group-text">PROFISSÃO:</label>
                            <select id="m_update-experiencia_profissao" class="form-select form-control-sm"></select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group input-group-sm mb-2 nowrap">
                            <label class="input-group-text">ÁREA DE ATUAÇÃO:</label>
                            <select id="m_update-experiencia_area_atuacao" class="form-select form-control-sm"></select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group input-group-sm nowrap">
                            <label class="input-group-text">DATA INICIO:</label>
                            <input type="date" id="m_update-experiencia_data_inicio"
                                class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group input-group-sm nowrap">
                            <label class="input-group-text">DATA FIM:</label>
                            <input type="date" id="m_update-experiencia_data_fim" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col-auto align-content-center">
                        <small>ou</small>
                    </div>
                    <div class="col-4">
                        <div class="input-group input-group-sm nowrap">
                            <label class="input-group-text">TEMPO:</label>
                            <input type="number" class="form-control form-control-sm"
                                id="m_update-experiencia_tempo_anos">
                            <label class="input-group-text">ANOS</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-success m-2" id="m_update-experiencia_save">SALVAR</button>
                </div>

        </div>
    </div>
</div>
</div>
<div class="modal fade" id="m_lanc-classificacao" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Classificações</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-1">
                <div class="modal_list">
                    <table class="table table-hover table-bordered table-striped table-sm"
                        id="m_lanc-classificacao_table">
                        <thead>
                            <tr></tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="m_lanc-classificacao_candidato">
                <div class="row">
                    <div class="col-12">
                        <div class="input-group input-group-sm mb-2 nowrap">
                            <label class="input-group-text">AREA DE ATUAÇÃO:</label>
                            <select id="m_lanc-classificacao_area_atuacao" class="form-select form-control-sm"></select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group input-group-sm mb-2 nowrap">
                            <label class="input-group-text">SETOR:</label>
                            <select id="m_lanc-classificacao_setor" class="form-select form-control-sm"></select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group input-group-sm nowrap">
                            <label class="input-group-text">PONTOS:</label>
                            <input type="number" id="m_lanc-classificacao_pontos" class="form-control form-control-sm">
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-sm btn-primary mb-2"
                    id="m_lanc-classificacao_submit">ADICIONAR</button>

            </div>
        </div>
    </div>
</div>
<!-- Modal upadate colaborador-->
<div class="modal fade" id="m_update-questionario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Questionário</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" id="m_update-colaborador_id" class="form-control" disabled>
                    <input type="hidden" id="m_update-questionario_candidato" class="form-control" disabled>
                    <div class="col-5">

                        <div class="col-auto">
                            <div class="input-group input-group-sm mb-2 flex-nowrap">
                                <span class="input-group-text">JÁ TRABALHOU NA EMPRESA:</span>
                                <div class="input-group-text">
                                    <input class="form-check-input mt-0" type="checkbox"
                                        id="m_update-questionario_funcionario_antigo">
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group input-group-sm mb-2 flex-nowrap">
                                <span class="input-group-text">DISPONIBILIDADE PARA VIAGENS</span>
                                <div class="input-group-text">
                                    <input class="form-check-input mt-0" type="checkbox"
                                        id="m_update-questionario_disponibilidade">
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group input-group-sm mb-2 flex-nowrap">
                                <span class="input-group-text">É FUMANTE:</span>
                                <div class="input-group-text">
                                    <input class="form-check-input mt-0" type="checkbox"
                                        id="m_update-questionario_fumante">
                                </div>
                            </div>
                        </div>


                        <div class="col-auto">
                            <div class="input-group input-group-sm mb-2 nowrap">
                                <label class="input-group-text">CONSOME BEBIDA:</label>
                                <select id="m_update-questionario_bebidas" class="form-select form-control-sm">
                                    <option>NÃO</option>
                                    <option>DIARIAMENTE</option>
                                    <option>SEMANALMENTE</option>
                                    <option>QUINZENALMENTE</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-auto">
                            <div class="input-group input-group-sm mb-2 flex-nowrap">
                                <label class="input-group-text">MEDICAÇÃO:</label>
                                <input type="text" id="m_update-questionario_medicacao" class="form-control">
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group input-group-sm mb-2 flex-nowrap">
                                <label class="input-group-text">ACIDENTE DE TRABALHO:</label>
                                <input type="text" id="m_update-questionario_acidente" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="col-auto">
                            <div class="input-group input-group-sm mb-2 flex-nowrap">
                                <label class="input-group-text">PROCESSO JUDICIAL:</label>
                                <input type="text" id="m_update-questionario_processo" class="form-control">
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group input-group-sm mb-2 flex-nowrap">
                                <label class="input-group-text">BOLETIM DE OCORRÊNCIA:</label>
                                <input type="text" id="m_update-questionario_bo" class="form-control">
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group input-group-sm mb-2 flex-nowrap">
                                <label class="input-group-text">ANTECEDENTES CRIMINAIS:</label>
                                <input type="text" id="m_update-questionario_criminais" class="form-control">
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group input-group-sm mb-2 flex-nowrap">
                                <label class="input-group-text">ANTECEDENTES POLICIAIS:</label>
                                <input type="text" id="m_update-questionario_policiais" class="form-control">
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group input-group-sm mb-2 flex-nowrap">
                                <label class="input-group-text">AÇÃO JUDICIAL:</label>
                                <input type="text" id="m_update-questionario_judicial" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="m_update-questionario_save">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal upadate colaborador-->
<div class="modal fade" id="m_update-percepcao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5"><strong>Percepções</strong></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="m_update-percepcao_candidato" class="form-control" disabled>
                <div class="input-group input-group-sm mb-2 flex-nowrap">
                    <label class="input-group-text">PERCEPÇÕES:</label>
                    <textarea type="text" id="m_update-percepcao_percepcao" class="form-control"></textarea>
                </div>
                <div class="input-group input-group-sm mb-2 flex-nowrap">
                    <label class="input-group-text">CONSULTA / PESQUISA RH:</label>
                    <textarea type="text" id="m_update-percepcao_consulta" class="form-control"></textarea>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group input-group-sm mb-2 nowrap">
                            <label class="input-group-text">ORIGEM:</label>
                            <select id="m_update-percepcao_origem" class="form-select form-control-sm">
                                <option>WHATSAPP</option>
                                <option>E-MAIL</option>
                                <option>PRESENCIAL</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group input-group-sm mb-2 flex-nowrap">
                            <label class="input-group-text">RECEBIDO:</label>
                            <input type="date" id="m_update-percepcao_recebido_em" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="m_update-percepcao_save">Salvar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal upadate colaborador-->
<div class="modal fade" id="m_update-entrevista" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5"><strong>Objetivos profissionais</strong></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="m_update-entrevista_candidato" class="form-control" disabled>
                <div class="row">
                    <div class="col-auto">
                        <div class="input-group input-group-sm mb-2 nowrap">
                            <label class="input-group-text">PROFISSÃO:</label>
                            <select id="m_update-entrevista_profissao" class="form-select form-control-sm">
                            </select>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group input-group-sm mb-2 flex-nowrap">
                            <label class="input-group-text">SALÁRIO:</label>
                            <span class="input-group-text">R$</span>
                            <input type="text" id="m_update-entrevista_pretensao" class="form-control">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group input-group-sm mb-2 nowrap">
                            <label class="input-group-text">SITUAÇÃO:</label>
                            <select id="m_update-entrevista_banco_talentos" class="form-select form-control-sm">
                                <option>Aprovado</option>
                                <option>Entrevista Pendente</option>
                                <option>Entrevista/Banco de Talentos</option>
                                <option>Reprovado</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group input-group-sm mb-2 flex-nowrap">
                            <label class="input-group-text">AVALIAÇÃO FINAL:</label>
                            <textarea type="text" id="m_update-entrevista_avaliacao_final"
                                class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="m_update-entrevista_save">Salvar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal upadate colaborador-->
<div class="modal fade" id="m_update-candidato" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5"><strong>Edição do colaborador</strong></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="m_update-candidato_entrevista_candidato" class="form-control" disabled>
                <div class="row">
                    <input type="hidden" id="m_update-candidato_id" class="form-control">
                    <div class="col-4">
                        <div class="input-group mb-2 flex-nowrap input-group-sm">
                            <label class="input-group-text">NOME:</label>
                            <input type="text" id="m_update-candidato_nome" class="form-control">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap input-group-sm">
                            <label class="input-group-text">CPF:</label>
                            <input type="number" id="m_update-candidato_cpf" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap input-group-sm">
                            <label class="input-group-text">RG:</label>
                            <input type="number" id="m_update-candidato_rg" class="form-control form-control-sm">
                        </div>
                    </div>

                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap input-group-sm">
                            <label class="input-group-text">NASCIMENTO:</label>
                            <input type="date" id="m_update-candidato_nascimento" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap input-group-sm">
                            <label class="input-group-text">TELEFONE 1º:</label>
                            <input type="number" id="m_update-candidato_telefone" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap input-group-sm">
                            <label class="input-group-text">TELEFONE 2º:</label>
                            <input type="number" id="m_update-candidato_telefone2" class="form-control form-control-sm">
                        </div>
                    </div>

                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap input-group-sm">
                            <span class="input-group-text">FILHOS:</span>
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="checkbox" id="m_update-candidato_filho">
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap input-group-sm">
                            <label class="input-group-text">CNH:</label>
                            <select class="form-select" id="m_update-candidato_cnh">
                            </select>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap input-group-sm">
                            <label class="input-group-text">ESTADO CIVIL:</label>
                            <select class="form-select" id="m_update-candidato_estado_civil">
                            </select>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap input-group-sm">
                            <label class="input-group-text">INDICAÇÃO:</label>
                            <input class="form-control" list="m_update-candidato_indicacao">
                        </div>
                        <datalist id="m_update-candidato_indicacao"></datalist>
                    </div>
                </div>
                <h5 class="mb-0 mt-1"><small>Dados de Endereço</small></h5>
                <hr class="mt-2">
                <div class="row">
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap input-group-sm">
                            <label class="input-group-text">ENDEREÇO:</label>
                            <input type="text" class="form-control form-control-sm" id="m_update-candidato_endereco">
                        </div>
                    </div>

                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap input-group-sm">
                            <label class="input-group-text">BAIRRO:</label>
                            <input type="text" class="form-control form-control-sm" id="m_update-candidato_bairro">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap input-group-sm">
                            <label class="input-group-text">CIDADE:</label>
                            <input type="text" class="form-control form-control-sm" id="m_update-candidato_cidade">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap input-group-sm">
                            <label class="input-group-text">ESTADO:</label>
                            <select class="form-select" id="m_update-candidato_estado">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="m_update-candidato_save">Salvar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="m_envio-anexos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5"><strong>Envio de anexo</strong></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-2" style="overflow-y: auto; height: 250px;">
                    <img id="m_envio-anexos_preview_imagem" style="width: 100%;" alt="Pré-visualização do anexo">
                    <embed id="m_envio-anexos_preview_pdf" type='application/pdf'
                        style="width: 100%; height: 100%; display: none;">
                </div>
                <input type="hidden" id="m_envio-anexos_candidato" class="form-control">
                <div class="input-group mb-2 flex-nowrap input-group-sm">
                    <label class="input-group-text">ARQUIVO:</label>
                    <input type="file" class="form-control" id="m_envio-anexos_arquivo" accept="image/*,.pdf">

                </div>
                <div class="input-group mb-2 flex-nowrap input-group-sm">
                    <label class="input-group-text">NOME PARA O ARQUIVO:</label>
                    <input type="text" id="m_envio-anexos_nome" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="m_envio-anexos_submit">Enviar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="m_file_view-anexos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5"><strong id="m_file_view-anexos_nome"></strong></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img id="m_file_view-anexos_preview_imagem" style="width: 100%; height: 100%;"
                    src="http://tecnikaengenharia.ddns.net/media/icons/file.png">
                <embed id="m_file_view-anexos_preview_pdf" type='application/pdf'
                    style="width: 100%; height: 500px; display: none;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="m_file_view-anexos_delete">Deletar</button>
            </div>
        </div>
    </div>
</div>

</div>
<script>

    function abrirRegistro(modal, table = false) {
        let registro = new Modal(modal, 'register')
        registro.open(table)
    }


</script>
</div>