{% extends 'lançamento_obra.html' %}

{%block 'header'%}
<h2>Lançamento de Programação</h2>
{%endblock%}

{% block 'main' %}

<div class="row">
    <div class="col">
        <div class="input-group mb-2">
            <label class="input-group-text">Digitalizado</label>
            <input type="file" class="form-control" id="form_programacao_arquivo" accept=".jpg"
                onchange="previewImg()">
        </div>

        <div class="input-group mb-2">
            <label class="input-group-text" for="form_programacao_data">Data:</label>
            <input type="date" id="form_programacao_data" class="form-control">
        </div>




        <div class="row justify-content-between">
            <div class="col align-self-end"></div>
            <div class="col-auto"><button type="button" class="btn btn-primary mt-2 mb-2" onclick="addLinha()">Adicionar
                    detalhe</button></div>
            <div class="col-auto"><button type="button" class="btn btn-success mt-2 mb-2"
                    id="register">Registrar</button></div>
        </div>
        <div div='container text-start mb-2' style="border-top: 1px solid lightgray; padding-top: 10px;">
            <h5>Detalhes</h5>
            <div id="linhas"></div>
        </div>

    </div>

    <div class="col-auto">
        <div class="text-center">
            <img src="https://cdn-icons-png.flaticon.com/512/104/104090.png" class="img-thumbnail" alt="Digitalização"
            style="width: 800px; height: 600px; object-fit: contain; " id="form_programacao_digitalização" data-bs-toggle="modal" data-bs-target="#view_programacao">
        </div>
    </div>
</div>

{% endblock %}
{% block "script"%}
<script>
    loadForm('programacao')

    const prefix = 'form_programacao_';
    var linhas = []
    let filename
    function adicionaZero(numero) {
        if (numero <= 9)
            return "0" + numero;
        else
            return numero;
    }

    arquivo = $('#form_programacao_arquivo');
    function previewImg() {
        let reader = new FileReader();
        reader.onload = () => {
            $('#form_programacao_digitalização').attr('src', reader.result);
            previewModal_img(reader.result)
        }
        reader.readAsDataURL(arquivo[0].files[0]);
    }
    
    $('#register').click(function () {
        let filename = arquivo.val().replace("C:\\fakepath\\", "").split(".")
        let file = arquivo[0].files[0];
        let formData = new FormData();
    
        if (!file) {
            alert("Por favor, selecione um arquivo primeiro.");
            return;
        }
        let segunda = $('#form_programacao_data').val()
        let lanc = [];
        let obra = $('#' + prefix + 'obra_' + linhas[0]).val();
        let encarregado = $('#' + prefix + 'colaborador_' + linhas[0]).val();
        for (i = 0; $('#' + prefix + 'obra_' + linhas[i]).val() != undefined; i++) {
            colaborador = $('#' + prefix + 'colaborador_' + linhas[i]).val()
            if ($('#' + prefix + 'obra_' + linhas[i]).val() != obra) {
                obra = $('#' + prefix + 'obra_' + linhas[i]).val()
                encarregado = colaborador
            }
            if ($('#' + prefix + 'semencarregado_' + linhas[i]).prop('checked')){
                encarregado = NaN
            }
            lanc.push({
                'colaborador': colaborador,
                'obra': obra,
                'encarregado': encarregado
            })
        }
    let parametro = {
        'lanc': JSON.stringify(lanc),
        'iniciosemana': segunda,
        'imagem': segunda + '.' + filename[(filename.length - 1)]
    }
    formData.append('file', file);
    formData.append('parametro', JSON.stringify(parametro));
    formData.append('metodo', 'programacao');
    
    $.ajax({
        url: API + 'register',
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
    
        success: function (response) {
            toasts("Success", response);
        },
        error: function (error) {
            console.error('Erro ao cadastrar', error)
            alert(error.responseJSON.message);
        }
    });
    }
    )
    function addLinha() {
        $('#linhas').prepend(
            `<div class="row mb-2" id="linha${linha}">` +
            '<div class="col-auto justify-content-center align-content-center">' +
                `<input class="form-check-input" type="checkbox" id="${prefix}semencarregado_${linha}">` +
                '</div>' +

            '<div class="col">' +
            '<div class="input-group">' +

            `<select class="form-select" id="${prefix}obra_${linha}">` +
            obras +
            '</select>' +

            '</div>' +
            '</div>' +
            '<div class="col">' +
            '<div class="input-group">' +
            `<select class="form-select" id="${prefix}colaborador_${linha}">` +
            colaboradores +
            '</select>' +

            '</div>' +
            '</div>' +

            '<div class="col-auto">' +
            `<button type="button" class="btn btn-danger" onclick="removeLinha(${linha})"><img src="${icon}/trash.svg"></button>` +
            '</div>'
        )
        
        if (linhas.length != 0) {
            let ant = linhas.indexOf(linha - 1)
            $(`#${prefix}obra_${linha}`).val($(`#${prefix}obra_${linhas[ant]}`).val())
            $('#' + prefix + 'semencarregado_' + linha).attr('checked', $('#' + prefix + 'semencarregado_' + linhas[ant]).prop('checked'))
        }
        linhas.push(linha)
        linha++

    }
    function removeLinha(id) {
        $('#linha'.concat(id)).remove()
        linhas.splice(linhas.indexOf(id),1)
    }
    var obras;
    var colaboradores;
    function loadVar(select) {
        $.ajax({
            url: API + "get_table", // URL da sua API no Django
            type: "GET",
            data: {
                csrfmiddlewaretoken: csrftoken,
                metodo: "select",
                parametro: select,
            },
            success: function (data) {
                for (let i = 0; i < data.length; i++) {
                    if (select == 'obra' && !data[i].finalizada) {
                        obras += `<option value=${data[i].id}>${data[i].id} || ${data[i].empresa} | ${data[i].cidade}</option>`
                    }
                    else if (select == 'colaborador' && data[i].demissao == null) {
                        colaboradores += `<option>${data[i].nome}</option>`
                    }
                }

            },
            error: function () {
                toasts('error')
            },
        });
    }
    var linha = 0
    loadVar('obra')
    loadVar('colaborador')
    setTimeout(function () {
        addLinha()
    }, 400)
</script>

{% endblock "script" %}