{% extends 'lançamento_obra.html' %}

{%block 'header'%}
<h2>Lançamento de Programação</h2>
{%endblock%}

{% block 'main' %}

<div class="row">
    <div class="col">
        <div class="input-group mb-2">
            <label class="input-group-text">Digitalizado</label>
            <input type="file" class="form-control" id="form_diario_arquivo" accept="image/*">
        </div>

        <div class="input-group mb-2">
            <label class="input-group-text" for="form_diario_data">Data:</label>
            <input type="date" id="form_diario_data" class="form-control">
        </div>

        <h5>Detalhes</h5>

        <div div='container text-start mb-2' id="linhas" style="border-top: 1px solid lightgray; padding-top: 10px;">
        </div>

        <a onclick="addLinha()" class="icon-link icon-link-hover"
            style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);" href="#">
            + Adicionar detalhe
        </a>

        <div class="row justify-content-end">
            <div class="col-auto"><button type="button" class="btn btn-success mt-2 mb-2"
                    id="register">Registrar</button></div>
        </div>
    </div>

    <div class="col">
        <div class="text-center">
            <img src="https://cdn-icons-png.flaticon.com/512/104/104090.png" class="img-thumbnail" alt="Digitalização"
                style="width: 400px; height: 650px; object-fit: contain; " id="form_diario_digitalização">
        </div>
    </div>
</div>

<div id="liveAlertPlaceholder"></div>
<script>
    let filename
    function adicionaZero(numero) {
        if (numero <= 9)
        return "0" + numero;
        else
        return numero;
    }
    
    $('#form_diario_digitalização').click(function () {
        const myModalAlternative = new bootstrap.Modal('#view_diario')
        myModalAlternative.show()
    });
    function previewImg(){
        let photo = $('#form_programacao_digitalização');
        let file = $('#form_diario_arquivo');
        let reader = new FileReader();
        
        reader.onload = () => {
            photo.src = reader.result;
            previewModal_img(reader.result)
        }
        reader.readAsDataURL(file.files[0]);
    }
    $('#form_diario_arquivo').change(function () {
        previewImg()
        filename = $('#form_diario_arquivo').val().replace("C:\\fakepath\\", "").split(".")
    });
    $('#register').click(function () {
        let file = $('#form_diario_arquivo')[0].files[0];
        if (!file) {
            alert("Por favor, selecione um arquivo primeiro.");
            return;
        }
        let parametro = {
            'data': $('#form_diario_data').val(),
            'obra': $('#form_diario_obra').val(),
            'indice': $('#form_diario_indice').val(),
            'encarregado': $('#form_diario_encarregado').val(),
            'climamanha': $('#form_diario_climamanha').val(),
            'climatarde': $('#form_diario_climatarde').val(),
            'descricao': $('#form_diario_descricao').val(),
        }
        parametro['imagem'] = parametro.obra + '_' + parametro.data + '_' + parametro.indice + '.' + filename[(filename.length - 1)]
        let formData = new FormData();
        formData.append('file', file);
        formData.append('parametro', JSON.stringify(parametro));
        formData.append('metodo', 'diario');


        $.ajax({
            url: API + 'register',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,

            success: function () {
                toasts("Success");
                $("#table").bootstrapTable("refresh");
            },
            error: function (error) {
                console.error('Erro ao cadastrar', error)
                alert(error.responseJSON.message);
            }
        });
    }
    )
</script>
{% endblock %}
{% block "script"%}
<script>
    var obras;
    var colaboradores;
    function loadVar(select) {
        $.ajax({
            url: API + "get_table", // URL da sua API no Django
            type: "GET",
            data: {
                csrfmiddlewaretoken: csrftoken,
                metodo: "select",
                parametro: select,
            },
            success: function (data) {
                for (let i = 0; i < data.length; i++) {
                    if (select == 'obra' && !data[i].finalizada) {
                        obras += `<option value=${data[i].id}>${data[i].id} || ${data[i].empresa} | ${data[i].cidade}</option>`
                    }
                    else if (select == 'colaborador' && data[i].demissao == null) {
                        colaboradores += `<option value=${data[i].nome}>${data[i].nome}</option>`
                    }
                }
            },
            error: function () {
                toasts('error')
            },
        });
    }
    var linha = 0
    loadVar('obra')
    loadVar('colaborador')
    addLinha()
    function addLinha() {
        $('#linhas').append(
            `<div class="row" id="linha${linha}">` +
            '<div class="col">' +
            '<div class="input-group mb-2">' +

            `<select class="form-select" id="form_programacao_obra_${linha}">` +
            obras +
            '</select>' +

            '</div>' +
            '</div>' +
            '<div class="col">' +
            '<div class="input-group mb-2">' +
            `<select class="form-select" id="form_programacao_colaborador_${linha}">` +
            colaboradores +
            '</select>' +

            '</div>' +
            '</div>' +

            '<div class="col-auto">' +
            `<button type="button" class="btn btn-danger" onclick="removeLinha(${linha})"><img src="${icon}/trash.svg"></button>` +
            '</div>'
        )
        if (linha != 0) {
            $(`#form_programacao_obra_${linha}`).val($(`#form_programacao_obra_${linha - 1}`).val())
        }
        linha++
    }
    function removeLinha(id) {
        $('#linha'.concat(id)).remove()
    }
</script>

{% endblock "script" %}