{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-image: url('{%static "image/404.jpeg"%}');
            height: auto;
            object-fit: fill;
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div style="background-color: white; border-radius: 5px; padding: 5px; box-shadow: 1px 1px 1px black;">
        <h1 style="color: black;">Pagina não encontrada</h1>
        <a href="/" >Voltar para o início</a>
    </div>
</body>
</html>