{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>{{app_name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    {%include 'static/imports/jquery.html'%} <!-- Jquery -->
    {%include 'static/imports/bootstrap.html'%} <!-- Bootstrap -->
    <link rel="stylesheet" href= "{% static 'css/base.css' %}">

    <script>
        const api = '{{api}}'
        const midia = '{{midia}}'
        const app = '{{app}}'
        const csrftoken = '{{csrf_token}}'
        const user = '{{user}}';
        const icon = "/static/icons";
    </script> <!--Routers de Tag -->
    <script src="{%static 'js/base.js'%}"></script>

    {%if app != 'Home'%}
    <link rel="stylesheet" href= "{% static 'css/sidebar.css' %}">
    {%endif%}
    
</head>
{% block "script" %}{% endblock %}
{% block 'style' %}{% endblock %}



<body>
    {%block 'body'%}{%endblock%}
    {%include 'navbar.html'%}
    {%if app != 'Home'%}
    {%include app|add:'/sidebar.html'%}
    {%endif%}
    <header>
        {%block 'header'%}{%endblock%}
    </header>
    
    <main>
        {% block 'main' %}{% endblock %}
    </main>
    
    {%block 'submain'%}{%endblock%}
    {%include app|add:'/modals.html'%}
</body>
<script src="{% static 'js/'|add:app|add:'.js' %}"></script>
{%include 'toasts.html'%}

</html>