{% load static %}
{% load permission_tags %}
<!DOCTYPE html>
<html lang="pt-br">
<head>

<meta name="viewport" content="width=device-width, initial-scale=0.8">

<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <title>Ferramentas Tecnika</title>

  
  {%include 'static/imports/bootstrap.html'%} <!-- Bootstrap -->
  {%include 'static/imports/base.html'%}
  <link rel="stylesheet" href="{% static 'css/color.css' %}">

</head>
<style>
  header {
    padding-top: 100px;
    margin-left: 0;
    text-align: center;
    padding-right: 0;
  }

  main {
    padding: 0;
    margin: 0;
  }

  .card-footer {
    display: flex;
    justify-content: end;
    padding: 2px, 5px;
  }

  h5 {
    margin-top: 2px;
    font-weight: bold;
  }

  h1 {
    padding-bottom: 5%;
  }

  .user-icon {
    width: 25px;
    height: 25px;
  }

  .user-name {
    font-weight: 700;
    padding-inline: 5px;
  }

  .col {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
</style>

<body>
  <nav class="navbar">
    <strong class="ps-2">Aplicativo privado</strong>
    <div class="dropdown">

      <button class="navbar-toggler" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{% static 'icons/person-circle.svg'%}" alt="" class="user-icon">
        <span class="user-name">{{nome}}</span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/login">Desconectar</a></li>
      </ul>
    </div>
  </nav>
  <header>
    <h1>Lista de ferramentas disponiveis</h1>
  </header>
  <main>
    <div class="container text-center">
      <div class="row">
        {% if user|can:'lancamento_obra' %}
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Lançamento obra</h5>
            </div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-body-secondary">Versão 0.9b</h6>
              <p class="card-text">Ferramenta de controle de delegação de ações em obra</p>
            </div>
            <div class="card-footer">
              <a href="{%url 'lancamento_obra'%}" class="card-link">Abrir Aplicação</a>
            </div>
          </div>
        </div>
        {%endif%}

        <div class="col">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Reservas</h5>
            </div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-body-secondary">Versão 1.0</h6>
              <p class="card-text">Controle de reserva para as salas de reuniões</p>
            </div>
            <div class="card-footer">
              <a href="{%url 'reservas'%}" class="card-link">Abrir Aplicação</a>
            </div>
          </div>
        </div>


        
        {% if user|can:'ti' %}
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">TI</h5>
            </div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-body-secondary">Versão 0.1</h6>
              <p class="card-text">App de uso exclusivo da equipe de TI</p>
            </div>
            <div class="card-footer">
              <a href="{%url 'ti'%}" class="card-link">Abrir Aplicação</a>
            </div>
          </div>
        </div>
        {%endif%}
        {% if user|can:'master' %}
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Painel admin</h5>
            </div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-body-secondary">Django</h6>
              <p class="card-text">Painel com informações de admin</p>
            </div>
            <div class="card-footer">
              <a href="/admin" class="card-link">Abrir Aplicação</a>
            </div>
          </div>
        </div>
        {%endif%}
      </div>
    </div>
  </main>

</body>

</html>