{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>

<meta name="viewport" content="width=device-width, initial-scale=0.8">
<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/bootstrap.esm.js' %}"></script>
<script src="{% static 'js/lançamento_obra.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<link rel="stylesheet" href= "{% static 'css/color.css' %}">
<link rel="stylesheet" href= "{% static 'css/lançamento_obra.css' %}">


</head>
{% block 'style' %}{% endblock %}
  
<body>
  <nav class="navbar">
    <a href="/", style="color: black; text-decoration: none; padding-left: 10px;"><img src="{% static 'icons/x-circle-fill.svg'%}" alt="" style="margin-right: 5px;">Fechar app</a>  
    <span class="user-name">{{nome}}</span>

  </nav>
  
  <div class="sidenav">
    <h1 class="nome_app">Lançamento obra</h1>
    
     <div class="accordion accordion-flush" id="accordionFlushExample">
  
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Cadastros
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <a href="{%url 'cadastro_colab'%}">| Colaborador</a>
          <a href="{%url 'cadastro_obra'%}">| Obra</a>
          <a href="{%url 'cadastro_funcao'%}">| Função</a>  
        </div>
      </div>
  
  
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Visualização
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <a href="{%url 'visualizacao_colab'%}">| Colaboradores</a>
          <a href="{%url 'visualizacao_obra'%}">| Obras</a>
          <a href="{%url 'visualizacao_atividade'%}">| Atividade</a>
          <a href="{%url 'visualizacao_diario'%}">| Diario</a>
          <a href="#">| Revisões</a>
          <a href="{%url 'visualizacao_hora_horaextra'%}">| Horas / Horas Extras</a>
        </div>
      </div>
      
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Lançamento
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <a href="{%url 'lancamento_atividade'%}">| Atividade</a>
          <a href="{%url 'lancamento_diario'%}">| Diário</a>
        </div>
      </div>
  
  
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            Outros
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <a href="#">| Resumo mensal</a>
          
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            | Pesquisa Avançada
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{%url 'pesquisa_historico_colab' %}">Atividade por Colaborador</a></li>
            <li><a class="dropdown-item" href="{%url 'pesquisa_historico_obra' %}">Atividade por Obra</a></li>
            <li><a class="dropdown-item" href="{%url 'pesquisa_atividade_diario' %}">Atividade por Diario</a></li>
            <!-- <li><hr class="dropdown-divider"></li >
              <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
            
          </div>
        </div>

      
    </div>
  </div>
</div>
</div>

<header>
  <div aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">Lançamento de obra</li>
      {%block 'caminho'%}{%endblock%}
    </ol>
  </div>
  {%block 'header'%}{%endblock%}
</header>
<main>
  {% block 'main' %}{% endblock %}
</main>
<div class="submain">
  {%block 'submain'%}{%endblock%}
</div>
<footer>
  {%block 'footer'%}{%endblock%}
  {%if data.has_other_pages%}
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  
      <div class="btn-group me-2" role="group" aria-label="First group">
        {%if data.has_previous %}
          <a href="?page=1" class="btn btn-info"><img src="{% static 'icons/chevron-double-left.svg' %}" alt="<<"></a>
          <a href="?page={{data.previous_page_number}}" class="btn btn-info"><img src="{% static 'icons/chevron-left.svg' %}" alt="<"></a>
        {%endif%}
      </div>
      <div class="btn-group me-2" role="group" aria-label="Second group">
        {%if data.has_previous %}
          <a href="?page={{ data.number|add:'-1' }}" class="btn btn-secondary">{{ data.number|add:"-1" }}</a>
        {%endif%}
          <a  class="btn btn-outline-secondary">{{data.number}}</a>
        {%if data.has_next %}
          <a href="?page={{ data.number|add:'1' }}" class="btn btn-secondary">{{ data.number|add:"1" }}</a>
          <a href="?page={{ data.number|add:'2' }}" class="btn btn-secondary">{{ data.number|add:"2" }}</a>
        {%endif%}

      </div>
      <div class="btn-group" role="group" aria-label="Third group">
        {%if data.has_next %}
          <a href="?page={{data.next_page_number}}" class="btn btn-info"><img src="{% static 'icons/chevron-right.svg' %}" alt=">"></a>
          <a href="?page=100000" class="btn btn-info"><img src="{% static 'icons/chevron-double-right.svg' %}" alt=">>"></a>
        {%endif%}
      </div>
    </div>
    {%endif%}
</footer>
<script>
  function salvarData(metodo,parametro){
    $.ajax({
        url: "{% url 'cadastrar' %}",  // URL da sua API no Django
        type: 'POST',
        data: {
            'csrfmiddlewaretoken':"{{ csrf_token }}",
            'parametro': JSON.stringify(parametro),
            'metodo': metodo,
            'user': "{{ nome }}",
        },
        success: function(Response) {
            if (confirm(Response.message+'\nClique em <OK> para recarregar a página.')){
                window.location.reload(true); 
            }
        },  
        error: function(xhr) {
            alert(xhr.responseJSON.message);
        }
    });
}
</script>
{% block "script" %}{% endblock "script" %}   

</body>
</html> 
