{%load static%}
<nav class="navbar">
    <a href="/" , style="color: black; text-decoration: none; padding-left: 10px;"><img
            src="{% static 'icons/x-circle-fill.svg'%}" alt="" style="margin-right: 5px;">Fechar app</a>
    <div class="dropdown">

        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-co ntrols="offcanvasExample">
            <img src="{% static 'icons/person-circle.svg'%}" alt="" class="user-icon">
            <span class="user-name">{{nome}}</span>
        </button>

        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/login">Desconectar</a></li>
            <li><a class="dropdown-item" href="/login">Ticket</a></li>
        </ul>
    </div>
</nav>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
      </div>
      <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
          Dropdown button
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>