{%load static%}
{% load permission_tags %}

<nav class="navbar">
  {%if app != 'Home'%}
  <a href="/" , style="color: black; text-decoration: none; padding-left: 10px;"><img
      src="{% static 'icons/x-circle-fill.svg'%}" alt="" style="margin-right: 5px;">Fechar app</a>
  {%else%}
  <strong class="ps-2">Aplicativo privado</strong>
  {%endif%}
  <div class="row align-items-center" id="navbar-left">
    <div class="col-auto dropdown me-3 pe-0">
      <button class="navbar-toggler" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{% static 'icons/person-circle.svg'%}" alt="" class="user-icon">
        <span><strong>{{nome}}</strong></span>
      </button>

      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="#" onclick="change_ambiente('producao')">Ambiente Produção</a></li>
        {% if user|can:'ambiente-teste' %}<li><a class="dropdown-item" href="#"
            onclick="change_ambiente('teste')">Ambiente Teste</a></li>{%endif%}
        {% if user|can:'ambiente-dev' %}<li><a class="dropdown-item" href="#" onclick="change_ambiente('dev')">Ambiente
            Desenvolvimento</a></li>{%endif%}
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="https://wa.me/555596238751" target="_blank">Ajuda</a></li>
        <li><a class="dropdown-item" href="/alterar_senha">Trocar senha</a></li>
        <li><a class="dropdown-item" href="/login">Desconectar</a></li>
      </ul>
    </div>
  </div>
  <script>
    $(document).ready(() => {
      switch (window.location.host) {
        case '10.0.0.139:81':
          $('#navbar-left').prepend(
            '<i class="col-auto btn-icon bi-question-octagon-fill bg-warning" title="Ambiente de teste"></i>'
          )
          break;
        case '10.0.0.211:81':
          $('#navbar-left').prepend(
            '<i class="col-auto btn-icon bi-question-octagon-fill bg-danger" title="Ambiente de desenvolvimento" </i>'
          )
          break;
      }
    })
    function change_ambiente(ambiente) {
      ambientes = {
        'producao': 'tecnikaengenharia.ddns.net',
        'teste': '10.0.0.139:81',
        'dev': '10.0.0.211:81',
      }
      window.location.href = window.location.protocol + '//' + ambientes[ambiente] + window.location.pathname + window.location.search
      console.error();
    }
  </script>
</nav>