{%load permission_tags%}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Reservas</title>
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  {%include 'static/imports/bootstrap.html'%} <!-- Bootstrap -->
  {%include 'static/imports/jquery.html'%} <!-- Jquery -->
  {%include 'static/imports/base.html'%} <!-- Base -->
  
  <script src="{% static 'js/Reservas.js' %}"></script>
  {%block 'style'%}{%endblock%}
</head>

<style>
  .btn {
    width: 100px;
  }

  .input-group-text {
    flex-direction: column;
  }
  .card-img-bottom {
    height: 150px;
    object-fit: cover;
  }
  
</style>

<body>
  <nav class="navbar">
    {% if user|can:'salas' %}
    <a href="/" , style="color: black; text-decoration: none; padding-left: 10px;"><img
        src="{% static 'icons/x-circle-fill.svg'%}" alt="" style="margin-right: 5px;">Fechar app</a>
    {%endif%}
  </nav>
  {%include 'reservas/sidebar.html'%}
  <header>{%block 'header'%} {%endblock%}</header>
  <main>{%block 'main'%} {%endblock%}</main>
  <div class="submain">{%block 'submain'%}{%endblock%}</div>
  </form>

  

  {%include 'reservas/modals.html'%} <!-- Modals -->

</body>

</html>