{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>

<meta name="viewport" content="width=device-width, initial-scale=0.8">
<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/bootstrap.esm.js' %}"></script>
<script src="{% static 'js/lançamento_obra.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<link rel="stylesheet" href= "{% static 'css/color.css' %}">
<link rel="stylesheet" href= "{% static 'css/lançamento_obra.css' %}">


</head>
<style>
  .btn{
      width: 100px;
  }
  .input-group-text{
      flex-direction: column;
  }
  header{
    padding: 20px 100px 10px 100px;
  }
</style>

<body>
  <nav class="navbar">
    <a href="/", style="color: black; text-decoration: none; padding-left: 10px;"><img src="{% static 'icons/x-circle-fill.svg'%}" alt="" style="margin-right: 5px;">Fechar app</a>  
  </nav>
  
  <div class="sidenav">
    <h1 class="nome_app">Reserva de Salas</h1>

     <div class="accordion accordion-flush" id="accordionFlushExample">
       <div class="accordion-item">
         <h2 class="accordion-header">
           <a href="{%url 'salas'%}" class="a-inicio" style="padding: 16px 20px 16px 20px; font-size: 16px">
             Inicio
           </a>
         </h2>
       </div>
       
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Salas
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <a href="{%url 'atendimento'%}">| Atendimento</a>
          <a href="{%url 'apoio'%}">| Apoio</a>  
          <a href="{%url 'reuniao'%}">| Reunião</a>
        </div>
      </div>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <a href="{%url 'lista'%}" class="a-inicio" style="padding: 16px 20px 16px 20px; font-size: 16px">
              Lista de registros
            </a>
          </h2>
        </div>
  
      

      
    </div>
  </div>
</div>
</div>

<header>
  <div aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Reserva de Salas</li>
      <li class="breadcrumb-item active" aria-current="page">{{sala}}</li>
    </ol>
  </div>
</header>
{%block 'main'%}
{%endblock%}

<script>
  function reload(param) {
      let url = new URL(window.location.href);
      let params = new URLSearchParams(url.search);
      let value = document.getElementById('date').value;
      
      // Atualizar o valor do parâmetro
      params.set(param, value);
      
      // Atualizar a URL no navegador e recarregar a página
      window.location.href = `${url.pathname}?${params}`;
  }
</script>


</body>
</html> 
