{%include 'static/imports/bootstrap_tables.html'%} <!-- Bootstrap -->
<table id="table" class="table table-hover table-bordered table-striped" data-locale="pt-BR" data-toggle="table"
    data-pagination="true" data-search="true" data-side-pagination="server" data-sortable="true"
    data-page-list="[25, 50, 100, 200]" data-height='{{table_height}}' data-virtual-scroll="true"
    data-url="{{api}}/{{app}}/tabela/{{table}}" data-cookie-id-table="{{table}}" data-show-columns="true"
    data-show-columns-toggle-all="true" data-cookie="true" data-show-refresh="true"
    data-search-time-out="1000" data-page-size="25">