<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hora Atualizada</title>
</head>
<body>
    <h1>Hora Atual:</h1>
    <div style="display: flex;">
        <h2>15:32:</h2>
        <h2 id="segs"></h2>
    </div>
    <script>
        const segs = document.getElementById('segs');
        let time = 10
        segs.textContent = time

        setInterval(function(){
            segs.textContent = time
            time ++
        },1000)
    </script>
</body>
</html>