{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>

<meta name="viewport" content="width=device-width, initial-scale=0.8">

<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">


{%include 'ti/imports.html'%}


</head>
{% block 'style' %}{% endblock %}
{% block "script" %}{% endblock "script" %}   
  
<body>
  {%include 'navbar.html'%}
  
  {%include 'ti/sidebar.html'%}

  <header>
    <div aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">TI</li>
        {%block 'caminho'%}{%endblock%}
      </ol>
    </div>
    {%block 'header'%}{%endblock%}
  </header>

  <main>
    {% block 'main' %}{% endblock %}
  </main>

  <div class="submain">
    {%block 'submain'%}{%endblock%}
  </div>

  <footer>
    {%block 'footer'%}{%endblock%}
    {%include 'pagination.html'%}
  </footer>

  {%include 'ti/scripts.html'%}

</body>
</html> 
