<script>
    const ctx = document.getElementById('myChart');
    new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['2023/01','2023/02',"2023/03",'2023/04','2023/05','2023/06'],
            datasets: [{
                label: 'Hora 100%',
                data: [225, 331, 398, 1011, 260, 869],
                fill: true,
                borderColor: 'rgb(235, 129, 61)',
                backgroundColor: 'rgba(235, 170, 61, 0.4)',
                tension: 0.1
            },{
                label: 'Hora 50%',
                data: [1650, 2156, 2873, 2154, 1889,1626],
                fill: true,
                borderColor: 'rgb(30, 240, 76)',
                backgroundColor: 'rgba(30, 240, 76,0.2)',
                tension: 0.1
            }
            ]
        },
        options: {
            scales: {
                y: {
                    stacked: false
                }
            }
        }

    });
</script>