{% extends 'base.html' %}

{%block 'header'%}
{%include 'static/imports/graficos.html'%} <!-- Graficos -->

<h2>{{app_name}}</h2>
{%endblock%}

{% block 'main' %}
<div class="row mt-2">
  <div class="col-auto">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <h5 class="card-title">Ponto</h5>
      </div>
      <div class="card-body">
        <p class="card-text">Envio automatizado de mensagem, lembrete de registrar o ponto</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Ativo: <span id='Depto_pessoal:app:ponto:toggle'></span></li>
        <li class="list-group-item">Rodando: <span id='Depto_pessoal:app:ponto:run'></span></li>
        <li class="list-group-item">Atualizado: <span id='Depto_pessoal:app:ponto:updated'></span></li>
      </ul>
      <div class="card-body">
        <button type="button" class="btn btn-primary" onclick="apiRequest.touch('app/ponto')">Alterar</button>
      </div>
    </div>
  </div>
  <div class="col-auto">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <h5 class="card-title">Férias</h5>
      </div>
      <div class="card-body">
        <p class="card-text">Todo dia é programado mensagem de lembrete de retorno das ferias<br> Envio as 08:00 e as 15:00 de todos dias</small></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Ativo: <span id='Depto_pessoal:app:ferias:toggle'></span></li>
      </ul>
      <div class="card-body">
        <button type="button" class="btn btn-primary" onclick="apiRequest.touch('app/ferias')">Alterar</button>
      </div>
    </div>
  </div>
  <div class="col-auto">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <h5 class="card-title">Calendário</h5>
      </div>
      <div class="card-body">
        <p class="card-text">Calendário é necessário ser aberto todo mês e verificar os feriados presente no mês</small></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Ultima data aberta: <strong id='mes'></strong></li>
      </ul>
      <div class="card-body">
        <button type="button" class="btn btn-primary" onclick="abrirModal('gera_calendario','func')">Abrir</button>

      </div>
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-3">
    <canvas id="grafico_ativos">
    </canvas>
  </div>
  <div class="col-3">
    <canvas id="grafico_pf">
    </canvas>
  </div>
</div>
<script>
  fields = {
    'ponto': ['Depto_pessoal:app:ponto:run', 'Depto_pessoal:app:ponto:toggle', 'Depto_pessoal:app:ponto:updated'],
    'ferias': ['Depto_pessoal:app:ferias:toggle']
  }
  function carregar_all() {

  }
  function carregar(app) {
    apiRequest.get(`app/${app}`).then((data) => {
      fields[app].forEach((field) => {
        const element = document.getElementById(field);
        if (element) { // Verifica se o elemento existe
          element.style.color = Boolean(data[field]) ? "Green" : 'Red';
          element.textContent = Boolean(data[field]) ? "Sim" : 'Não';
        } else {
          console.warn(`Elemento com ID '${field}' não encontrado`);
        }
      })
    })
  }
  function carregarMes() {
    apiRequest.get('dia',{'ordering':'-id'}).then((data) => {
      let value = new Date(data[0].id);
      value = value.toLocaleDateString("pt-BR", { timeZone: "UTC" }) 
      $('#mes').text(value)
    })
  }
  function grafico_ativos() {
    apiRequest.get('colaborador').then((data) => {
      var values = {'ativos':0,'desligados':0}
      for (const row in data) {
        if (data[row].ativo) { values['ativos'] += 1 } else {values['desligados'] += 1}
      }
      console.log(values)
      const ctx = document.getElementById('grafico_ativos');
      new Chart(ctx, {
        type: 'pie',
        data: {
          labels: Object.keys(values),
          datasets: [{
            data: Object.values(values),
          }]
        },
        options: {
          plugins: {
            
            title: {
              display: true,
              text: 'Gráfico de Colaborador'
            }
          },
        }

      });
    })
  }
  function grafico_pf() {
    apiRequest.get('tabela/ferias_saldo', {'limit':1000}).then((data) => {
      data = data.rows
      var values = {}
      for (const row in data) {
        if (data[row].saldo_pf != 0) { values[data[row].colaborador] = data[row].saldo_pf }
      }
      console.log(values)
      const ctx = document.getElementById('grafico_pf');
      new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: Object.keys(values),
          datasets: [{
            data: Object.values(values),
          }]
        },
        options: {
          plugins: {
            legend: {
              display: false,
              
          },
            title: {
              display: true,
              text: 'Gráfico de saldos PF'
            }
          },
        }

      });
    })
  }
  async function load() {
    //carregar_all()
    // setInterval(carregar_all, 5000)
    carregar('ponto')
    carregar('ferias')
    carregarMes()
    apiRequest.touch('periodo_aquisitivo_funcao')
    grafico_ativos()
    grafico_pf()
  }
</script>
{% endblock %}