<style>
    .modal_list {
        height: 200px;
        overflow: auto;
        border-top: 1px solid #dee2e6;
    }

    th {
        font-size: small;
    }
</style>


<div class="modals">
    <div class="modal fade" id="m_register-funcao" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Cadastro de função</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-2 nowrap">
                        <label class="input-group-text">Nome:</label>
                        <input type="text" id="m_register-funcao_id" class="form-control form-control-sm">
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <div class="input-group mb-2 nowrap">
                                <label class="input-group-text" for="form_colaborador_funcao">Categoria:</label>
                                <select class="form-select form-control-sm" id="m_register-funcao_categoria">
                                </select>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group mb-2 nowrap">
                                <div class="input-group-text">
                                    <input class="form-check-input mt-0" type="checkbox"
                                        id="m_register-funcao_insalubridade">
                                </div>
                                <span class="input-group-text">Insalubre</span>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary mb-2" id="m_register-funcao_submit">Cadastrar</button>
                    <div class="modal_list">
                        <table class="table table-hover table-bordered table-striped" id="m_register-funcao_table">
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="m_register-equipe" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Cadastro de equipe</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-2 nowrap">
                        <label class="input-group-text">Nome:</label>
                        <input type="text" id="m_register-equipe_id" class="form-control form-control-sm">
                    </div>
                    <button type="button" class="btn btn-primary mb-2" id="m_register-equipe_submit">Cadastrar</button>
                    <div class="modal_list">
                        <table class="table table-hover table-bordered table-striped" id="m_register-equipe_table">
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="m_register-tipoavaliacao" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Cadastro de situação para Avaliações</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group input-group-sm mb-2 nowrap">
                        <label class="input-group-text">Situação:</label>
                        <input type="text" id="m_register-tipoavaliacao_situacao" class="form-control form-control-sm">
                    </div>
                    <button type="button" class="btn btn-sm btn-primary mb-2"
                        id="m_register-tipoavaliacao_submit">Cadastrar</button>
                    <div class="modal_list">
                        <table class="table table-hover table-bordered table-striped table-sm"
                            id="m_register-tipoavaliacao_table">
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal upadate colaborador-->
    <div class="modal fade" id="m_update-colaborador" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Edição de colaborador</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-auto">
                            <div class="input-group mb-2 flex-nowrap">
                                <label class="input-group-text">ID:</label>
                                <input type="text" id="m_update-colaborador_id" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group mb-2 flex-nowrap">
                                <label class="input-group-text">NOME:</label>
                                <input type="text" id="m_update-colaborador_nome" class="form-control">
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group mb-2 flex-nowrap">
                                <label class="input-group-text">CPF:</label>
                                <input type="number" id="m_update-colaborador_cpf" class="form-control">
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group mb-2 flex-nowrap">
                                <label class="input-group-text">RG:</label>
                                <input type="number" id="m_update-colaborador_rg" class="form-control">
                            </div>
                        </div>

                        <div class="col-auto">
                            <div class="input-group mb-2 flex-nowrap">
                                <label class="input-group-text">NASCIMENTO:</label>
                                <input type="date" id="m_update-colaborador_nascimento" class="form-control">
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group mb-2 flex-nowrap">
                                <label class="input-group-text">TELEFONE:</label>
                                <input type="number" id="m_update-colaborador_fone" class="form-control">
                            </div>
                        </div>

                        <div class="col-auto">
                            <div class="input-group mb-2 flex-nowrap">
                                <div class="input-group-text">
                                    <input class="form-check-input mt-0" type="checkbox"
                                        id="m_update-colaborador_ativo">
                                </div>
                                <span class="input-group-text">ATIVO:</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="m_update-colaborador_del">Excluir</button>
                        <button type="button" class="btn btn-success" id="m_update-colaborador_save">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal upadate colaborador-->
    <div class="modal fade" id="m_update-avaliacao" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Edição de avaliação</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-auto">
                            <div class="input-group input-group-sm mb-2 flex-nowrap">
                                <label class="input-group-text">ID:</label>
                                <input type="text" id="m_update-avaliacao_id" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group input-group-sm mb-2 flex-nowrap">
                                <label class="input-group-text">NOME:</label>
                                <input type="text" id="m_update-avaliacao_nome" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group input-group-sm mb-2 flex-nowrap">
                                <label class="input-group-text">CPF:</label>
                                <input type="number" id="m_update-avaliacao_cpf" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group input-group-sm mb-2 flex-nowrap">
                                <label class="input-group-text">RG:</label>
                                <input type="number" id="m_update-avaliacao_rg" class="form-control" disabled>
                            </div>
                        </div>

                        <div class="col-auto">
                            <div class="input-group input-group-sm mb-2 flex-nowrap">
                                <label class="input-group-text">NASCIMENTO:</label>
                                <input type="date" id="m_update-avaliacao_nascimento" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group input-group-sm mb-2 flex-nowrap">
                                <label class="input-group-text">TELEFONE:</label>
                                <input type="number" id="m_update-avaliacao_fone" class="form-control">
                            </div>
                        </div>

                    </div>
                    <hr>
                    <div class="row">

                        <div class="col-auto">
                            <div class="input-group input-group-sm mb-2 flex-nowrap">
                                <label class="input-group-text">SITUAÇÃO:</label>
                                <select class="form-select" id="m_update-avaliacao_avaliacao">
                                </select>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group input-group-sm mb-2 flex-nowrap">
                                <div class="input-group-text">
                                    <input class="form-check-input mt-0" type="checkbox"
                                        id="m_update-avaliacao_avaliacao_recontratar">
                                </div>
                                <span class="input-group-text">RECONTRATAR:</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group input-group-sm input-group-sm mb-2">
                            <label class="input-group-text">DESCRIÇÃO:</label>
                            <textarea type="text" id="m_update-avaliacao_avaliacao_descricao"
                                class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="m_update-avaliacao_save">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Historico -->
<div class="modal fade" id="m_historico-ocupacao" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Histórico de Ocupação</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-bordered table-striped" id="m_historico-ocupacao_table">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Historico -->
<div class="modal fade" id="m_historico-periodoaquisitivo" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Histórico de Período aquisitivo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-bordered table-striped" id="m_historico-periodoaquisitivo_table">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Historico -->
<div class="modal fade" id="m_historico-feriasprocessadas" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Histórico de Férias processadas</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-bordered table-striped" id="m_historico-feriasprocessadas_table">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Historico -->
<div class="modal fade" id="m_historico-feriasutilizadas" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Histórico de Férias utilizadas</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-bordered table-striped" id="m_historico-feriasutilizadas_table">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Editar cargos -->
<div class="modal fade" id="m_update-ocupacao" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Mudança de cargos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">ID:</label>
                            <input type="text" class="form-control" id="m_update-ocupacao_id" disabled>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">COLABORADOR:</label>
                            <select class="form-select" id="m_update-ocupacao_colaborador" disabled>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">FUNÇÃO:</label>
                            <select class="form-select" id="m_update-ocupacao_funcao">
                            </select>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">EQUIPE:</label>
                            <select class="form-select" id="m_update-ocupacao_equipe">
                            </select>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">DATA DE INÍCIO:</label>
                            <input type="date" id="m_update-ocupacao_data_inicio" class="form-control">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">DATA DE FIM:</label>
                            <input type="date" id="m_update-ocupacao_data_fim" class="form-control">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">REMUNERAÇÃO:</label>
                            <input type="number" id="m_update-ocupacao_remuneracao" class="form-control">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <span class="input-group-text">CONTINUO:</span>
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="checkbox" id="m_update-ocupacao_continuo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="m_update-ocupacao_del">Excluir</button>
                <button type="button" class="btn btn-success" id="m_update-ocupacao_save">Salvar</button>

            </div>
        </div>
    </div>
</div>
<!-- Mudança cargo -->
<div class="modal fade" id="m_alterar-ocupacao" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Mudança de cargos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">ID:</label>
                            <input type="text" class="form-control" id="m_alterar-ocupacao_id" disabled>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">COLABORADOR:</label>
                            <select class="form-select" id="m_alterar-ocupacao_colaborador" disabled>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">FUNÇÃO:</label>
                            <select class="form-select" id="m_alterar-ocupacao_funcao">
                            </select>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">EQUIPE:</label>
                            <select class="form-select" id="m_alterar-ocupacao_equipe">
                            </select>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">DATA DE INÍCIO:</label>
                            <input type="date" id="m_alterar-ocupacao_data_inicio" class="form-control">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">REMUNERAÇÃO:</label>
                            <input type="number" id="m_alterar-ocupacao_remuneracao" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="m_alterar-ocupacao_submit">Lançar</button>

            </div>
        </div>
    </div>
</div>
<!-- Lancar dissidio  -->
<div class="modal fade" id="m_dissidio-ocupacao" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Lançamento de dissídio</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">ID:</label>
                            <input type="text" class="form-control" id="m_dissidio-ocupacao_id" disabled>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">COLABORADOR:</label>
                            <select class="form-select" id="m_dissidio-ocupacao_colaborador" disabled>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">FUNÇÃO:</label>
                            <select class="form-select" id="m_dissidio-ocupacao_funcao" disabled>
                            </select>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">EQUIPE:</label>
                            <select class="form-select" id="m_dissidio-ocupacao_equipe" disabled>
                            </select>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">DATA DE INÍCIO:</label>
                            <input type="date" id="m_dissidio-ocupacao_data_inicio" class="form-control">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">REMUNERAÇÃO:</label>
                            <input type="number" id="m_dissidio-ocupacao_remuneracao" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="m_dissidio-ocupacao_submit">Lançar</button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="m_desligamento-colaborador" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Desligamento</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">ID Ocupação:</label>
                            <input type="text" class="form-control" id="m_desligamento-colaborador_id" disabled>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">ID do colaborador:</label>
                            <input type="text" class="form-control" id="m_desligamento-colaborador_colaborador"
                                disabled>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="input-group mb-2 flex-nowrap">
                        <label class="input-group-text">DATA DA DEMISSÃO:</label>
                        <input type="date" id="m_desligamento-colaborador_data" class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="m_desligamento-colaborador_submit">Demitir</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="m_processo-feriasprocessadas" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Processando férias</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">COLABORADOR:</label>
                            <select class="form-select" id="m_processo-feriasprocessadas_colaborador" disabled></select>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">PERÍODO AQUISITIVO:</label>
                            <select class="form-select" id="m_processo-feriasprocessadas_periodo_aquisitivo"></select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">DATA:</label>
                            <input type="date" id="m_processo-feriasprocessadas_data_inicio" class="form-control">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">DIAS:</label>
                            <input type="number" id="m_processo-feriasprocessadas_dias_processados"
                                class="form-control">
                        </div>
                    </div>
                    <input type="checkbox" style="display: none;" id="m_processo-feriasprocessadas_consumido">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="m_processo-feriasprocessadas_submit">Lançar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="m_update-feriasprocessadas" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Editando férias processada</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">ID:</label>
                            <input type="text" id="m_update-feriasprocessadas_id" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">COLABORADOR:</label>
                            <select class="form-select" id="m_update-feriasprocessadas_colaborador" disabled></select>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">PERÍODO AQUISITIVO:</label>
                            <select class="form-select" id="m_update-feriasprocessadas_periodo_aquisitivo"
                                disabled></select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">DATA:</label>
                            <input type="date" id="m_update-feriasprocessadas_data_inicio" class="form-control">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">DIAS:</label>
                            <input type="number" id="m_update-feriasprocessadas_dias_processados" class="form-control">
                        </div>
                    </div>
                    <input type="checkbox" style="display: none;" id="m_update-feriasprocessadas_consumido">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="m_update-feriasprocessadas_del">Excluir</button>
                <button type="button" class="btn btn-success" id="m_update-feriasprocessadas_save">Salvar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="m_processo-feriasutilizadas" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Utilizando férias</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">COLABORADOR:</label>
                            <select class="form-select" id="m_processo-feriasutilizadas_colaborador" disabled></select>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">PERÍODO AQUISITIVO:</label>
                            <select class="form-select" id="m_processo-feriasutilizadas_periodo_aquisitivo"></select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">DATA:</label>
                            <input type="date" id="m_processo-feriasutilizadas_data_inicio" class="form-control">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">DIAS:</label>
                            <input type="number" id="m_processo-feriasutilizadas_dias_utilizados" class="form-control">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <span class="input-group-text">ANTECIPADO:</span>
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="checkbox"
                                    id="m_processo-feriasutilizadas_antecipacao_periodo"
                                    onclick="confirmarAntecipacao()">
                            </div>
                        </div>
                    </div>
                    <input type="checkbox" id="m_processo-feriasutilizadas_consumido" style="display: none;">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="m_processo-feriasutilizadas_submit">Lançar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="m_update-feriasutilizadas" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Editando férias utilizada</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">COLABORADOR:</label>
                            <select class="form-select" id="m_update-feriasutilizadas_colaborador" disabled></select>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">PERÍODO AQUISITIVO:</label>
                            <select class="form-select" id="m_update-feriasutilizadas_periodo_aquisitivo"
                                disabled></select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">DATA:</label>
                            <input type="date" id="m_update-feriasutilizadas_data_inicio" class="form-control">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">DIAS:</label>
                            <input type="number" id="m_update-feriasutilizadas_dias_utilizados" class="form-control">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <span class="input-group-text">ANTECIPADO:</span>
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="checkbox"
                                    id="m_update-feriasutilizadas_antecipacao_periodo" disabled>
                            </div>
                        </div>
                    </div>
                    <input type="checkbox" id="m_update-feriasutilizadas_consumido" style="display: none;">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="m_update-feriasutilizadas_del">Excluir</button>
                <button type="button" class="btn btn-success" id="m_update-feriasutilizadas_save">Salvar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="m_update-ponto" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Editando lembrete</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">ID:</label>
                            <input type="text" class="form-control" id="m_update-ponto_id" disabled>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">COLABORADOR:</label>
                            <input type="text" class="form-control" id="m_update-ponto_colaborador">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">NUMERO:</label>
                            <input type="tel" id="m_update-ponto_telefone" class="form-control">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">PADRÃO:</label>
                            <select class="form-select" id="m_update-ponto_padrao"></select>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="m_update-ponto_del">Deletar</button>
                <button type="button" class="btn btn-success" id="m_update-ponto_save">Atualizar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="m_register-feriado" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Lançamento de feriado</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-2 flex-nowrap">
                            <label class="input-group-text">DATA:</label>
                            <input type="date" id="m_register-feriado_id" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-2 flex-nowrap">
                            <span class="input-group-text">RECORRENTE:</span>
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="checkbox" id="m_register-feriado_recorrente">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="input-group mb-2 flex-nowrap">
                        <label class="input-group-text">DESCRIÇÃO:</label>
                        <input type="text" class="form-control" id="m_register-feriado_descricao">
                    </div>
                </div>
                <button type="button" class="btn btn-primary mb-2" id="m_register-feriado_submit">Registrar</button>

                <div class="modal-list">
                    <table class="table table-hover table-bordered table-striped" id="m_register-feriado_table">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<script>

    function abrirHistorico(resource) {
        let modal = new Modal(resource, 'historico')
        modal.open(colab)
    }
    function abrirRegistro(modal, table = false) {
        let registro = new Modal(modal, 'register')
        registro.open(table)
    }
    function abrirLancamento(modal) {
        let data = {}
        modal = modal.split('_')
        let registro = new Modal(modal[0], modal[1])

        data = $("#f_ocupacao_id").val()
        registro.open(data)
        console.debug(data)
    }
    function abrirProcesso(modal) {

        let registro = new Modal(modal, 'processo')

        data = {
            'colaborador': $("#f_colaborador_id").val(),
            'periodo_aquisitivo': $("#f_periodoaquisitivo_id").val()
        }

        registro.open(data)

    }
    function confirmarAntecipacao() {
        let field = $("#m_processo-feriasutilizadas_antecipacao")
        let periodo = $("#m_processo-feriasutilizadas_aquisitivo_id")
        if (field.prop("checked")) {
            if (!confirm('Tens certeza que deseja selecionar antecipação?')) {
                field.prop('checked', false);
            }
        }
        if (field.prop("checked")) {
            periodo.val('').attr('disabled', true)

        } else {
            periodo.val($("#m_processo-feriasutilizadas_id").val()).attr('disabled', false)
        }
    }

</script>
</div>