{% load permission_tags %}
{%load static%}
<div class="sidenav">
    <h1 class="nome_app">{{app_name}}</h1>
    <div class="accordion accordion-flush" id="accordion">
        {% if user|can:'Depto_pessoal-colaborador' %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#menu-colaborador" aria-expanded="false">
                    Colaborador
                </button>
            </h2>
            <div id="menu-colaborador" class="accordion-collapse collapse" data-bs-parent="#accordion">
                <a href="{%url app|add:'_cadastros' 'colaborador'%}"><i {{icon_form}}></i> Cadastrar</a>
                <a href="#" onclick="abrirRegistro('funcao', true)"><i {{icon_modal}}></i> Função</a>
                <a href="#" onclick="abrirRegistro('equipe', true)"><i {{icon_modal}}></i> Equipe</a>
                <a href="{%url app|add:'_tabelas' 'colaborador'%}"><i {{icon_table}}></i> Tabela</a>
            </div>
        </div>
        {%endif%}
        {% if user|can:'Depto_pessoal-ferias' %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#menu-ferias" aria-expanded="false">
                    Ferias
                </button>
            </h2>
            <div id="menu-ferias" class="accordion-collapse collapse" data-bs-parent="#accordion">
                <a href="{%url app|add:'_tabelas' 'periodo_aquisitivo'%}"><i {{icon_table}}></i> Período aquisitivo</a>
                <a href="{%url app|add:'_tabelas' 'ferias_processadas'%}"><i {{icon_table}}></i> Ferias Processadas</a>
                <a href="{%url app|add:'_tabelas' 'ferias_utilizadas'%}"><i {{icon_table}}></i> Ferias Utilizadas</a>
            </div>
        </div>
        {%endif%}
        {% if user|can:'Depto_pessoal-ponto' %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#menu-ponto" aria-expanded="false">
                    Pontos
                </button>
            </h2>
            <div id="menu-ponto" class="accordion-collapse collapse" data-bs-parent="#accordion">
                <a href="{%url app|add:'_tabelas' 'ponto'%}"><i {{icon_table}}></i> Tabela</a>
            </div>
        </div>
        {%endif%}
        {% if user|can:'Depto_pessoal-lembrete' %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#menu-lembretes" aria-expanded="false">
                    Lembretes
                </button>
            </h2>
            <div id="menu-lembretes" class="accordion-collapse collapse" data-bs-parent="#accordion">
                <a href="{%url app|add:'_cadastros' 'lembrete'%}"><i {{icon_table}}></i> Cadastro</a>
                <a href="{%url app|add:'_tabelas' 'lembrete'%}"><i {{icon_table}}></i> Tabela</a>
                <a href="#" title="Fara leitura do bd e enviar para cada linha"><i {{icon_table}}></i> Sobre</a>
            </div>
        </div>
        {%endif%}
    
    </div>
</div>