{% extends 'lançamento_obra.html' %}
{% block 'style' %}
<Style>
  p{
      margin-bottom: 0;
      font-size: small;
    }
    td{
        padding: 0;
    }
      tr{
          border-bottom: none;
      }
    a{
      text-decoration: none;
    }
</Style>
{% endblock %}
{% block 'main' %}
<h1>Tabela de Atividade</h1>
  <table class="table table-hover table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Obra</th>
        <th scope="col">Colaborador</th>
        <th scope="col">Dia</th>
        <th scope="col">Descrição</th>
        <th scope="col">Ini1</th>
        <th scope="col">Fim1</th>
        <th scope="col">Ini2</th>
        <th scope="col">Fim2</th>
        <th scope="col">Ini3</th>
        <th scope="col">Fim3</th>
        <th scope="col">Diario</th>
        <th scope="col">Atividade</th>

      </tr>
    </thead>
    <tbody>
      
      {% for i in data %}
        <tr>
          <th scope="row"><p>{{i.id}}</p></th>
          <td><p>{{i.obra.cr}}</p></td>
          <td><p>{{i.colaborador.nome}}</p></td>
          <td><p>{{i.dia | date:"SHORT_DATE_FORMAT"}}</p></td>
          <td ><p class="desc">{{i.descricao}}</p></td>
          <td>{%if not i.horaini1 is Null%}<p>{{i.horaini1}}</p>{%endif%}</td>
          <td>{%if not i.horafim1 is Null%}<p>{{i.horafim1}}</p>{%endif%}</td>

          <td>{%if not i.horaini2 is Null%}<p>{{i.horaini2}}</p>{%endif%}</td>
          <td>{%if not i.horafim2 is Null%}<p>{{i.horafim2}}</p>{%endif%}</td>
          <td>{%if not i.horaini3 is Null%}<p>{{i.horaini3}}</p>{%endif%}</td>
          <td>{%if not i.horafim3 is Null%}<p>{{i.horafim3}}</p>{%endif%}</td>
          <td><a href="/midia/Lançamento_obra/diarios_digitalizado/{{i.diario}}.png" target="_blank">
            <p>{{i.diario}}</p>
          </a></td>
          <td><p>{{i.atividade.tipo}}</p></td>
        </tr>
      {% endfor %}
    </tbody>
  </table> 
{% endblock %}