{% extends 'lançamento_obra.html' %}
{% block 'style' %}
<Style>
  p{
      margin-bottom: 0;
      font-size: small;
    }
    td{
        padding: 0;
    }
      tr{
          border-bottom: none;
      }
</Style>
{% endblock %}
{% block 'main' %}
<h1>Tabela de Colaborador</h1>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Função</th>
        <th scope="col">Admissão</th>
        <th scope="col">Demissão</th>
        <th scope="col">Tipo</th>
        <th scope="col">Diaria</th>
        <th scope="col">Oberservação</th>
        
      </tr>
    </thead>
    <tbody>
      
      {% for colaborador in colab_list %}
        <tr>
          <th scope="row"><p>{{colaborador.id}}</p></th>
          <td>{{colaborador.nome}}</td>
          <td><p>{{colaborador.funcao.funcao}}</p></td>
          <td><p>{{colaborador.admissao | date:"SHORT_DATE_FORMAT"}}</p></td>
          <td>{%if not colaborador.demissao is None%}<p>{{colaborador.demissao | date:"SHORT_DATE_FORMAT"}}</p>{%endif%}</td>
          <td><p>{{colaborador.contrato.contrato}}</p></td>
          <td>{%if not colaborador.diaria == "0"%}<p>{{colaborador.diaria}}</p>{%endif%}</td>
          <td><p>{{colaborador.observacoes}}</p></td>
        </tr>
      {% endfor %}
    </tbody>
  </table> 
{% endblock %}