{% extends 'lançamento_obra.html' %}
{% block 'style' %}
<Style>
  td{
    font-size: 15px;
  }
  th{
    font-size: 16px;
  }
</Style>
{% endblock %}
{% block 'main' %}
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Função</th>
        <th scope="col">Admissão</th>
        <th scope="col">Demissão</th>
        <th scope="col">Tipo</th>
        <th scope="col">Diaria</th>
        <th scope="col">Oberservação</th>
        
      </tr>
    </thead>
    <tbody>
      
      {% for colaborador in colab_list %}
        <tr>
          <th scope="row">{{colaborador.id}}</th>
          <td>{{colaborador.nome}}</td>
          <td>{{colaborador.funcao.funcao}}</td>
          <td>{{colaborador.admissao | date:"SHORT_DATE_FORMAT"}}</td>
          <td>{%if not colaborador.demissao is None%}{{colaborador.demissao | date:"SHORT_DATE_FORMAT"}}{%endif%}</td>
          <td>{{colaborador.contrato.contrato}}</td>
          <td>{%if not colaborador.diaria == "0"%}{{colaborador.diaria}}{%endif%}</td>
          <td>{{colaborador.observacoes}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table> 
{% endblock %}