{% extends 'lançamento_obra.html' %}
{% load static %}

{% block 'style' %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}


{%block 'caminho'%}
  <li class="breadcrumb-item" aria-current="page">Visualização</li>
  <li class="breadcrumb-item active" aria-current="page">Horas | Horas extras</li>
{%endblock%}

{%block 'header'%}
<h2>Tabela de Obras</h2>
{%endblock%}

{% block 'main' %}
<div class="row">
  <button id="botao-criar-tabela" class="btn btn-outline-success">Atualizar</button>
</div>
  <table class="table table-hover table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">Dia</th>
        <th scope="col">Colaborador</th>
        <th scope="col">Obra</th>
        <th scope="col">Hora</th>
        <th scope="col">Hora +50%</th>
        <th scope="col">Hora +100%</th>
      </tr>
    </thead>
    <tbody>
      
      {% for i in data %}
        <tr>
          <td><p>{{i.dia | date:"SHORT_DATE_FORMAT"}}</p></td>
          <td><p>{{i.colaborador}}</p></td>
          <td><p>{{i.obra}}</p></td>
          <td><p>{{i.uteis}}</p></td>
          <td><p>{{i.total_he50}}</p></td>
          <td><p>{{i.total_he100}}</p></td>
        
        </tr>
      {% endfor %}
    </tbody>
  </table> 
  <script>
    $(document).ready(function() {
      $('#botao-criar-tabela').click(function() {
          var post_data = {
            'csrfmiddlewaretoken':"{{ csrf_token }}"
          } 
          $.ajax({
              url: '/api/executar_funcao_geraViewJunta',  // URL da sua API no Django
              type: 'POST',
              data: post_data,
              success: function(data) {
                  console.log('Mensagem:', data.message);
                  // Atualize o conteúdo da div resultado com a mensagem de sucesso
                  if (confirm('Tabela atualizada com sucesso!\nClique em <OK> para recarregar a página.')){
                    window.location.reload(true); 
                  }
              },  
              error: function(xhr, status, error) {
                  console.error('Erro:', error);
                  // Exiba uma mensagem de erro na div resultado
                  alert('Houve algum erro ao atualizar, contate o suporte tecnico para auxiliar nesse caso.\nerro: ' + error + '-' + status);
              }
          });
      });
    });
  </script>
{% endblock %}

{% block 'script' %}

{% endblock %}
