{% extends 'lançamento_obra.html' %}
{% block 'head' %}
<Style>
  td{
    font-size: 15px;
  }
  th{
    font-size: 16px;
  }
</Style>
{% endblock %}
{% block 'main' %}
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Cr</th>
        <th scope="col">Orçamentp</th>
        <th scope="col">Retrabalho</th>
        <th scope="col">Empresa</th>
        <th scope="col">Cidade</th>
        <th scope="col">Descrição</th>
        <th scope="col">Supervisor</th>
        <th scope="col">Finalizada</th>
        <th scope="col">Indece</th>
        <th scope="col">Etapas</th>
      </tr>
    </thead>
    <tbody>
      
      {% for obra in obras_list %}
        <tr>
          <th scope="row">{{obra.cr}}</th>
          <td>{{obra.orcamento}}</td>
          <td>{{obra.retrabalho}}</td>
          <td>{{obra.empresa}}</td>
          <td>{{obra.cidade}}</td>
          <td>{{obra.descricao}}</td>
          <td>{{obra.supervisor.supervisor}}</td>
          <td>{{obra.finalizada}}</td>
          <td>{{obra.indice}}</td>
          <td>{{obra.etapas}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table> 
{% endblock %}