{% extends app|add:'/base.html' %}



{%block 'header'%}
<h2>Consulta de Diária</h2>
{%include 'consulta.html'%}
<thead>
    <tr>
        <th data-field="colaborador" data-sortable="true">Colaborador</th>
        <th data-field="competencia" data-sortable="true">Competência</th>
        <th data-field="diaria" data-sortable="true" >Diárias</th>
        <th data-field="horas" data-sortable="true" data-formatter="horaFormatter">Horas</th>
        <th data-field="valor_diarias" data-sortable="true" data-formatter="realFormatter">Valor da diária</th>
        <th data-field="valor_horas" data-sortable="true" data-formatter="realFormatter">Valor da hora</th>
        <th data-field="total" data-sortable="true" data-formatter="realFormatter">Total</th>
    </tr>
</thead>
</table>
<script>
    function load () {
        apiRequest.post('exec/atualizar_tabelas').then(()=>{
            $("#table").bootstrapTable("refresh");
        })
    }
</script>
{%endblock%}