{% extends app|add:'/base.html' %}

{%load static%}

{%block 'header'%}
<h2>Consulta de efetividade</h2>
<div class="toolbar">

    <div class="row mt-2">
        <div class="col">
            <div class="input-group input-group mb-2">
                <label class="input-group-text" for="inputGroupSelect01">Colaborador:</label>
                <input type="text" name="update_att_id" id="visualizacao_efetividade_colaborador" class="form-control">
            </div>
        </div>
        <div class="col">
            <div class="input-group input-group mb-2">
                <label class="input-group-text" for="inputGroupSelect01">Obra:</label>
                <input type="text" name="update_att_id" id="visualizacao_efetividade_obra" class="form-control">
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-2">
                <label class="input-group-text" for="inputGroupSelect01">Data inicial:</label>
                <input type="date" name="dia" id="visualizacao_efetividade_dataini" class="form-control">
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-2">
                <label class="input-group-text" for="inputGroupSelect01">Data final:</label>
                <input type="date" name="dia" id="visualizacao_efetividade_datafim" class="form-control">
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-success" id="visualizacao_efetividade_submit">Filtrar</button>
</div>

{%include 'consulta.html'%}
<thead>
    <tr>
        <th data-field="id" data-sortable="true" rowspan="2">ID</th>
        <th data-field="colaborador" data-sortable="true" rowspan="2">ID</th>
        <th data-field="dia" data-sortable="true" rowspan="2" data-Formatter="dataFormatter">Dia</th>
        <th data-field="obra" data-sortable="true" rowspan="2">Obra</th>
        <th data-field="descricao" data-sortable="true" rowspan="2">Descrição</th>
        <th colspan="6">Horas</th>
        <th data-field="diario" data-sortable="true" rowspan="2" data-width="100">Diário</th>
        <th data-field="editar" data-formatter="editarFormatter" data-searchable="false" data-events="editarEvents" rowspan="2">Editar</th>
    </tr>
    <tr>
        <th data-field="horaini1" data-sortable="true" data-Formatter="Formatter">Início 1</th>
        <th data-field="horafim1" data-sortable="true" data-Formatter="Formatter">Fim 1</th>
        <th data-field="horaini2" data-sortable="true" data-Formatter="Formatter">Início 2</th>
        <th data-field="horafim2" data-sortable="true" data-Formatter="Formatter">Fim 2</th>
        <th data-field="horaini3" data-sortable="true" data-Formatter="Formatter">Início 3</th>
        <th data-field="horafim3" data-sortable="true" data-Formatter="Formatter">Fim 3</th>
    </tr>
</thead>
</table>
<script>
    prefix = 'visualizacao_efetividade_'
    resource = { 'text': ['colaborador', 'obra', 'dataini', 'datafim'] }
    function load() {

            $(`#${prefix}submit`).on('click', async () => {
                data = await generics.reader.fields(resource, prefix)
                apiRequest.post('exec/efetividade', data).then(() => {
                    $("#table").bootstrapTable("refresh");
                })
            })
    }
    function editarFormatter(value) {

        return (
            '<div style="margin-left: 0px; display: inline-flex;">'
            + '<div class="btn-icon bg-info bi-pencil me-1" id="editarBtn" href="javascript:void(0)" title="Editar">'
            + '</div>'
            + '<div class="btn-icon bg-success bi-file-earmark-text" id="viewBtn" href="javascript:void(0)" title="Diário">'
            + '</div>'
            + '</div>'
        )
    }
    window.editarEvents = {
        'click #editarBtn': function (e, value, row, index) {
            modal.open('update','atividade', row['id'])
        },
        'click #viewBtn': function (e, value, row, index) {
            modal.open('image','diarioobra', row['diario'])
        },
    }
</script>
{%endblock%}