{% extends 'base.html' %}


{%block 'header'%}
<h2>Consulta de Incompletos</h2>
{%include 'consulta.html'%}

    <thead>
            <th data-field="dia" data-sortable="true" data-formatter="dataFormatter">Data</th>
            <th data-field="nome" data-sortable="true" >Nome</th>
            <th data-field="total_horas" data-sortable="true" data-formatter="intervalFormatter">Horas Lançadas</th>
            <th data-field="encarregado" data-sortable="true">Encarregado</th>
            <th data-field="supervisor" data-sortable="true">Supervisor</th>
            <th data-field="obra" data-sortable="true">Obra CR</th>

        </tr>
    </thead>
</table>
{%endblock%}

