{% extends 'reservas.html' %}
{%load static%}
{%block 'style'%}
<style>
    p {
        margin-bottom: 0;
    }
    .card-img-carro {
        height: 100px;
        object-fit: cover;
    }
</style>
{%endblock%}
{%block 'header'%}
<div class="container text-center">
    <div class="row">
        <div class="col-1">
            <img src="/static/image/reservas/carro.png" alt="" class="img-thumbnail">
        </div>
        <div class="col-7">
            <div aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Reservas</li>
                    <li class="breadcrumb-item">Frota</li>
                    <li class="breadcrumb-item active" aria-current="page">Carros</li>
                </ol>
            </div>
            <div class="input-group">
                <label class="input-group-text" for="inputGroupSelect01">Data:</label>
                <input type="date" name="data-picker" id='date' onchange="reload('data')" class="form-control"
                    value="{{data}}">
            </div>
        </div>
        
    </div>
</div>
{%endblock%}
{%block 'main'%}
<h3>Livres</h3>
<div class="row justify-content-start">
    {% for d in dados %}
    {% if not d.responsavel %}
    <div class="col-auto">
        <div class="card" onclick="load_carro('{{d.carro.placa}}')" data-bs-toggle="modal"
            data-bs-target="#reservar_carro" style="width: 12rem;">
            <div class="card-header">
                <div class="row align-items-start">
                    <div class="col">
                        <p>{{d.carro.placa}}</p>
                    </div>
                    <div class="col">
                        <p>{{d.carro.modelo}}</p>
                    </div>
                </div>
            </div>
            <img src='{{media_carros}}/{{d.carro.placa}}.jpg' class="card-img-carro" alt="Imagem ausente">
            <div class="card-footer">
                <h5 class="card-title">{{d.reservado}}</h5>
            </div>
        </div>
    </div>
    {%endif%}
    {%endfor%}
</div>
{%endblock%}

{%block 'submain'%}
<h3>Reservados</h3>
<div class="row justify-content-start">
    {% for d in dados %}
    {% if d.responsavel %}
    <div class="col-auto">
        <div class="card" style="width: 12rem;">
            <div class="card-header">
                <div class="row align-items-start">
                    <div class="col">
                        <p>{{d.carro.placa}}</p>
                    </div>
                    <div class="col">
                        <p>{{d.carro.modelo}}</p>
                    </div>
                </div>
            </div>
            <img src='{{media_carros}}/{{d.carro.placa}}.jpg' class="card-img-carro" alt="Imagem ausente">
            <div class="card-footer">
                <h5 class="card-title">{{d.reservado}}</h5>
                {% if d.responsavel %}
                <div class="row">
                    <div class="col-1"><i class="bi bi-person-fill"></i></div>
                    <div class="col"><p class="card-text">{{d.responsavel}}</p></div>
                </div>
                {%endif%}

                {% if d.destino %}
                <div class="row">
                    <div class="col-1"><i class="bi bi-pin-fill"></i></div>
                    <div class="col"><p class="card-text">{{d.destino}}</p></div>
                </div>
                {%endif%}
            </div>
        </div>
    </div>
    {%endif%}
    {%endfor%}
</div>
{%endblock%}