{% extends 'base.html' %}
{%load static%}

{%block 'header'%}
<h2>Cadastro de obra</h2>
{%endblock%}


{% block 'main' %}


<div class="row align-items-start">
    <div class="col">
        <div class="input-group mb-2">
            <label class="input-group-text" for="form_obra_id">Obra cr:</label>
            <input type="number" id="form_obra_id" class="form-control">
        </div>
    </div>
    <div class="col">
        <div class="input-group mb-2">
            <label class="input-group-text" for="form_obra_orcamento">Orçamento:</label>
            <input type="text" id="form_obra_orcamento" class="form-control">
        </div>
    </div>
    <div class="col">
        <div class="input-group mb-2">
            <label class="input-group-text" for="form_obra_retrabalho">Retrabalho:</label>
            <input type="text" id="form_obra_retrabalho" class="form-control">
        </div>
    </div>
</div>
<div class="row align-items-start">
    <div class="col">
        <div class="input-group mb-2">
            <label class="input-group-text" for="form_obra_empresa">Empresa:</label>
            <input type="text" id="form_obra_empresa" class="form-control">
        </div>
    </div>
    <div class="col">
        <div class="input-group mb-2">
            <label class="input-group-text" for="form_obra_cidade">Cidade:</label>
            <input type="text" id="form_obra_cidade" class="form-control">
        </div>
    </div>
</div>

<div class="row align-items-start">
    <div class="col">
        <div class="input-group mb-2">
            <label class="input-group-text" for="form_obra_supervisor">Supervisor:</label>
            <select class="form-select" id="form_obra_supervisor_id">
            </select>
        </div>
    </div>
    <div class="col">
        <div class="input-group mb-2">
            <label class="input-group-text" for="form_obra_indice">Índice:</label>
            <select class="form-select" id="form_obra_indice">
                <option value="OBRAS ENGENHARIA">OBRAS ENGENHARIA</option>
                <option value="RETRABALHO">RETRABALHO</option>
                <option value="SERVIÇOS PARA O GRUPO">SERVIÇOS PARA O GRUPO</option>
            </select>
        </div>
    </div>
    <div class="col">
        <div class="input-group mb-2">
            <label class="input-group-text" for="form_obra_cidade">Tecnicon:</label>
            <input type="text" id="form_obra_tecnicon" class="form-control">
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group mb-2">
            <label class="input-group-text" for="form_obra_finalizada">Finalizada:</label>
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" id="form_obra_finalizada">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="input-group mb-2">
            <span class="input-group-text">Descrição</span>
            <textarea class="form-control" id="form_obra_descricao"></textarea>
        </div>
    </div>
    <div class="col">
        <div class="input-group mb-2">
            <span class="input-group-text">Etapas</span>
            <textarea class="form-control" id="form_obra_etapas"></textarea>
        </div>
    </div>
</div>
<div class="row justify-content-end"><div class="col-auto"><button id="form_obra_btn" class="btn btn-success">Cadastrar</button></div></div>
<script>
    $(document).ready(function(){
        loadForm('obra')
    });
</script>
{% endblock %}

{% block 'submain' %}
<div class="submain">{%include 'lancamento_obra/table/obra.html'%}</div>
{% endblock %}