{% extends 'base.html' %}


{%block 'header'%}
<h2>{{app_name}}</h2>
{%endblock%}

{% block 'main' %}
{% include 'static/imports/bootstrap_tables.html' %}
<div class="accordion mt-3">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#menu-repor"
        aria-expanded="false">
        Repor EPI vencido
      </button>
    </h2>
    <div id="menu-repor" class="accordion-collapse collapse mb-3" data-bs-parent="#accordion">
      <table data-toggle="table" data-locale="pt-BR" data-url="{{api}}Almoxarifado/tabela/repor"
        class="table table-hover table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th colspan="3">COLABORADOR</th>
            <th colspan="5">PRODUTO</th>
            <th rowspan="2" data-formatter="entregarFormatter" data-events="btnEvents"></th>

          </tr>
          <tr>
            <th data-field="id_colab">ID</th>
            <th data-field="nome">Nome</th>
            <th data-field="funcao">Função</th>
            <th data-field="id_produto">ID</th>
            <th data-field="produto">Nome</th>
            <th data-field="tamanho">Tamanho</th>
            <th data-field="reposicao" data-formatter="dataFormatter">Validade</th>
            <th data-field="situacao">Situação</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#menu-papel"
        aria-expanded="false">
        Passar para ficha física
      </button>
    </h2>
    <div id="menu-papel" class="accordion-collapse collapse mb-3" data-bs-parent="#accordion">
      <table data-toggle="table" data-locale="pt-BR" data-url="{{api}}Almoxarifado/tabela/repor"
        class="table table-hover table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th colspan="3">COLABORADOR</th>
            <th colspan="5">PRODUTO</th>
            <th rowspan="2" data-formatter="entregarFormatter" data-events="btnEvents"></th>

          </tr>
          <tr>
            <th data-field="id_colab">ID</th>
            <th data-field="nome">Nome</th>
            <th data-field="funcao">Função</th>
            <th data-field="id_produto">ID</th>
            <th data-field="produto">Nome</th>
            <th data-field="tamanho">Tamanho</th>
            <th data-field="reposicao" data-formatter="dataFormatter">Validade</th>
            <th data-field="situacao">Situação</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#menu-baixar"
        aria-expanded="false">
        Baixar no Tecnicon
      </button>
    </h2>
    <div id="menu-baixar" class="accordion-collapse collapse mb-3" data-bs-parent="#accordion">


      <table id="tabela_baixar" data-toggle="table" data-locale="pt-BR" data-url="{{api}}Almoxarifado/tabela/baixar"
        class="table table-hover table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th rowspan="2" data-field="obra">Obra [cr]</th>
            <th colspan="6">EPI</th>
            <th rowspan="2" data-formatter="baixarFormatter" data-events="btnEvents"></th>

          </tr>
          <tr>
            <th data-field="id">ID</th>
            <th data-field="quantidade">Quantidade</th>
            <th data-field="produto">Produto</th>
            <th data-field="ca">CA</th>
            <th data-field="validade" data-formatter="dataFormatter">Validade</th>
            <th data-field="tamanho">Tamanho</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#menu-assinar"
        aria-expanded="false">
        Assinar a ficha
      </button>
    </h2>
    <div id="menu-assinar" class="accordion-collapse collapse mb-3" data-bs-parent="#accordion">


      <table id="tabela_assinar" data-toggle="table" data-locale="pt-BR" data-url="{{api}}Almoxarifado/tabela/assinar"
        class="table table-hover table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th rowspan="2" data-field="id_colab">ID</th>
            <th rowspan="2" data-field="colaborador">Colaborador</th>
            <th colspan="2">EPI</th>
            <th rowspan="2" data-formatter="assinarFormatter" data-events="btnEvents"></th>
          </tr>
          <tr>
            <th data-field="novos_produtos">Produtos</th>
            <th data-field="data_entrega" data-formatter="dataFormatter">Entrega</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
<div class="accordion mt-3">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#menu-digitalizar" aria-expanded="false">
        Digitalizar ficha completa
      </button>
    </h2>
    <div id="menu-digitalizar" class="accordion-collapse collapse mb-3" data-bs-parent="#accordion">
      <table data-toggle="table" data-locale="pt-BR" data-url="{{api}}Almoxarifado/tabela/repor"
        class="table table-hover table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th colspan="3">COLABORADOR</th>
            <th colspan="5">PRODUTO</th>
            <th rowspan="2" data-formatter="entregarFormatter" data-events="btnEvents"></th>

          </tr>
          <tr>
            <th data-field="id_colab">ID</th>
            <th data-field="nome">Nome</th>
            <th data-field="funcao">Função</th>
            <th data-field="id_produto">ID</th>
            <th data-field="produto">Nome</th>
            <th data-field="tamanho">Tamanho</th>
            <th data-field="reposicao" data-formatter="dataFormatter">Validade</th>
            <th data-field="situacao">Situação</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#menu-arquivar" aria-expanded="false">
        Arquivar ficha sem item valido
      </button>
    </h2>
    <div id="menu-arquivar" class="accordion-collapse collapse mb-3" data-bs-parent="#accordion">
      <table data-toggle="table" data-locale="pt-BR" data-url="{{api}}Almoxarifado/tabela/repor"
        class="table table-hover table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th colspan="3">COLABORADOR</th>
            <th colspan="5">PRODUTO</th>
            <th rowspan="2" data-formatter="entregarFormatter" data-events="btnEvents"></th>

          </tr>
          <tr>
            <th data-field="id_colab">ID</th>
            <th data-field="nome">Nome</th>
            <th data-field="funcao">Função</th>
            <th data-field="id_produto">ID</th>
            <th data-field="produto">Nome</th>
            <th data-field="tamanho">Tamanho</th>
            <th data-field="reposicao" data-formatter="dataFormatter">Validade</th>
            <th data-field="situacao">Situação</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
<script>
  function entregarFormatter() {
    return (
      '<div class="btn-icon bg-info bi-check2-square fs-6 me-1" id="entregarBtn" title="Entregue"></div>'
    )
  }
  function baixarFormatter() {
    return (
      '<div class="btn-icon bg-info bi-arrow-down-circle fs-6 me-1" id="baixarBtn" title="Baixar"></div>'
    )
  }
  function assinarFormatter() {
    return (
      '<div class="btn-icon bg-info bi-pencil fs-6 me-1" id="assinarBtn" title="Assinar"></div>'
    )
  }
  window.btnEvents = {
    'click #entregarBtn': function (e, value, row, index) {
      window.location.href = `${window.location.origin}/Almoxarifado/cadastros/epi_movimentacao?produto=${row['id_produto']}&colaborador=${row['id_colab']}&devolvido=T`;
    },
    'click #baixarBtn': function (e, value, row, index) {
      apiRequest.post('funcao/baixar_tecnicon', { 'epi': row['id'], 'obra': row['obra'] }).then(() => {
        $('#tabela_baixar').bootstrapTable('refresh')
      })
    },
    'click #assinarBtn': function (e, value, row, index) {
      apiRequest.post('funcao/assinar', { 'colab': row['id_colab'], 'data': row['data_entrega'] }).then(() => {
        $('#tabela_assinar').bootstrapTable('refresh')
      })
    },
  }
</script>
{% endblock %}