{% load permission_tags %}
{%load static%}
<div class="sidenav">
    <a href="/{{app}}/" class="nome_app">{{app_name}} </a>
    
    <div class="accordion accordion-flush" id="accordion">
        {% if user|can:'Financeiro-import_dda' %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <a href="#" class="a-inicio" style="padding: 16px 20px 16px 20px; font-size: 16px" onclick="abrirRegistro('produto')">
                    <i {{icon.modal}}></i> Importar DDA
                </a>
            </h2>
        </div>
        {%endif%}
        
    
    
    </div>
    <script>
        function abrirRegistro(modal){
            const load = new Modal(modal,'register')
        }
    </script>
</div>