{% load permission_tags %}
{%load static%}
<div class="sidenav">
    <a href="/{{app}}/" class="nome_app">{{app_name}} </a>
    
    <div class="accordion accordion-flush" id="accordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#menu-tabelas" aria-expanded="false">
                    Importações
                </button>
            </h2>
            <div id="menu-tabelas" class="accordion-collapse collapse" data-bs-parent="#accordion">
                <!-- <a href="{%url app|add:'_tabelas' 'fechamento_mensal'%}"><i {{icon.table}}></i> Fechamento</a> -->
                <a href="#" onclick="let obj = new Modal('caixa','import'); obj.open()"><i {{icon.modal}}></i> Importar Caixa</a>
            </div>
        </div>
        {% if user|can:'Financeiro-import_dda' %}
        <div class="accordion-item">
            <h2 class="accordion-header">
            </h2>
        </div>
        {%endif%}
        
    
    
    </div>
    <script>
        function abrirRegistro(modal){
            const load = new Modal(modal,'register')
        }
    </script>
</div>