{%extends 'ti.html'%}
{%load static%}
{% block 'caminho' %}
<li class="breadcrumb-item" aria-current="page">Equipamentos</li>
<li class="breadcrumb-item active" aria-current="page">Cadastrar novo</li>
{%endblock%}

{%block 'main'%}
<h3>Tabela de computadores</h3>
{%endblock%}


{%block 'submain'%}

<div class="accordion" id="accordionPanelsStayOpenExample">
   <div class="accordion-item">
      <h2 class="accordion-header">
         <button class="accordion-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne">
            Notebook \ Tag 2784 \ Dell \ Latitude 15
         </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
         <div class="accordion-body">
            <table class="table">
               <thead>
                  <thead>
                     <tr>
                        <th scope="col">Detalhe</th>
                        <th scope="col">Valor</th>
                     </tr>
                  </thead>
               <tbody>
                  <tr>
                     <th scope="row">
                        <p>Memoria ram</p>
                     </th>
                     <th scope="row">
                        <p>16GB</p>
                     </th>
                  </tr>
                  <tr>
                     <th scope="row">
                        <p>Processador</p>
                     </th>
                     <th scope="row">
                        <p>i5 1235U</p>
                     </th>
                  </tr>
                  <tr>
                     <th scope="row">
                        <p>Responsável</p>
                     </th>
                     <th scope="row">
                        <p>Felipe Kaim</p>
                     </th>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>

   <div class="accordion-item">
      <h2 class="accordion-header">
         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseTwo">
            Notebook \ Tag 1904 \ Dell \ Latitude 9
         </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
         <div class="accordion-body">
            <table class="table">
               <thead>
                  <thead>
                     <tr>
                        <th scope="col">Detalhe</th>
                        <th scope="col">Valor</th>
                     </tr>
                  </thead>
               <tbody>


                  <tr>
                     <th scope="row">
                        <p>Memoria ram</p>
                     </th>
                     <td>
                        <p>8GB</p>
                     </td>
                  </tr>
                  <tr>
                     <th scope="row">
                        <p>Processador</p>
                     </th>
                     <td>
                        <p>i5 4500H</p>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
{%endblock%}