{%extends 'ti.html'%}
{%load static%}
{% block 'caminho' %}
<li class="breadcrumb-item" aria-current="page">Equipamentos</li>
<li class="breadcrumb-item active" aria-current="page">Cadastrar novo</li>
{%endblock%}

{%block 'main'%}
<h3>Tabela de computadores</h3>
{%endblock%}


{%block 'submain'%}

<div class="accordion" id="accordionPanelsStayOpenExample">
   <div class="accordion-item">
      <h2 class="accordion-header">
         <button class="accordion-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne">
            Impressora / brothers / 001
         </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
         <div class="accordion-body">
            <table class="table table-hover">
               <thead>
                  
               <tbody>
                  <tr>
                     <th scope="row">
                        <p>Tinta preta</p>
                     </th>
                     <td>
                        <p>Blabla</p>
                     </td>
                  </tr>
                  <tr>
                     <th scope="row">
                        <p>Tinta colorida</p>
                     </th>
                     <td>
                        <p>bla</p>
                     </td>
                  </tr>
                  <tr>
                     <th scope="row">
                        <p>Local</p>
                     </th>
                     <td>
                        <p>Departamento pessoal</p>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>

   <div class="accordion-item">
      <h2 class="accordion-header">
         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseTwo">
            Impressora / Epson / 002
         </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
         <div class="accordion-body">
            <table class="table table-hover">

               <tbody>
                  <tr>
                     <th scope="row">
                        <p>Tinta preta</p>
                     </th>
                     <td>
                        <p>blalala</p>
                     </td>
                  </tr>
                  <tr>
                     <th scope="row">
                        <p>Impressão</p>
                     </th>
                     <td>
                        <p>Preto e branco</p>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
{%endblock%}