{%load static%}
{%include 'lancamento_obra/tabela.html'%}

<thead>
    <tr>
        <th data-field="id" data-sortable="true">Cr</th>
        <th data-field="orcamento" data-sortable="true" data-formatter="Formatter">Orçamento</th>
        <th data-field="retrabalho" data-sortable="true" data-formatter="Formatter">Retrabalho</th>
        <th data-field="empresa" data-sortable="true">Empresa</th>
        <th data-field="cidade" data-sortable="true">Cidade</th>
        <th data-field="descricao" data-sortable="true" data-formatter="Formatter">Descrição</th>
        <th data-field="supervisor_id" data-sortable="true">Supervisor</th>
        <th data-field="finalizada" data-sortable="true" data-formatter="checkFormatter">Finalizada</th>
        <th data-field="indice" data-sortable="true">Indice</th>
        <th data-field="etapas" data-formatter="Formatter">Etapas</th>
        <th data-field="editar" data-formatter="editarFormatter" data-events="editarEvents">Editar</th>

    </tr>
</thead>
</table>
{% block "script" %}
<script>
    function editarFormatter(value) {
        return '<a class="editarBtn" href="javascript:void(0)" title="Like"> <div class="btn-icon" style="background-color: skyblue;"><img src="{% static "icons/pencil.svg"%}" alt="edit"></div></div>'
    }
    window.editarEvents = {
        'click .editarBtn': function (e, value, row, index) {
            loadModal('update_obra', row['id'])
        },
    }
</script>
{% endblock %}
