{% extends app|add:'/base.html' %}


{% block 'header' %}
{%include 'static/imports/graficos.html'%} <!-- Graficos -->
{% endblock %}

{% block 'main' %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <canvas id="myChart"></canvas>
        </div>
        <div class="col-6">
        </div>
    </div>
</div>
{% endblock %}


{% block 'script' %}
<script>
    function pegar_grafico(linha){
        $.ajax({
            url: `${api}/${app}/grafico`,
        type: 'GET',
    data: {
            metodo: 'grafico1',
            parametro: linha
        },
        success: function(a) {
            const ctx = document.getElementById('myChart');
            new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: [{
                        label: 'Hora_50', 
                        data: a,
                        parsing: {
                            yAxisKey: 'hora_50'
                        },
                      },{
                        label: 'Hora_100', 
                        data: a,
                        parsing: {
                            yAxisKey: 'hora_100'
                        },
                      }]
                  },
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: 'Gráfico de horas extras'
                        }
                    },
                    parsing: {
                        xAxisKey: 'mes',
                    }
                    
                }
        
            });
        },
        error: function(error) {
            console.error('Erro:', error);
            alert('Erro ao carregar o grafico.');
        }
    });
}
$(document).ready(function(){  
    pegar_grafico('hora_50')
})
    
</script>
{% endblock %}
