{% extends 'lançamento_obra.html' %}
{% load static %}

{% block 'style' %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<style>
  .edit :hover{
    cursor: pointer;
  }
</style>
{% endblock %}

{%block 'caminho'%}
  <li class="breadcrumb-item" aria-current="page">Visualização</li>
  <li class="breadcrumb-item active" aria-current="page">Colaborador</li>
{%endblock%}

{%block 'header'%}
  <h2>Tabela de Colaborador</h2>
{%endblock%}

{% block 'main' %}
{%include 'lancamento_obra/tabelas/colaborador.html'%}
{% endblock %}