{% extends 'lançamento_obra.html' %}


{%block 'header'%}
<h2>Tabela de Horas por mês</h2>
<button type="button" class="btn btn-success" id="btn">Registrar</button>

{%include 'lancamento_obra/tabela_view.html'%}
<thead>
    <tr>
        <th data-field="colaborador" data-sortable="true" rowspan="2">Nome</th>
        <th data-field="dia" data-sortable="true" rowspan="2">Dia</th>
        <th data-field="obra" data-sortable="true" rowspan="2">Obra</th>
        <th data-field="descricao" data-sortable="true" rowspan="2">Descrição</th>
        <th colspan="6">Horas</th>
    </tr>
    <tr>
        <th data-field="horarini1" data-sortable="true">Início 1</th>
        <th data-field="horarfim1" data-sortable="true">Fim 1</th>
        <th data-field="horarini2" data-sortable="true">Início 2</th>
        <th data-field="horarfim2" data-sortable="true">Fim 2</th>
        <th data-field="horarini3" data-sortable="true">Início 3</th>
        <th data-field="horarfim3" data-sortable="true">Fim 3</th>
    </tr>
</thead>
</table>
<script>
    $('#btn').click(function () {
        parametro = {}
        $.ajax({
            url: API + 'funcao', // URL da sua API no Django
            type: "GET",
            data: {
                'metodo': 'efetividade',
                'parametro': JSON.stringify(parametro)
            },
            success: function (data) {
                toasts('Success')
                $("#table").bootstrapTable("refresh");
            },
            error: function (xhr) {
                toasts('Error')
                console.error(xhr)
            },
        });
    })        
</script>
{%endblock%}