{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>

<meta name="viewport" content="width=device-width, initial-scale=0.8">
<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/bootstrap.esm.js' %}"></script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<link rel="stylesheet" href= "{% static 'css/color.css' %}">
<link rel="stylesheet" href= "{% static 'css/base.css' %}">

<link rel="stylesheet" href= "{% static 'css/sidebar.css' %}">
