<div class="sidenav">
    <h1 class="nome_app">TI</h1>
    
     <div class="accordion accordion-flush" id="accordionFlushExample">
  
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Estoque
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <a href="{%url 'cadastro_colab'%}">| Ver</a>
        </div>
      </div>
  
  
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Serviços
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <a href="{%url 'visualizacao_colab'%}">| Colaboradores</a>
        </div>
      </div>
  </div>
</div>
